[2020-12-24 21:30] ardatan commented on #1339
@tvvignesh How do you write custom mutation?

[2020-12-25 09:08] tvvignesh commented on #1339
@ardatan It is a query to Dgraph. Nothing special. Here `globalDB` is the prefix I use when talking to Dgraph via mesh.

This is how I wrote it when I used encapsulation:

[code]

And when I removed encapsulation, this is how I use it now (which works):

[code]

[2020-12-25 09:18] tvvignesh commented on #1339
@yaacovCR I have not enabled access logs in Dgraph. Anywhere you would like me to add a log in the Mesh SDK rather?

**PS:** This happens not only for specific mutations but all mutations when using encapsulation.

[2020-12-25 09:31] yaacovCR commented on #1339
Dgraph log works, final transformed query.

[2020-12-25 10:12] tvvignesh commented on #1339
@yaacovCR @ardatan I just checked after enabling logs in Dgraph. When encapsulation is enabled, the mutations don't reach Dgraph at all, the queries do. So, there are no logs for mutations but rather I get the error returned as mentioned in the issue above.

[2020-12-25 10:15] tvvignesh commented on #1339
The request:

<img width="379" alt="1" src="https://user-images.githubusercontent.com/1165845/103131784-24d0cf80-46c8-11eb-9e4d-6c1ccf749eae.PNG">

The complete response:

[code]

[2020-12-25 10:15] tvvignesh commented on #1339
Rolling back to prefix now. Anything else you want me to test before that?

[2020-12-25 10:31] tvvignesh commented on #1339
I added a log to the Mesh SDK execution like this:

<img width="457" alt="1" src="https://user-images.githubusercontent.com/1165845/103132373-4df25f80-46ca-11eb-876f-d21a284ee4d7.PNG">

And these are the logs I get:

[code]

[2020-12-25 10:37] tvvignesh commented on #1339
And the result of the above request is nothing but the same error as mentioned in this issue:

<img width="232" alt="1" src="https://user-images.githubusercontent.com/1165845/103132572-28198a80-46cb-11eb-8bac-924cd797a656.PNG">

(And all this without involving any of my code and just using mesh serve)

[2020-12-25 11:05] tvvignesh commented on #1339
The error occurs in the mesh runtime precisely in this line: `const result = await originalResolver(root, args, proxyContext, info);` because I get the same error when logging `result`

[2020-12-25 11:14] tvvignesh commented on #1339
Digging deel the error occurs when composing resolvers, the package from gql tools: `resolversComposition.composeResolvers`

[2020-12-25 11:17] yaacovCR commented on #1339
I think the error you are getting has to do with aliasing the __typename introspection field for mutations. I think the things to see is whether you can submit to dgraph a mutation with __typename as root field, and then try again with an alias....

Although I am not clear if the mutation is not hitting dgraph at all or if it fails validation so it doesn't get logged... Either way, we need to see

[2020-12-25 11:18] yaacovCR commented on #1339
https://github.com/ardatan/graphql-tools/blob/fed008c867e945865449e2d8905aa9e9dfbcc0c1/packages/batch-execute/src/mergeExecutionParams.ts#L98

[2020-12-25 11:22] tvvignesh commented on #1339
Sure. Will try it and reply now. Btw, this is the response of composeResolvers when server starts (not during mutation execution).

<img width="321" alt="1" src="https://user-images.githubusercontent.com/1165845/103133646-8a758980-46d1-11eb-8cfd-59c1d58e17b5.PNG">

[2020-12-25 11:26] tvvignesh commented on #1339
@yaacovCR This is what I get. Any specific value you are looking for?

[code]

[2020-12-25 11:47] tvvignesh commented on #1339
Anyways, no pressure 😅 Rolling it back now to prefix now and will work with it. Maybe this error is caused since nesting the mutations using encapsulation require nesting the resolvers as well.

[2020-12-25 13:06] yaacovCR commented on #1339
Print that document, please :)

[2020-12-25 14:01] tvvignesh commented on #1339
@yaacovCR This is what I see when I print the document:

[code]

[2020-12-25 14:02] tvvignesh commented on #1339
Will be afk for 3 days, going out. Will come back after I return.

[2020-12-25 14:13] yaacovCR commented on #1339
That's a lot of __typename.

But looks valid, maybe send that in to dgraph and see what happens. Might make sense to open up bug in graphql-tools for why so much type name and if that works when submitted directly but not when stitching.

Not sure that this is a mesh issue seems either related to tools or dgraph

[2020-12-25 16:52] tvvignesh commented on #1339
@yaacovCR I don't think the issue is with Dgraph cause the error occurs only when adding encapsulate config from mesh without changing anything in dgraph and not otherwise which means that the error gets fixed by changing the mesh sdk and not dgraph.

But still, as you said I am curious as to why there are these many __typename in the mutation.

[2020-12-26 15:58] yaacovCR commented on #1339
We should be able to prove whether or not is an issue with dgraph by just sending in that mutation. Looks a little weird, but well formed at least to my eye, so I'm a bit not sure why it wouldn't work. If it does actually work then we know it is not an issue with dgraph for sure...

[2020-12-27 03:30] coradinibr commented on #1325
@ardatan, in the sandbox I provided, the Open Weather OpenAPI file has a get(200,404) operation defined (not custom).
As extra validation to your point, I created a mocked json schema and added a custom operation as test, then tried to generate the sdk again. Same error! Easy to reproduce by forking the example provided in graphql-mesh page [here](https://graphql-mesh.com/docs/handlers/json-schema

[2020-12-28 01:10] Maronato commented on #1083
@scorsi could you share how you accomplished it?

[2020-12-28 07:55] scorsi commented on #1083
@Maronato you can found it here : https://github.com/scorsi/graphql-gateway-grpc-services/blob/master/additional-resolvers.js

[2020-12-28 19:07] chompy18 opened #1351 "Mongoose handler does not respect refs, virtual and pre"
The Mongoose API has support for `ref` for a given field, so it can auto populate that ref object based on the id value.
The Mongoose handler does not support it.

Also, Mongoose allows to define `pre` and `virtual` on the schema object - Mongoose handler support for those is TBD based on a chat with @ardatan .

[2020-12-29 16:35] clarkekawakami opened #1355 "grpc handler does not work with int64 type record ids"
I am working with a grpc back end in which all record ids are typed as int64.

The ids in the request messages (when querying by id) is also a int64 which converts to a BigInt in the graphql-mesh schemas.

All Queries by id fail.

If I change the request message id to int32 in the proto, the query is successful.

[2020-12-29 23:41] ardatan commented on #1355
Could you create a minimal reproduction repo?

[2020-12-30 05:37] tvvignesh commented on #1339
@yaacovCR Just came back from a short vacation. Tested what you said by sending the mutation to Dgraph directly. And it throws a validation error like this:

<img width="782" alt="1" src="https://user-images.githubusercontent.com/1165845/103331878-e6536000-4a8d-11eb-9997-635e95c2fd9a.PNG">

I guess it was not logged cause Dgraph cause the validation failed and hence Dgraph did not execute the muta

[2020-12-30 05:53] tvvignesh commented on #1339
@yaacovCR @ardatan Ahh.. Wait a sec. Just noticed this: https://discuss.dgraph.io/t/bug-upmost-typename-in-mutation-finds-no-resolver/11989/5

Looks similar and looks like the Dgraph team is addressing this. What a day 😂

[2020-12-30 06:14] tvvignesh commented on #1339
On a sidenote, may I know why `__typename` occurs so many times? I don't use `__typename` on my end anyways. So, I guess its added by GQL Tools or Mesh during the mutations. Isn't 1 `__typename` enough?

[2020-12-30 07:31] yaacovCR commented on #1339
We don't always add __typename but some transforms require it, and if you are using multiple transforms that require it, we don't check whether it exists before adding it again. This is because the graphql server will coalesce these anyway.... See https://github.com/ardatan/graphql-tools/pull/2225

[2020-12-30 07:45] tvvignesh commented on #1339
@yaacovCR Thanks for the link. Just had a look. So, I will just go with this then considering https://github.com/graphql/graphql-js/issues/2342 has to be implemented for deduplication.

Wondering why mutation works without encapsulate transform then. I guess that does not add `__typename` to the mutations (haven't tested that). Anyways, thanks for the reference.

@ardatan You can close this if you

[2020-12-30 13:31] ardatan commented on #1339
This deduplication can be done on executor level, maybe?
 @yaacovCR Or that deduplication as in that PR can be an option in subschema level??? So that process is done only if someone specifically needs that. What do you think?

[2020-12-30 14:02] yaacovCR commented on #1339
I am wondering if we should just request __typename on every field automatically so that we never have to add or deduplicate....

But I think the most important step forward is to combine as many transforms as we can to do work in parallel so that we do not have to traverse the request/response tree so many times. If we combine transforms in that way, we will add fewer duplicates...

[2020-12-30 14:04] ardatan commented on #1339
@yaacovCR Adding `__typename` sounds good actually.

[2020-12-30 14:37] yaacovCR commented on #1339
I don't have a good feel for this in production for many reasons but it's a question of the trade-off of asking for extra fields that we don't needversus asking for only what we need but having queries contain a few duplicates which will be removed on the server

[2020-12-30 14:54] tvvignesh commented on #1339
Actually having duplicates are fine but it is the number of duplicates which is high here. In the mutation I have shared, the number of `__typename` is 3x the number of fields which I guess can be avoided in some way.

I don't know its impact on the performance since I have no metrics to measure so far. But I feel that rather than adding duplicates and then using a function to remove it, it is bet

[2020-12-30 17:40] santino opened #1360 "Resolvers receive filtered response when multiple openAPI sources are defined"
Hi folks,
I'm exploring Mesh and believe it has great potential; however I'm running into a few issues and this specific one seems to be a severe blocker.

I want to use Mesh to consume several REST services using their Swagger schemas to build a stitched GraphQL schema that I can then extend with additional fields and custom resolvers.

I have implemented a custom resolver that needs to read the

[2020-12-30 20:06] ardatan commented on #1360
The fields needed for computation can be added with selectionSet property with resolvers like below;
[code]

[2020-12-30 22:16] santino commented on #1360
Thanks for your fast response @ardatan.

I did look into `selectionSet` and yes, technically that would work; but I still consider it a workaround as I tried to suggest with my last sentence

A few issues that I see with an approach like this:

1. It is much more verbose; requires more code to be written with unclear strategy to test this extra code
2. Forces to define what we can consider query f

[2020-12-30 22:39] ardatan commented on #1360
`selectionSet` is not a workaround. It is how schema stitching works. Let's say if you use federation there, you would need to define the similar stuff with federation transform on source level.

Actually it explicitly shows what is coming from the source. I don't agree with this.

Maybe you should check how schema stitching works to understand the underlying logic there because `selectionSet` is

[2020-12-30 23:23] santino commented on #1360
Not really, what is coming from the source is defined in the response type. In this case the `selectionSet` forces me to declare what properties I need to perform computation in order for them to be embedded into the query.

Yes, I got that it doesn't make a new query but it embeds those "fragments-like" into the existing query. This is not my concern; my concern is that I should need to explicitl

[2020-12-31 00:32] ardatan commented on #1360
This is not true for GraphQL. In GraphQL, an object type shows what you can get not you always get. It is "operation/query" that shows you what you get. `selectionSet` lets the subschema know what you need for that computed field.

There are different kind of sources. Not all of them sends a fixed response. Plenty of them sends the result regarding to the incoming GraphQL selection set.

I was rep

[2020-12-31 06:00] santino commented on #1360
First of all thanks for your patience and even more for the new transform, I wasn't definitely expecting anything like this in such short time and at the end of the year; so I really appreciate!
I will try this later on, but on the paper it makes a lot of sense

I think I have the problem statement clear now, and that answers the question # 1 I asked in my [first reply](https://github.com/Urigo/gr

[2020-12-31 06:40] ardatan commented on #1360
No :) Mesh handler returns a GraphQL Schema that has all the handler level transformations and stuff in it and that schema has been closed in that level before being sent to the merger. **There is no compability layer, no preprocessing.** There are schemas of the sources and there is a merger that merges those. That's it :)

This is completely a different topic:) To generate code we need to rewrit

[2020-12-31 06:46] #1360 closed

[2020-12-31 08:31] ardatan commented on #1177
You can use [rename](https://graphql-mesh.com/docs/transforms/rename) to rename those fields manually to remove `get` prefix.

[2020-12-31 08:31] #1177 closed

[2020-12-31 08:32] ardatan commented on #1149
We keep all the dependencies up-to-date. So you can open an issue on their repositories instead.

[2020-12-31 08:32] #1149 closed

[2020-12-31 08:34] ardatan commented on #1115
We have replaced JSON pointer parser in OpenAPI handler. Feel free to write here if it is still relevant

[2020-12-31 08:34] #1115 closed

[2020-12-31 08:34] ardatan commented on #1062
I couldn't reproduce the issue. Could you create a reproduction?

[2020-12-31 08:36] ardatan commented on #955
Could you share your `.meshrc.yml` file? @lghinet

[2020-12-31 08:38] #366 closed

[2020-12-31 08:38] ardatan commented on #366
I think you already solved the issue. So closing this :)

[2020-12-31 08:41] ardatan commented on #1190
`transformContext` issue has been fixed in the latest version. Closing the issue for now. Feel free to open a new one with a reproduction if this is still relevant.

[2020-12-31 08:41] #1190 closed

[2020-12-31 08:49] ardatan commented on #1156
The problem is caused due to the wrong root field name;
Here is the fixed one!
https://codesandbox.io/s/mesh-stitching-nojs-issue-forked-edcd4?file=/.meshrc.yml

[2020-12-31 08:49] #1156 closed

[2020-12-31 08:50] ardatan commented on #1120
Now we have `dump-schema --output <filename>.graphql` cli command that exports the schema as an SDL!

[2020-12-31 08:50] #1120 closed

[2020-12-31 08:52] ardatan commented on #1161
@cihati We recently updated the docs for resolvers compositions already. `root`, `args`, `context` and `info` are standard parameters of a GraphQL resolver.
In the config, it takes the name of the file as described in the documentation.

[2020-12-31 08:52] #1161 closed

[2020-12-31 08:54] ardatan commented on #1132
We have updated implicit type definitions with the explicit ones. I think that solved the issue. Thanks for reporting this :)

[2020-12-31 08:54] #1132 closed

[2020-12-31 11:41] ardatan commented on #1360
@santino Also I just released `@graphql-mesh/merger-bare` that merges schemas without wrapping them so you can access root objects as-is only if your data sources don't conflict.

You can install the following package;
`@graphql-mesh/merger-bare`

And add this to your configuration file to use it.
[code]

[2020-12-31 16:28] clarkekawakami commented on #1355
I'd like to set something up but I'm not sure what would be helpful to you.

I suspect that the problem is simply that graphql does not natively support an int64 scalar and when you process the proto files to build the graphql schema, you treat int64 as a custom type.

As I explained, when I changed the original proto file id types in the request messages to int32 (from int64),
the queries worked

[2020-12-31 18:13] bsara commented on #1177
@ardatan shouldn't the default be the standard, not an exception? It seems strange that one would have to do something extra just to adhere to the recommended industry standard.

[2021-01-04 08:43] paales commented on #366
We did! Thanks for reading :)

[2021-01-04 17:00] santino commented on #1360
Hi @ardatan,
today I spent some time with both the solutions you introduced: `transform-extend` and `merger-bare`.

I believe they are a nice addition but there is a main issue:
the functionalities they introduce, respectively extending schema at source level and merging schemas without wrapping, are lost when trying to use other transforms.
If I even try to use the simple `rename` transform, whic

[2021-01-04 17:37] shellscape opened #1373 "Docs: CLI `schema` command incorrect"
This page: https://graphql-mesh.com/docs/getting-started/basic-example#introspecting-your-mesh, incorrectly instructs users to use `graphql-mesh schema...` as a command when that does not exist. Furthermore, the CLI returns `0`, which should not be the case for invalid or non-existent commands. At the very least, it should return `1` and display help.

The docs should be updated to reflect the `du

[2021-01-04 18:03] shellscape opened #1374 "Filter Transform Documentation"
There's a lot of room for improvement of the filter documentation. (And because I don't have an intimate knowledge of how that transform works, I cannot suggest improvements in PRs at this time). For example, if I have this filter configuration:

[code]

Mesh will successfully provide only the `getAssociates` query. However, if I add:

[code]

with the intent of using on the `getAssociates` query

[2021-01-05 01:20] ardatan commented on #1373
The name of the command was wrong; it supposed to be `dump-schema`. I fixed that on the website.
Thanks for reporting this
https://graphql-mesh.com/docs/getting-started/basic-example#introspecting-your-mesh

[2021-01-05 01:20] #1373 closed

[2021-01-05 02:53] ardatan commented on #1360
Merging schemas with wrapping is called `Schema Stitching` :) If schema stitching is used, you should use `selectionSet` and other stitching stuff on the root level. That's necessary. You cannot expect the gateway guesses the schema's internals like if `root` object relies on `selectionSet` or not.
Using `OpenAPI-to-GraphQL` won't change anything because all those transforms will be applied in the

[2021-01-05 10:17] santino commented on #1360
All right, first things first: I managed to get a setup that kinda works for me; so I'm going to summarise in case it is useful for anyone else.

To me is clear that the best thing to do is to extend the schema without wrapping it (to avoid overhead of implicitly dealing with two schemas); this is possible thanks to the `@graphql-mesh/transform-extend` that you introduced; so thank you very much f

[2021-01-05 18:09] ChethanUK opened #1383 "Feature Request | Input Handler for Presto/trinodb.com"
There are multiple input Handlers avilable already like PSQL or Mysql etc, But it will be nice to have one for Presto

Feature Request - Input Handler for Presto/[trinodb](http://trinodb.com/)

[2021-01-05 18:29] ardatan commented on #1383
Would you create a PR so we can support you?

[2021-01-06 17:36] shellscape opened #1390 "REST DataSources Running in Lambda"
I've scoured the repo and the documentation looking for what I might have to do to make this work, but have so far found nothing. Here's the gist of what I'm working on:

- We have several REST services running within a cloud VPC
- Each REST service is running within a lambda, exposed to the world via an API Gateway
- Each REST service lambda handler expects a JSON payload which describes the even

[2021-01-07 20:50] donedgardo commented on #1113
@ardatan I've been able to rename queries and mutations how I described in my comment, but I when I try to rename a mutation to be a query like @santino mentions I bring up the duplicate error.
I have the same problem, the API is a POST when it actually is just fetching data with some parameters as filters.

I have been able to get past this but by extending our query type and resolving using the

[2021-01-08 15:09] shellscape commented on #899
@angelsvirkov would you be willing to put that up on a gist so we can see how you leveraged that?

[2021-01-08 16:57] shellscape opened #1400 "TypeError: Cannot use 'in' operator to search for 'then' in undefined"
When attempting to run `node_modules/.bin/graphql-mesh dump-schema --output .` in the `/examples/federation-example` example directory, after running `npm run start-services`, the CLI outputs an error of: `TypeError: Cannot use 'in' operator to search for 'then' in undefined`

Here's the full stack:

[code]

This is due to the line referenced not checking if the `schemaHeader` variable is undefine

[2021-01-09 00:13] ardatan commented on #1400
It will be fixed in the latest version in a few minutes after CI releases new version

[2021-01-09 00:22] shellscape commented on #1400
thank you

[2021-01-10 11:30] angelsvirkov commented on #899
@shellscape , here is the gist example for `customFetch` . I hope that it helps you :)

[2021-01-12 10:46] kraegpoeth commented on #1142
I need this too. Only way to do is to restart the mesh serve process and that will not be so nice once its deployed to production :/

[2021-01-13 08:13] chompy18 opened #1412 "Allow including external yaml files in .meshrc.yaml"
When using transforms, the .meshrc file gets really big and hard to follow.
Being able to break the meshrc into readable chunks .

Talking to @dotansimha over chat, he suggested:
I think we can eventually add it. YAML does support partials, but not from external files.
Maybe we can try to do that as part of our parsing process.

[2021-01-13 08:45] ardatan commented on #1412
Thanks for the suggestion!
@dotansimha This can be done on `cosmiconfig` side so other projects using `cosmiconfig` like `graphql-config` or `graphql-codegen` can support that.

[2021-01-13 09:23] chompy18 commented on #1412
it would be great if we could:
[code]

[2021-01-13 16:25] chompy18 opened #1414 "OpenAPi handler creates types with the same properties as separate types"
Given a swagger definition, the OpenApi handler creates multiple types that contain the same properties.
Out of those types, they DO use the same 3rd type internally.
This makes using **Fragments** impossible, since fragments require to be defined on a specific type.

[code]

Note, that both `TranslationsListListItem` and `Translation` have exactly the same structure, but are separate types.
Moreo

[2021-01-13 16:30] chompy18 opened #1415 "Allow rename transform to rename multiple types into a single one"
Based on #1414 , one way to tackle the fragments issue is to allow the rename transform to rename multiple type into a single one - that will allow a manual process of renaming only the types that match and use fragments on the resulting type.

So the SDL in #1414 could rename be presented as:
[code]

[2021-01-13 17:29] ardatan commented on #1414
Thanks for opening this issue!
Could you share your swagger file? At least the part has those types?

[2021-01-13 17:57] chompy18 commented on #1414
Here are the relevant paths
[code]

[2021-01-13 18:02] ardatan commented on #1414
Thanks! @chompy18 We'll take a look and get back to you soon!

[2021-01-13 18:08] chompy18 commented on #1414
Cool, thanks.
But I think that regardless,  #1415 can easily solve the fragments issue

[2021-01-14 07:35] chompy18 commented on #1414
Another note that might be important here - when using `$ref` instead of in-line, mesh identifies the types and reuses them as expected.

[2021-01-14 15:03] santino opened #1422 "Renaming fields arguments"
The rename transform allows renaming Types and Field names; which is useful.

However, it would be great to rename also argument names for fields; because when they get automatically generated from OpenAPI-like schemas they can have very long and not-meaningful names.

I cannot entirely tell if `wrap/renameobjectfields` in `graphql-tools` already has this functionality as the [API documentation](h

[2021-01-15 11:42] yaacovCR commented on #1422
It is not yet available... :(

[2021-01-18 15:50] shellscape opened #1435 "ESM Build Broken Missing Export: fetchache doesn't export Request"
See: https://github.com/Urigo/graphql-mesh/blob/4303d22a27690b0d0df6d4804aac2d233c6856a1/packages/utils/src/read-file-or-url.ts#L1

I'm using Rollup to attempt to bundle a project that uses mesh, and I received an error that `index.esm.js` was attempting to import `Request` from `fetchcache` and its `index.esm.js`, but the file doesn't export `Request`. Either `@graphql-mesh/utils` should import f

[2021-01-18 16:27] shellscape commented on #1435
I had missed the `export * from 'cross-fetch'` down the code. That should work fine, and I've created a Rollup ticket for the issue https://github.com/rollup/rollup/issues/3928

[2021-01-18 16:27] #1435 closed

[2021-01-19 16:36] santino commented on #1113
The above PR has been merged and features have been released with [@graphql-mesh/openapi@0.12.0](https://github.com/Urigo/graphql-mesh/releases/tag/%40graphql-mesh%2Fopenapi%400.12.0).

Now we can override default operations from Query to Mutation type, and vice-versa, with the following config:
[code]

@ardatan, this issue can be closed.

[2021-01-19 17:04] #1113 closed

[2021-01-19 17:05] ardatan commented on #1113
Great @santino ! Thanks for this feature!

[2021-01-20 17:04] ddcollins opened #1450 "Json Schema Handler does not support PATCH"
The [documentation](https://graphql-mesh.com/docs/handlers/json-schema#config-api-reference) indicates `PATCH` is a supported method for the Json Schema Handler, however upon usage the following error is thrown:

[code]

Operation config for Json Schema handler:
[code]

[2021-01-20 19:58] ddcollins opened #1453 "Json Schema Handler: Request Error Responses Erroring"
Errors coming back from our REST APIs are not being correctly handled by the aggregate error package while using the Json Schema Handler.

I did a console log on line `555` of `json-schema/index.cjs.js` (see image below), and received output:
[code]
![Image 2021-01-20 at 1 58 03 PM](https://user-images.githubusercontent.com/38921476/105227938-88afb200-5b27-11eb-838f-217df2ff8149.png)

However the

[2021-01-20 21:57] ardatan commented on #1450
Thanks for reporting this issue!
Available in @graphql-mesh/json-schema@0.9.0

[2021-01-20 21:57] #1450 closed

[2021-01-20 22:07] ardatan commented on #1450
A quick fix is on the way. Sorry for that. It will be available soon in 0.9.1

[2021-01-21 13:03] renovate[bot] opened #1458 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid configuration option: packageRules[1].excludePackagePatters`

[2021-01-21 13:52] Burnsy opened #1459 "@graphql-mesh/graphql does not pass through auth-headers."
When trying to pass through auth tokens through header context it does not
.meshrc.yaml
[code]
package.json
[code]
when console.log is called here
[code]

it shows the auth token being passed in as `rawHeaders`  array and `[Symbol(kHeaders)]: {}`

![image](https://user-images.githubusercontent.com/15834048/105359327-3b971300-5bef-11eb-8da0-c4c945b2380f.png)

but it seems like its not being pass th

[2021-01-21 19:31] dac09 commented on #1459
Hey @Burnsy, could you do me a favour and point your graphql-mesh at a url from something like https://webhook.site so we can see the full request that its sending and paste the log here?

Will help work out if there's something off in your mesh configuration, or if there's something unusual in the way redwood handles the request.

[2021-01-21 21:39] ardatan commented on #1459
Fixed in `@graphql-mesh/graphql@0.13.6`!

[2021-01-22 20:23] ddcollins commented on #1453
@ardatan Mentioned this is due to `message` not being within the error object.

[2021-01-24 13:39] AhmadMHawwash commented on #803
Hey @ardatan,

I'm opening this issue again because I can't pass headers to outgoing requests from the gateway,

Explanation:

I try to set context like this
[code]

When trying to access `foo` from the `context` in yaml file as
[code]

What I actually get in the headers is `{context.foo}` as a string, I don't know what it's not parsed as you [commented](https://github.com/Urigo/graphql-mesh/issue

[2021-01-24 14:15] ardatan commented on #803
{ } is parsed as object literals by YAML Parser so you should always use quotation mark for strings. "context" is your GraphQL Context. I saw you're using Apollo Server and you pass entire express context as GraphQL Context. So "context" has "req" that is HTTP Request object. And it has "headers" in it. So this means you can get the header by the following;
"{context.req.headers['header_name']}"

[2021-01-25 08:03] AhmadMHawwash commented on #803
@ardatan Thanks for your prompt reply, but I also tried

[code]

but it's received as `{context.req.headers['cookie']}`

[2021-01-25 09:18] ardatan commented on #803
@AhmadMHawwash I am not sure I follow. Could you explain your problem with a minimal reproduction in a different GitHub issue? Thanks!

[2021-01-25 09:34] AhmadMHawwash opened #1471 "operationHeaders not parsing the context value"
overview:

client --> mesh gateway --> server

Explanation:
I try to set context like this

[code]
When trying to access foo from the context in yaml file as

[code]
What I actually get in the headers is `{context.foo}` as a string in the server, I don't know why it's not parsed.

and when I don't wrap it in double quotations, I receive it as `[object Object]` in the server

I have also tried to d

[2021-01-25 09:39] ardatan commented on #1471
Could you share a reproduction?

[2021-01-25 13:21] germankrause opened #1472 "Passing subscription queries to sources does not work"
I'm trying to use mesh as a gateway, and I want the graphql-subscriptions to work as well as queries. There is a repo with my problem representation: https://github.com/germankrause/mesh-issue.
I'm getting an error: `Cannot read property 'eventtest' of undefined` in `graphql-tools`: `generateProxyingResolvers` function. It's trying to resolve `payload[targetFieldName]`, but payload is `undefined`.

[2021-01-25 13:32] Burnsy commented on #1459
Hello @ardatan

It looks like its still happening

Package.json
[code]

[code]

[2021-01-25 13:49] Burnsy commented on #1471
https://github.com/Urigo/graphql-mesh/issues/1459

this may be related

[2021-01-25 16:10] ntziolis opened #1474 "Bug: FilterSchema does't remove type when all fields filtered (Unit tests is incorrect)"
This test description implies that a type should be filtered out when all fields of the type are filtered out.
https://github.com/Urigo/graphql-mesh/blob/21643d748cac4ed95663f4f41f536aec4dcce02c/packages/transforms/filter-schema/test/transform.spec.ts#L68

However in the string the unit tests checks against the type still does exist:
https://github.com/Urigo/graphql-mesh/blob/21643d748cac4ed95663f

[2021-01-25 17:35] ardatan commented on #1474
@yaacovCR Should we remove the type when it has no fields on it? Or do you have any suggestion for this error?

[2021-01-25 17:45] ardatan commented on #1471
@Burnsy So could you create a reproduction?

[2021-01-25 21:00] ntziolis commented on #1474
If you decide not to remove the type by default. I would suggest either:
- a flag that enables removing types without fields.
- ability to remove root fields explicitly (Query/Mutation/Subscription)

[2021-01-25 21:07] ardatan commented on #1474
@ntziolis We just need to decide if we should remove empty types or remove them explicitly in another transform.

[2021-01-25 22:16] wittydeveloper opened #1477 "JSON Schema handler bug: "Type with name <xxx> does not exists" error while type <xxx> is defined properly"
Hi The Guild 👋🏼

I'm a huge fan of your work and I am currently rewriting my [`spotify-graphql`](https://github.com/wittydeveloper/spotify-graphql/) library using GraphQL Mesh.
In order to achieve similar features, I am heavily relying on the JSON Schema handler to provide the Spotify API definition.

I am currently running into an issue that drove me crazy lately:

[code]

From what I understand,

[2021-01-25 23:10] ardatan commented on #1477
Thanks for reporting the issue :)
It's been fixed in the latest patch release. Let us know if it works.

[2021-01-25 23:18] ardatan commented on #1472
@germankrause In `source.js`, it uses ApolloServer which uses deprecated `subscriptions-transport-ws` package;
See package.json; https://github.com/apollographql/apollo-server/blob/main/packages/apollo-server-core/package.json#L51
See the deprecation note: https://github.com/apollographql/subscriptions-transport-ws/#graphql-ws

Since Mesh uses the new `graphql-ws` protocol, you need to upgrade to

[2021-01-26 01:32] yaacovCR commented on #1474
You can use pruneSchema after filterSchema.

[2021-01-26 02:26] ardatan commented on #1474
@ntziolis Did you try to filter the type itself instead of emptying it?
[code]

[2021-01-26 02:35] ardatan commented on #1474
@yaacovCR Thanks! Now it uses `pruneSchema` to clean the empty types as @yaacovCR suggested. Also @ntziolis is right, I fixed the tests.
https://github.com/Urigo/graphql-mesh/commit/56f4001ccb86eb3e598b963343307bffa63fba52
The patch release will be available soon!

[2021-01-26 02:38] ardatan commented on #1474
Available in `@graphql-mesh/transform-filter-schema@0.8.21`!

[2021-01-26 02:38] #1474 closed

[2021-01-26 02:38] #1477 closed

[2021-01-26 02:41] ardatan commented on #1062
Feel free to open a new issue with a reproduction if it still persists.

[2021-01-26 02:41] #1062 closed

[2021-01-26 05:47] ntziolis commented on #1474
Wow, you guys are fast. Thank you.

@ardatan Not sure if it still matters, but yes I think we did try `!Mutation` as well with the same result.

[2021-01-26 06:35] AhmadMHawwash commented on #1471
@ardatan You can check this link on code sandbox
https://codesandbox.io/s/sharp-sound-07xt5?file=/src/index.ts

We have 2 projects, the gateway and the server,
1. please run both the mesh gateway and then the node server,
2. and try to go to graphql playground and run any query...

You can notice that the value of the header wasn't passed (check the photo please)

![image](https://user-images.gith

[2021-01-26 06:54] ntziolis opened #1481 "Question: Is it possible to filter args?"
We find ourselves a lot in the following situation:
- We are building a new product that is making use of a lot of third party APIs
- These APIs expose the data we wane display in the client, but they are meant for server side use
- Meaning they
   - run with a server side key
   - expose ability to query data the specific client should not have access to
   - expose fields with args that are gear

[2021-01-26 07:01] ntziolis commented on #1481
Adding another approach:
- Ability to configure specific args (say `accountId`) to be server side filled similar to
   - `Authorization: Bearer {context.headers['x-my-api-token']}`
- The args that have server side fills defined would automatically be hidden from the public schema

This would allow for the above use case to be handled within the configuration file only.

[2021-01-26 07:19] ntziolis commented on #1474
Making sure this is not an unintended side effect:
- When removing all fields from an input type
- This removes the input from all args

The mesh starts correctly and I think this would also be the desired behavior but wanted to make sure you are aware.

Somewhat related to:
https://github.com/Urigo/graphql-mesh/issues/1481

[2021-01-26 07:30] ntziolis commented on #1481
Just found out that its already possible to remove args IF they are input types.

Given the following schema:
[code]

One can filter out the entire input type:
[code]

This results in the following schema:
[code]

While this is great it does remove the input type as well as any use of the input type in args from ANY field in the entire graph.

[2021-01-26 09:09] wittydeveloper commented on #1477
I confirm it's fixed!
Thanks @ardatan ⚡

[2021-01-26 09:11] ardatan commented on #1471
![image](https://user-images.githubusercontent.com/20847995/105824616-97192600-5f8c-11eb-884c-92bbecd2e288.png)
https://codesandbox.io/s/ancient-hill-1dp5z?file=/src/index.ts

[2021-01-26 09:22] ardatan commented on #1474
@ntziolis

 The idea is to remove empty types so the fields and arguments that use this type when it is removed.

The second one looks like a different bug. Could you share a reproduction for the second one so we can decide if the issue is on Mesh side or `graphql-tools` side?

https://github.com/Urigo/graphql-mesh/blob/master/packages/transforms/filter-schema/src/index.ts#L39
The first one uses `

[2021-01-26 09:23] ardatan commented on #1481
It is not possible yet :( You can filter out that field entirely and create a new field with `additionalTypeDefs` and `additionalResolvers` for now.
Any PRs and contributions are welcome!

[2021-01-26 10:02] AhmadMHawwash commented on #1471
Well, I think the issue was my package locally! (locally the issue was that the parser wasn't parsing the context)
I installed latest and it works perfect!

Thanks @ardatan

[2021-01-26 10:02] #1471 closed

[2021-01-26 10:06] AhmadMHawwash commented on #1459
@Burnsy Can you try install latest of @graphql-mesh/config? so you can findAndParseConfig

[code]

[2021-01-26 10:17] ardatan commented on #1400
It should be available in the latest version! Let us know if the issue persists.

[2021-01-26 10:17] #1400 closed

[2021-01-26 11:22] germankrause commented on #1472
@ardatan I've used `graphql-ws` on the gateway side, but nothing of the recipes work for my `source`, the best I've got there is `Could not connect to websocket endpoint ws://localhost:3002/graphql` (check `source-with-graphql-ws.js` [in the repo](https://github.com/germankrause/mesh-issue)). But still, with `graphql-ws` on the gateway, I get the same error `Cannot read property 'eventtest' of und

[2021-01-26 12:59] ntziolis commented on #1481
I'm already looking at the source of Filter transformers in the graphql-tools repo.

2 Questions:
- Assuming I would create a FilterArguments transformer it should be PR into the graphl-tools repo?
- When exposing this in graphql mesh do you prefer expanding the existing filter schema transformer or creating a separate transformer?
  - I would prefer extending the existing one since it would allow

[2021-01-26 13:51] ardatan commented on #1481
@ntziolis You can create that transformer in this repo so we can move it to graphql-tools later. You can have that transform in the same package so I agree with you we should have everything in `filterSchema`.

Thank you :)

[2021-01-26 14:43] ntziolis commented on #1481
Ok I will take a swing at it.

To enable the use case I described. Is my assumption correct that:
- if the pk argument is filtered out in the schema exposed by mesh
- its still possible to override the args object with a resolver composition?

[2021-01-26 15:17] Burnsy commented on #1459
@AhmadMHawwash  i have only ran it in servce mode, so i don't get how to do that part!

@ardatan it still hapning with the latest update that `Authorization: "{context.headers.authorization}"` &&
         ` "auth-provider": "{context.headers['auth-provider']}"` are not being passed through to the client
Package.json
[code]
.meshrc.yml
[code]

the headers the endpoint is receiving
![image](https://

[2021-01-26 15:27] ntziolis commented on #1481
It be great if you could have a look at this first naïve stab and let me know if I'm on the right track here. Especially if the return type of the transformer is generally correct.

My understanding is that if a field should be included but changed => return updated FieldConfig

[code]

[2021-01-26 15:57] yaacovCR commented on #1481
This transform would be very welcome at upstream GraphQL Tools. :)

It could probably under the hood use TransformCompositeFields....

[2021-01-26 16:00] ardatan commented on #1459
@Burnsy If you share a reproduction in a repo or somewhere else, I could help you better.

[2021-01-26 20:32] Burnsy commented on #1459
@ardatan

https://github.com/Burnsy/redwood-mesh-bug

here is a test repo that will hopefully show the context not being passed through!

[2021-01-26 21:02] ardatan commented on #1459
@Burnsy Thank you! I'll write back soon!

[2021-01-26 21:56] Burnsy commented on #1459
Awesome! Thanks redwood is going to be a really cool way to implement mesh in the long run! cant wait to get it working right!

[2021-01-26 22:22] ntziolis commented on #1481
Here is the inital version for root fields:
https://github.com/ntziolis/graphql-mesh/blob/filter-arguments/packages/transforms/filter-schema/src/filter-arguments.ts

@yaacovCR I'm totally new to this if you have any pointers in regards how you would envision TransformCompositeFields to be used I'm all ears.

Please note:
- Filtering arguments generally works (there is a simple unit test already as

[2021-01-27 13:12] ntziolis commented on #1481
Here is the PR https://github.com/Urigo/graphql-mesh/pull/1498, its still work in progress as I need input from your end

[2021-01-27 17:24] Israel-Or opened #1499 "Mysql: query by associates return an error"
Let's assume I have these 2 models:
payments:
 - id - primary key
 - organizationId - foreign key for the organization table
organization:
 - id - primary key
 - companyName

Query:
[code]

The error:
[code]
It seems like. wrong SQL query, the query should be:
`"sql": "SELECT companyName FROM organizations WHERE id = 1"
`

Thanks!

[2021-01-27 17:52] ardatan commented on #1499
Could you try the canary version in this PR?
https://github.com/Urigo/graphql-mesh/pull/1500#issuecomment-768460764

[2021-01-27 18:58] Israel-Or commented on #1499
Fixed on this version

[2021-01-27 19:30] ardatan commented on #1499
Available in the patch release!

[2021-01-27 19:31] ardatan commented on #1390
What do you mean by LambdaDataSource and RestDataSource? Mesh can communicate with available handlers and you can also create your own handler for your own data source.

[2021-01-28 14:48] shellscape commented on #1390
@ardatan Thanks for following up here. I opened this issue before I had a full grasp on the internals of graphql-mesh, so I apologize for creating an issue that required attention but ultimately was misguided. Your follow up comment is correct.

[2021-01-28 14:48] #1390 closed

[2021-01-28 19:08] germankrause opened #1505 "Semantic error in readFileWithCache"
Cannot import open API schema using a relative path.
It doesn't check the argument path, instead it checks that `isAbsolute` exists in `path` module:
`const actualPath = isAbsolute ? filePath : resolve(process.cwd(), filePath);`
https://github.com/Urigo/graphql-mesh/blob/master/packages/utils/src/read-file-or-url.ts#L33

[2021-01-28 19:26] germankrause commented on #1505
close

[2021-01-28 20:57] nemanjamilosavljevic-newtron opened #1508 "Error when Consuming Mesh Schema in code"
After following the steps from the [basic example](https://graphql-mesh.com/docs/getting-started/basic-example#consuming-mesh-schema-in-code), when consuming schema, an error gets thrown.
[code]
This, originally, occurred in the live project I'm working on, and no also in a clean CRA installation without any other dependencies nor changes.

OS: Windows 10
Node: 14.15.4
Yarn: 1.22.10
React: 17.0.1

[2021-01-28 21:09] ardatan commented on #1508
We have a React example in here.
https://github.com/Urigo/graphql-mesh/tree/master/examples/openapi-react-weatherbit
 That example you tried will never work because it gets the config from the file system and we don't have an access to the file system in the browser :)

[2021-01-28 21:46] nemanjamilosavljevic-newtron commented on #1508
Hi Arda,
Thanks for this awesomely fast response!

I see that only **openapi-react-weatherbit** doesn't have the `.mashrc.yaml`.
Why is that?

[2021-01-29 00:24] ardatan commented on #1508
`findAndParseConfig` uses the file system. As I said above it is not possible to access the file system from React app itself. We don't have a support to use Mesh config file in browser environments yet. Only programmatic usage can be used on browser environments for now.

[2021-02-03 10:41] Rodeoclash opened #1529 "https://graphql-mesh.com/ not resolving"
The homepage / docs site seems to be down.

[2021-02-03 10:46] dotansimha commented on #1529
Hi @Rodeoclash !
We recently did some DNS changes, so it might take a bit longer to propagate. Can you please try to reset/flush your DNS (based on the machine you are using) and then try again?

[2021-02-03 10:52] Rodeoclash commented on #1529
Hmm, just flushed but I'm still not able to resolve that domain. Weird!

[2021-02-03 11:23] dotansimha commented on #1529
Oh, i think `graphql-mesh.com` works, but `www.graphql-mesh.com` doesn't. I'll check again.

[2021-02-03 17:19] #1508 closed

[2021-02-03 20:38] Rodeoclash commented on #1529
Looks like it just needed some time, it's working for me now

[2021-02-03 20:38] #1529 closed

[2021-02-04 12:53] alexlag opened #1536 "Error for extending federated schema"
So I have `merger: federation` mesh and when I try to add
[code]

with
[code]
 and

[code]

I get `Error: Query.hello defined in resolvers, but not in schema`.

Replacing schema to remoteSchema in this line https://github.com/Urigo/graphql-mesh/blob/61654e9c827c8af319ea8e3cc97e63e62828268e/packages/mergers/federation/src/index.ts#L55 seems to be fixing the issue, but so is assigning typeDefs after

[2021-02-04 16:19] ardatan commented on #1536
Fixed in the latest version! Thanks for reporting the issue :)

[2021-02-04 16:19] #1536 closed

[2021-02-04 16:20] ardatan commented on #1505
Thanks! Available in the latest version!

[2021-02-04 16:20] #1505 closed

[2021-02-04 16:59] trecloux opened #1539 "Investigating latency"
I'm using GraphQL Mesh as a gateway in front of some backend REST APIs.

I experienced some performance issued and started to measure latency, reproducing something similar to my setup in this demonstrator project https://github.com/MOOM-Planet/graphql-mesh-perf-example.

As you can see there, GraphQL mesh is caching almost all backend responses, the test query triggers one call to the backend ser

[2021-02-04 17:26] ardatan commented on #1539
@trecloux Thank you for reporting the issue!
Does the latency decrease if you remove `images` from the selection set?

[2021-02-04 17:31] trecloux commented on #1539
Thanks for the quick reply ;-)
When I remove `images` from the selection set, 75% percentile latency is around 90ms.
It also removes 1000 of the 1300 computed fields.

[2021-02-04 17:32] Israel-Or opened #1540 "TypeError: str.replace is not a function on graphql-mesh serve"
@ardatan
Steps to reproduce it:
.meshrc.yaml:
[code]
Task.model.ts
[code]
and then:
`graphql-mesh serve`

The error is:
TypeError: str.replace is not a function
    at escapeString (/Users/myName/sherlock-viewer-server/dist/plugins/other/visitor-plugin-common/src/enum-values.js:5:16)
    at parseEnumValues (/Users/myName/sherlock-viewer-server/dist/plugins/other/visitor-plugin-common/src/enum-valu

[2021-02-05 11:43] tvvignesh opened #1543 "GraphQL Mesh source incompatible with node versions above 15.0 and breaks when downgraded to 14.0.0"
Hi. I tried cloning the repo and running a `yarn install` which failed cause I was running `node v15.6.0` (latest is `15.8.0`)

<img width="481" alt="6" src="https://user-images.githubusercontent.com/1165845/107029094-7f377280-67d4-11eb-8413-0efe7a743a57.PNG">

I guess the source supports only versions `<15.0` because of federation. Thought of letting you know.

But when I tried downgrading node v

[2021-02-05 11:48] ardatan commented on #1543
@tvvignesh We had nothing to do for federation package :/ So we use `yarn --ignore-engines` while installing dependencies.

CI passes for both 10 and 15. I think it's supposed to pass for 14. Check this;
https://github.com/Urigo/graphql-mesh/blob/master/.github/workflows/tests.yml#L72

When you switch Node versions, sometimes you might need to reinstall `node_modules` after removed it manually.

[2021-02-05 11:56] tvvignesh commented on #1543
@ardatan Yup. I understand what you are saying 😅

Btw, tried it with`--ignore-engines` with both `v15.6.0` and `v14.0.0` and it fails since the URL is denied as mentioned above. So the CI might also fail (not sure).

Btw, I did delete the `node_modules` folder.

[2021-02-05 12:03] tvvignesh commented on #1543
Similar issue reported here: https://github.com/mapbox/node-sqlite3/issues/758

[2021-02-05 12:20] ardatan commented on #1543
@tvvignesh Those issues are pretty old but still this is really interesting. I tried v14 and v15 locally (it takes sometime to build `sqlite` because ) on my Ubuntu machine, it worked.  And CI uses the latest node version and it can install deps with no errors;
https://github.com/Urigo/graphql-mesh/runs/1837583475

On my local, I also see those warnings but if it cannot access the precompiled bina

[2021-02-05 12:22] tvvignesh commented on #1543
@ardatan Sure. Here you go:

[code]

[2021-02-05 12:23] ardatan commented on #1543
It seems that line breaks the script;
`info/bin/sh: 1: python: not found`
Do you have `python` installed on your environment?

[2021-02-05 12:24] tvvignesh commented on #1543
OOPS! Didn't see that. I don't have python. Let me try this again after adding python.

[2021-02-05 12:33] tvvignesh commented on #1543
@ardatan Installed python2.6 and tried it again and it works 👍 We may need to add this to the contrib docs though since seems like mapbox do not have all prebuilt binaries.

Btw, Python2 has already crossed EOL: https://www.python.org/doc/sunset-python-2/ And this asks for python2 to build the source. Is it fine 🤔

[2021-02-05 12:34] #1543 closed

[2021-02-05 13:43] Matt2012 opened #1544 "Problems testing the fhir handler"
I've created a container on codesandbox with graphql-mesh installed. I added handlers for graphql and fhir.
Used the example meshrc.yaml https://codesandbox.io/s/graphql-mesh-fhir-test-9u5jz?file=/.meshrc.yaml
I get lots of unknown json-schema definition errors for all the fhir resources.
Have I missed a step?

https://codesandbox.io/s/graphql-mesh-fhir-test-9u5jz

[2021-02-05 16:52] trecloux opened #1548 "Adding prefix transforner deactivate caching"
When I combine the cache transformer with the prefix transformer, it looks like cache transformer is not active anymore.

It looks like this behavior is not specific to prefix transformer.

I pushed and example on the `multiple-transformers` branch of this demonstrator project https://github.com/MOOM-Planet/graphql-mesh-perf-example/tree/multiple-transformers

[2021-02-06 16:32] dthyresson opened #1555 "Error: OpenAPI - Swagger - Cannot use 'in' operator to search for '$ref' in undefined"
I am trying to use graphql-mesh with the [Orbit API}(https://docs.orbit.love/reference) [https://docs.orbit.love/reference](https://docs.orbit.love/reference) and its [Swagger definition](https://app.orbit.love/api-docs/v1/swagger.json) with the following config:

[code]
When trying the serve, I receive the following error:

```Unable to serve mesh:  Cannot use 'in' operator to search for '$ref' i

[2021-02-06 17:10] ardatan commented on #1548
Cache transform should be on top level. Could you move it to the top level and try again? Maybe we should add a warning for that case.

[2021-02-07 20:03] trecloux commented on #1548
HI @ardatan , thanks for the hint.

I tried but unfortunately, I do not see any impact. Here is the commit https://github.com/MOOM-Planet/graphql-mesh-perf-example/commit/a5b84a3e7292c97d05b4c5881f58b0875ba6f077

[2021-02-08 09:21] ardatan commented on #1548
@trecloux Are you sure the field names are cortect? Aren't they also prefixed?

[2021-02-08 10:14] chompy18 opened #1561 "Add health check to mesh"
Currently, when the Mesh is running as Gateway, the only way to run a health check is to try and access `GET /graphql` but after talking with @dotansimha , it will be good to improve that and allow more flexible API .

[2021-02-08 10:20] dotansimha commented on #1561
I had in mind:

- `GET /healthcheck` - status `200` for valid. status `500` for error. (also with a payload with status of the mesh handlers as JSON response).
- `GET /readiness` - status `200` for ready. status `500` for non-ready mesh.

^ The above should be compatible with K8s deployments as well.

[2021-02-08 13:29] ardatan commented on #1544
It seems fixed in the latest version;
https://codesandbox.io/s/graphql-mesh-fhir-test-forked-smq55?file=/.meshrc.yaml
Thanks for reporting the issue!

[2021-02-08 13:29] #1544 closed

[2021-02-08 14:02] Flowfall opened #1563 "Documentation down and Github Pages 404"
The documentation is 404'ing

[2021-02-08 14:04] ardatan commented on #1563
We've changed recently some stuff on DNS records :) This commit will fix the issue.
Thanks for reporting this
https://github.com/Urigo/graphql-mesh/commit/b9c78d7f844ecc0ebe2c012a52d7ea3f925f5eaf

[2021-02-08 14:24] ardatan commented on #1563
I think it's running now!

[2021-02-08 14:24] #1563 closed

[2021-02-08 15:08] Matt2012 commented on #1544
@ardatan I'm getting another error now: **Syntax Error: Unexpected <EOF>.**
Could you also explain what the issue was ?

[2021-02-08 15:11] ardatan commented on #1544
@Matt2012 It was the changes we did on JSON Schema handler which is used by FHIR Handler under the hood. It seems to work on the codesandbox I shared. Is there anything I am missing?

[2021-02-08 16:37] Matt2012 commented on #1544
@ardatan apologies I forgot to put in a query!

So this simple query works:
[code]

Is there any documentation about doing anything more complicated. E.g. finding a Care Plan based on a Patient ID?

For example

[code]

Won't work because subject is an unknown argument.

However this will work using FHIR REST

`curl --location --request GET 'http://hapi.fhir.org/baseR4/CarePlan?subject=Patient/116

[2021-02-09 07:20] trecloux commented on #1548
@ardatan, the query fields are not prefixed, here is the query type

[code]

[2021-02-09 09:19] tvvignesh commented on #1543
@ardatan Unrelated to this issue, but I got this error when trying to start the server after generating the API Docs with `yarn build:api-docs`

![image](https://user-images.githubusercontent.com/1165845/107342159-de9fc600-6ae5-11eb-9a78-0c12d479f192.png)

Anything I can do on my end to fix it? Without the sidebars file, the website doesn't run anyways.

[2021-02-09 10:28] ardatan commented on #1543
@tvvignesh I had that error before so I fixed it.
Did you get this change?
https://github.com/Urigo/graphql-mesh/commit/3101cbffc4bab7b66f250f9a99197e8f129d42ef#diff-8c5967fd8486f34493710cc39b240aad46536cf4ee421ffd0479e6542db03e36
After this commit, that error should be fixed.

[2021-02-09 10:32] tvvignesh commented on #1543
Didn't update my fork. Will do it 👍

[2021-02-10 11:24] JustusNBB opened #1572 "OpenAPI: Examples are broken"
- https://codesandbox.io/s/github/Urigo/graphql-mesh/tree/master/examples/openapi-stackexchange throws

- https://codesandbox.io/s/github/Urigo/graphql-mesh/tree/master/examples/openapi-javascript-wiki second query throws

- https://codesandbox.io/s/github/Urigo/graphql-mesh/tree/master/examples/openapi-location-weather is missing example queries

- https://codesandbox.io/s/github/Urigo/graphql-me

[2021-02-10 12:33] ardatan commented on #1572
Thanks for reporting the issues :)
Somehow they have invalid status code `default` which is not handled by OpenAPI Handler properly so it's fixed for the first one.
And the second one seems a weird bug happens because we switched to GraphQL Helix. Also fixed!
For the third one, it doesn't use `mesh serve`, so I had to add example query using Apollo Server settings.
Finally for the forth one, CodeS

[2021-02-10 12:34] #1572 closed

[2021-02-10 15:17] ardatan commented on #1561
Available in @graphql-mesh/cli@0.21.0 !

[2021-02-10 15:17] #1561 closed

[2021-02-10 15:18] ardatan commented on #1453
In the latest version you can provide `errorMessageField: detail` to make this working!

[2021-02-10 15:18] #1453 closed

[2021-02-10 17:17] jsBlackBelt commented on #1561
You guys rock!

[2021-02-11 18:17] JustusNBB opened #1589 "Federation example has incompatible dependencies"
The sandbox fails to install: https://codesandbox.io/s/github/Urigo/graphql-mesh/tree/master/examples/federation-example

The configuration to start the four processes seems also to be missing.

Also with newer dependencies (node 12+) I managed to locally create this issue running the gateway process and forgetting/omitting @graphql-mesh/graphql, did not think that to be the issue with this error

[2021-02-11 18:49] ardatan commented on #1589
CodeSandbox doesn't support multiple servers in the project properly so you should clone the code and run it locally. Also `@apollo/federation` and `@apollo/gateway` packages doesn't support Node according to their package.json so you need to install packages with `yarn --ignore-engines` in that directory.

Then you can run services with `yarn start-services` then run mesh with `yarn start-gateway

[2021-02-11 21:42] ddcollins opened #1592 "Naming Convention Transform Breaks Union Type Query"
Adding the naming convention transform:
[code]

Results in the following error:
[code]

When trying to run the following query:
[code]

This query works fine when the naming convention transform is removed.
I am using graphql handler
[code]

[2021-02-11 21:47] ddcollins commented on #1592
It's specifically this transform:
[code]

[2021-02-11 21:54] ardatan commented on #1592
Could you share more details and a reproduction if possible?

[2021-02-11 22:59] ddcollins commented on #1592
This is my mesh config
[code]

We are hooking into Directus which has "many to any relational support"

e.g.

Lesson has "steps", and that step could be a "Lesson Slide", "Lesson Video", etc object.

@ardatan I could potentially get this set up locally and send you an ngrok url for you to tap into to hit the Directus graphql API?

[2021-02-11 23:06] ddcollins commented on #1592
Previous to the transforms the query was:
[code]

My theory is that it's looking for the snake case type name still and not the transformed pascal case

[2021-02-11 23:39] #1589 closed

[2021-02-12 21:42] ddcollins opened #1600 "Rename & Encapsulate Transforms On GraphQL Handler Break Query"
**Describe the bug**
I've attempted to use the `encapsulate` and `rename` transform on my GraphQL source, and each result in an error at query time.
[code]
[code]
[code]

**To Reproduce**
Steps to reproduce the behavior:
- Encapsulate or rename a top level field in GraphQL handler.
[code]
[code]
- Fire off a query.

**Expected behavior**
Query executes successfully.

**Environment:**

- OS: MacOS

[2021-02-13 03:25] ddcollins commented on #1600
@ardatan Here's a repo I set up with instructions on how to replicate this! https://github.com/ddcollins/mesh-directus-replication.

[2021-02-13 03:25] ddcollins commented on #1592
@ardatan Here's a repo I set up with instructions on how to replicate this! https://github.com/ddcollins/mesh-directus-replication

[2021-02-13 16:47] santino opened #1605 "Filter-Schema transform not working with Types"
**Describe the bug**
The filter-schema transform currently works with filtering root fields and nested fields. As a side note, recently also filtering arguments have been added, even though I didn't play with that yet.

However, it does not work with types, even though this is documented.

**To Reproduce**
Use the following Mesh config:
[code]

**Debug**
This is because the type string "!User" is

[2021-02-13 17:12] ardatan commented on #1605
It might be the YAML parser so could you try to pass it with ""?

[2021-02-13 18:21] santino commented on #1605
It is certainly the YAML parser, and yes, it works with quotes around.

Are you happy to keep it like this then?
It doesn't show any error, so it won't be easy to track down what's wrong.
The proposal to declare under Type, `Type.!User`, would bring consistency.

Up to you really.

[2021-02-15 09:30] JustusNBB commented on #1589
Well you should remove the sandbox config in that case then?

How about:
- fixing node version in the sandbox config
- put a little timeout (sleep like 1000ms)  into the gateway process
- start all processes concurrently and watch the sandbox open five browser tabs ;)

I can create a PR one evening if you like ;)

[2021-02-15 09:40] ardatan commented on #1589
@JustusNBB Sure! I'd love to accept a PR :)

[2021-02-15 10:32] ardatan commented on #1544
@Matt2012 Now it is available in the latest version like below;
[code]

[2021-02-16 17:43] benmarte opened #1619 "Add support for Mariadb or edit MySQL handler for Mariadb"
**Is your feature request related to a problem? Please describe.**

I'm trying to use graphql-mesh with a mariadb database, I'm using the MySQL handler and following the instructions and when I try to run `yarn graphql-mesh serve` it gives me this error:

[code]

**Describe the solution you'd like**
Make a MariaDB handler or edit the MySQL one to handle MariaDB

[2021-02-16 23:02] MartyStache opened #1621 "Postgres Handler/Example not working"
When attempting to use the Postgres Handler, I get the following error:

![](https://the-guild.on.crisp.email/file/upload/visitor/c3bf2bb1d62e2800/image_8yx9a1.png)

I did some research and found the item below. Does it indicate you need to some adjustments to make Mesh and Postgraphile more compatible?

![](https://the-guild.on.crisp.email/file/upload/visitor/c3bf2bb1d62e2800/cf6c3ad8a3a5266d7cf0

[2021-02-17 02:31] ardatan commented on #1621
Are you using the latest version `"@graphql-mesh/postgraphile": "0.8.14"`? Because this has been already fixed 2 days ago.

[2021-02-17 09:46] MartyStache commented on #1621
Ah! No. Didn’t realize you guys were already on top of it! Will try it out
and report back. Thanks!

On Tue, Feb 16, 2021 at 9:32 PM Arda TANRIKULU <notifications@github.com>
wrote:

[2021-02-17 13:51] ardatan commented on #1621
Closing for now :)

[2021-02-17 13:51] #1621 closed

[2021-02-17 23:16] dventimi opened #1628 "GraphQL Mesh Apollo Federation Transform to generate federated schema?"
**Is your feature request related to a problem? Please describe.**

The problem I'm trying to solve is this.  Let's suppose there is an implementing GraphQL service owned by another team, which is slow to make changes.  As a company, nevertheless want to enroll all services including that one into managed Apollo Federation.  It would be helpful if there was a way to add a proxy that would declarat

[2021-02-17 23:31] ardatan commented on #1628
@dventimi I am not sure if `apollo client:download-schema` is able to print directives. When I check their source code, I saw they're using `printSchema` from graphql-js and it doesn't revert federation metadata back to directives syntax. You can locally create a federated service without using Mesh then try `client:download-schema`. I am sure it won't print directives there as well.

[2021-02-17 23:48] dventimi commented on #1628
@ardatan cool, well I should be clear that my end goal isn't to download a file copy of the schema.  My end goal is to publish a valid federated schema up to Apollo Studio.  Under [https://www.apollographql.com/docs/federation/managed-federation/overview/](), implementing services are supposed to publish a schema to Studio with `apollo service:push`, but the implementing service can't do that righ

[2021-02-18 00:10] dventimi commented on #1628
@ardatan I think that might actually work!  Except, I get an error related to `Subscription` and I think it's because Subscriptions aren't supported in Federation, but the PostGraphile handler automatically adds a `Subscription` type.  I tried using the Mesh Filter transform, but got an error related to that.  Should I ask about that here, or in the support box the GraphQL Mesh page?

[2021-02-18 00:41] ardatan commented on #1628
You can now disable `Subscription` type completely by setting `subscriptions` and `live` to false in the new version; `@graphql-mesh/postgraphile@0.9.0`.
It'll be available in a few minutes :)

Note: Postgraphile has its own Federation plugin;
https://graphql-mesh.com/docs/handlers/postgraphile#external-plugins-eg-federation

[2021-02-18 00:45] dventimi commented on #1628
Thanks!  Incidentally, it's cool that PostGraphile has its own Federation plugin, but alas that would not be useful in this case.  In this example, PostGraphile is just a stand-in for demo purposes for the implementing service, to be proxied by GraphQL Mesh.  What I _really really really_ want to see is GraphQL Mesh transforms adding Federation.  Now _that_ will be super cool.   I think I'm close.

[2021-02-18 00:50] ardatan commented on #1628
@dventimi Ok it was just a note :)
You can also use these examples by doing some modifications like removing `federation` merger, using only non-federated one, etc)
https://github.com/Urigo/graphql-mesh/tree/master/examples/federation-example

Closing this issue for now! We can move our discussion to `Discussions` :)

[2021-02-18 00:50] #1628 closed

[2021-02-18 10:04] Urigo commented on #1628
@dventimi do you think you can open a draft PR that extends the example to demonstrate what you wish?
We'll help you complete it

[2021-02-18 15:25] shellscape opened #1634 "Breaking Change in filter-schema-transform v0.8.22"
**Describe the bug**

@graphql-mesh/transform-filter-schema v0.8.22 was released with a breaking change labeled as a fix. It technically was a fix, but it severely broke prior behavior that consumers were relying on.

**To Reproduce**

Install v0.8.21 and setup the transform, using the prior filtering glob syntax. Then run the same sample after installing v0.8.22. Observe various errors.

**Expect

[2021-02-18 16:01] dventimi commented on #1628
You got it, @Urigo !  It may very well be the case that GraphQL Mesh can already pull it off, or can get there with a little nudge.

[2021-02-18 21:19] ardatan commented on #1619
@benmarte Thanks for this feature request! Could you try the alpha versions in this comment?
https://github.com/Urigo/graphql-mesh/pull/1627#issuecomment-780918191

[2021-02-18 21:22] ardatan commented on #1634
You're right!  It was a fix as you already realized not really a breaking change. I am so sorry for that. We'll be careful on next releases.

[2021-02-18 21:22] #1634 closed

[2021-02-18 21:29] ardatan commented on #1628
I think this function can output SDL with federation directives;
https://github.com/apollographql/federation/blob/main/federation-js/src/service/printFederatedSchema.ts

[2021-02-18 21:30] benmarte commented on #1619
I'd be happy to, just let me know how I would go about getting the alpha change. Thanks.

[2021-02-20 09:30] santino opened #1641 "Using custom base-dir"
EDIT: Topic changed from providing a custom mesh config file, to properly make use of custom base-dir config.

-----

Currently, Mesh expects a config file named `meshrc.yaml` to be placed in the root folder of the project.

I would like to introduce a new option to set a custom config path so that it can accept config files placed in different directories.
This can be useful if I want a simple bu

[2021-02-20 11:41] ardatan commented on #1641
'getMesh' is not responsible of loading configuration because it is part of runtime package but findAndParseConfig and CLI can do it somehow. By the way, Mesh uses cosmiconfig under the hood so we should check what is the best way to do this. For now, we have '--dir' option that changes the base directory for configuration file.

[2021-02-22 07:34] santino commented on #1641
Yes, I totally meant `findAndParseConfig` and not `getMesh`; of course I know the config package is responsible for handling config.

Wasn't aware of `dir` option, I think that should be enough to do what I'm after.

However, there are still problems, even if I place my `meshrc.yaml` file in a directory other than the root; the files that it refers to won't get imported correctly.
For instance `tr

[2021-02-22 08:15] ardatan commented on #1641
@santino You're right. Base dir can be passed through the handlers and transforms. But for now, cosmiconfig also accepts js files so you can provide absolute paths in js config file(mesh.config.js) with 'path.join' and '__dirname'.

[2021-02-22 08:28] santino commented on #1641
I'm not sure how I feel about moving from yaml to js for config.
I guess it's ok-ish, but it doesn't feel right to do so just to solve the base dir issue.

Should we consider making handlers and transforms "aware" of base dir instead?

[2021-02-22 08:36] ardatan commented on #1641
It was a solution I suggested for now not to block your work. Sure we can do that.
Would you create a PR for this?

[2021-02-22 22:42] ddcollins opened #1658 "Invalid Mesh Config: data/additionalTypeDefs should be string"
**Describe the bug**
I've tried bumping my `@graphql-mesh/cli` version to `v0.23.4` from `0.15.*` but receiving the following error on `yarn graphql-mesh serve`:
[code]

The build seems to halt after that error.

**To Reproduce**
Steps to reproduce the behavior:

List additional type def files as array:
[code]

This configuration worked in previous versions.

**Environment:**

- OS: MacOS 0.15.7
-

[2021-02-22 23:35] ardatan commented on #1658
@ddcollins Does the server start listening the port successfully even with this warning?

[2021-02-22 23:48] ddcollins commented on #1658
@ardatan  It seems to hang after that. I bumped to `0.24.0` and getting the same.  I'm serving at port `5000` and not getting a response back.

![Image 2021-02-22 at 5 46 17 PM](https://user-images.githubusercontent.com/38921476/108784894-f63f6b80-7535-11eb-812b-4429df26c09e.png)

[2021-02-23 06:25] ardatan commented on #1658
Fixed in `@graphql-mesh/cli@0.24.1`! Could you confirm?

[2021-02-23 09:03] santino commented on #1605
Hey @ardatan, if you prefer not introducing the change proposed here; then this ticket should be closed.

[2021-02-23 09:24] ardatan commented on #1605
@santino Sorry for late response! I think we can have but `Type.TYPENAME` and `!TypeName` syntax. What do you think?

[2021-02-23 14:22] ddcollins commented on #1658
@ardatan Error message is gone! However, I seem to hang yet at "Generating Mesh schema", something else must be going on. I'll close and do some investigating.

[2021-02-23 14:22] #1658 closed

[2021-02-23 15:08] ddcollins opened #1666 "Batch Error on Integration w/ Directus.io"
**Describe the bug**
Enabling `batch` for GraphQL Handler connection to [Directus.io](https://directus.io/) results in the error below.
The integration works disabling `batch`.

[code]

**To Reproduce**
Steps to reproduce the behavior:

This repo will get you set up: https://github.com/ddcollins/mesh-directus-replication

Just enable `batch` for the handler in the config.

The mesh config file als

[2021-02-23 18:07] santino commented on #1605
Oh, you mean supporting both; existing and proposed?
So that we don't introduce a breaking change?

Yeah, that should be ok.
Even though we should pick a preferred approach and document that only, so that people picks it up even if we continue to be backwards compatible.

[2021-02-23 18:09] ardatan commented on #1605
Yes we can document the new approach only and mark it deprecated in the code comments to remind us to remove it in v1 :)

[2021-02-23 22:06] Phoscur commented on #1589
@ardatan done! No `--ignore-engines` necessary ;)

[2021-02-24 00:24] ardatan commented on #1481
It's available in the latest version!

[2021-02-24 00:24] #1481 closed

[2021-02-24 00:25] ardatan commented on #1085
It should be fixed in the latest version! Let's know if it still persists!

[2021-02-24 00:25] #1085 closed

[2021-02-24 01:19] ardatan commented on #1355
Sorry I couldn't reproduce it. Could you share a full reproduction in a repo or CodeSandbox? Thanks!
I'm closing this for now. I'll reopen it when you share the reproduction.

[2021-02-24 09:22] santino commented on #1605
This has been merged and released in [@graphql-mesh/transform-filter-schema@0.10.0](https://github.com/Urigo/graphql-mesh/releases/tag/%40graphql-mesh/transform-filter-schema%400.10.0)

[2021-02-24 09:22] #1605 closed

[2021-02-24 09:35] ardatan commented on #1605
Thanks to you @santino :)

[2021-02-25 09:25] santino commented on #1641
This has been merged and released today 25th of Feb 2021 at 08.32 CET, across several packages.
Closing.

[2021-02-25 09:25] #1641 closed

[2021-02-25 09:58] ardatan commented on #1641
Thanks to you @santino ! Awesome work!

[2021-02-25 11:03] santino opened #1696 "Mesh CLI `dir` behaviour"
Recently I started using the `dir` option in order to make Mesh aware of what is the root directory for my executing application.
After #1687 this is now working properly since anything executable (files referred to in config files, handlers, transforms, etc.) is taking into account the root directory of the application.

However, for CLI commands the base-dir is also taken into account, and I don

[2021-02-25 11:09] ardatan commented on #1696
Yes you're right. The path coming from command argument should be considered relative to `dir` but `process.cwd()`

[2021-02-25 15:44] ardatan commented on #1696
The new version will be available in a few minutes!

[2021-02-25 15:44] #1696 closed

[2021-02-26 11:43] valcker opened #1706 "Better error messages from additionalResolvers"
**Is your feature request related to a problem? Please describe.**

When using additionalResolvers in a declarative way, it is easy to may a typo in a targetSource or targetMethod. At the moment, the error messages due to that are not user-friendly.

For example:
* if I will specify a wrong `targetSource` name, the message will be _"message": "Cannot read property 'api' of undefined"_.;
* if I'll

[2021-02-26 19:45] ddcollins opened #1711 "Encapsulate on JSON Schema Handler Breaks API Functionality"
**Describe the bug**
After encapsulating a json schema handler source, the "Api" functionality breaks.

I have a `Me` type with an `instructor` field which is resolved with `TrainingAPI.api.instructor({id: user.crmId})`

However, after encapsulating the TrainingAPI source I now get an error from the `TrainingAPI.api.instructor({id: user.crmId})` call:

[code]

[code]

**Environment:**

- OS: 10.15

[2021-02-27 00:02] ardatan commented on #1711
Source level transforms are reflected to the in context sdk and encapsulation creates another level. Incontext sdk doesn't work well with deeper fields so I don't recommend you to use encapsulate transform in that way. We prefer to use encapsulate when we use Mesh as SDK instead of gateway. Prefix transform would be better choice for you.

[2021-02-28 19:31] alicialics opened #1719 "error when grpc response type with custom message contains package name"
**Describe the bug**
see example below
1. Grpc response type contains package name (GetFoosResponse contains foos)
2. response type has a custom message (GetFoosResponse has Bam)
🕸️ =>  ✖ Unable to start GraphQL Mesh: Type with name "FoosBam" does not exists

**To Reproduce**
Steps to reproduce the behavior:

[code]
[code]

**Expected behavior**
No errors

**Environment:**
https://codesandbox.io/s

[2021-02-28 23:59] sirmyron opened #1720 "response schema for all query operations is set to "String" and $ref to object schema ignored"
**Describe the bug**
I have a stripped down openapi json generated from a Swagger implementation that has two GET endpoints that each should return a list of objects. When I add this to my `.meshrc.yaml` with the openapi handler and start the graphql server, both operations/queries return "String" so executing either of them gives me the error:
[code]

**To Reproduce**
Here is the local schema I'm

[2021-03-01 01:18] ardatan commented on #1720
The issue seems the content type in the openapi schema. Could you change `*/*` to `application/json` under `content`  and try again?

[2021-03-01 01:43] sirmyron commented on #1720
Thanks @ardatan that did the trick.... I guess now I have to figure out how to set that when swagger is generating the schema.

[2021-03-01 01:49] ardatan commented on #1720
`*/*` is too generic for Mesh's current OpenAPI handler implementation because it only supports json response types and form-data and json request types.
https://github.com/Urigo/graphql-mesh/pull/1721
I just created a PR that improves that part in the handler to treat response types (*/* and other JSON compatible ones) as JSON.
So that might fixes your issue :)

[2021-03-01 01:55] ardatan commented on #1720
@sirmyron The following version should work with your original openapi schema;
@graphql-mesh/openapi@0.13.2

[2021-03-01 02:07] ardatan commented on #1719
@alicialics I think `serviceName` doesn't match. I see your service name is `BamService` but you have `foos` in the configuration.

[2021-03-01 02:08] ardatan commented on #1720
Test and the snapshot have also been added;
https://github.com/Urigo/graphql-mesh/blob/master/packages/handlers/openapi/test/json-like-body.test.ts
https://github.com/Urigo/graphql-mesh/blob/master/packages/handlers/openapi/test/__snapshots__/json-like-body.test.ts.snap

[2021-03-01 02:08] #1720 closed

[2021-03-01 02:08] sirmyron commented on #1720
Works perfectly... thanks.

[2021-03-01 09:09] alicialics commented on #1719
@ardatan I am pretty sure serviceName doesn't do anything.  If you change GetFoosResponse to GetFooosResponse then there would be no errors.

[2021-03-01 09:20] alicialics commented on #1719
@ardatan here is a codesandbox demonstrating the bug:
https://codesandbox.io/s/lucid-shape-vp0tg

[2021-03-01 09:33] germankrause opened #1725 "GraphQLHandler.endpoint error: Only absolute URLs are supported"
In `config-schema.json` field `GraphQLHandler.endpoint` has type `string`, but it does not have any validation, so we can put there anything and then the handler will throw `Only absolute URLs are supported`. Shouldn't there be some validation in the config?

[2021-03-01 14:31] mjbcopland opened #1729 "Erroneous console.log in gRPC handler"
https://github.com/Urigo/graphql-mesh/blob/191a663/packages/handlers/grpc/src/utils.ts#L36

[code]

Introduced by https://github.com/Urigo/graphql-mesh/pull/1695/files#diff-8be76c6f3553215d39284d58424b7e10734fcfcfc367cc346ccf2b59b022f4a2. Was this meant to be merged?

Causes unwanted output whenever the handler loads a proto definition. Especially problematic if piping anywhere.

[2021-03-01 15:51] #1729 closed

[2021-03-01 16:05] ardatan commented on #1719
Seems to be working with the latest version!
Thanks for reporting this!
https://codesandbox.io/s/brave-worker-3ne57?file=/package.json

[2021-03-01 16:05] #1719 closed

[2021-03-03 12:31] germankrause opened #1742 "BugFix: use fallbackFormat in readUrlWithCache"
The config parameter `fallbackFormat` should be used as well as in `readFileWithCache`

[2021-03-03 18:08] mjbcopland opened #1744 "returnData does not resolve external values nor errors"
Long overdue followup to https://github.com/ardatan/graphql-tools/issues/2214

## TLDR

Specifying `returnData` breaks resolver merging of @graphql-tools/delegate, causing errors like `enum cannot represent value` and silently ignoring actual errors.

## Steps to reproduce

Repo [here](https://github.com/mjbcopland/graphql-mesh-issue-1744) if you want to just run it (see the readme), but I will de

[2021-03-04 08:46] JustusNBB opened #1747 "SDK Mesh instance with inlined metadata (caching)"
**Is your feature request related to a problem? Please describe.**

I've setup an nx monorepo, and created a lib, which should export a mesh sdk.
For actual endpoints I still need to overwrite the source/metadata, so I am using a (patched) backup metadata file, for two OpenAPI endpoints (until they are fixed) and a backup of a long OData metadata.xml file to shorten the introspection delay.

Now w

[2021-03-04 09:12] santino commented on #1747
Hi @JustusNBB, seems like there are a few things in common between what you're describing and what I've been looking for when starting to use Mesh.

Can you share more context on the "why" you want to generate an instance without handling additional assets?
You mentioned that you don't have endpoints yet, I suppose when you will you'll use those as data sources to be converted into a GraphQL schem

[2021-03-04 09:18] JustusNBB commented on #1747
@santino thanks for the info, I just saw there is also a baseDir argument, I'll be trying your suggestions!

Created my PR anyways ;)

[2021-03-04 10:04] santino commented on #1747
I personally don't have experience with the SDK, but looking at the API, the behaviour shouldn't be different from standard getMesh and so executable schema.

I have some concerns about the change proposed, so I would like to get a better understanding.

What is the nature of your "blocker"?
Is it just that the static files of reference wouldn't be served from the relative directory?
If so, then t

[2021-03-04 10:18] JustusNBB commented on #1747
The actual issue is that I need to configure the nx build properly to copy the metadata. A way would be to treat them like assets, I've seen that approach to copy them from lib to app dirs. I just need to tell my build to include json and xml like source files and keep them alongside, I guess.

It would also be a solution to inline the metadata in a typescript file as a string or object.

I found

[2021-03-04 10:34] JustusNBB commented on #1747
OK I found ts compilerOption `resolveJsonModule` to be useful to enabling copying of JSON metadata.
But if I want to do the same for OData xml files I need to create a postbuild task...
Or is there another way to ship OData metadata within a built sdk lib?

Is there a more efficient way of caching the schema and or mesh instance configuration?

[2021-03-04 10:41] santino commented on #1747
Actually, I started to do some work in terms of building initial cache.
Feel free to have a look at the conversation [here](https://github.com/Urigo/graphql-mesh/pull/1522).

The idea is to introduce a CLI command that you can trigger at build time, and will go through your sources (may they be local files or remote URIs to download original schema from).
Once we collected all sources we can dump

[2021-03-04 10:43] JustusNBB commented on #1747
@santino Yes this goes into the right direction, such a cache artifact would be great for a generated SDK lib to boot faster!

[2021-03-04 10:49] santino commented on #1747
Cool.
This shouldn't take long to be finalised.

I will let you know once available.
In the meantime, I hope your workarounds are enough to not keep you blocked.

[2021-03-04 13:16] coyotte508 opened #1751 "[OpenApi] Infinite recursion"
**Describe the bug**

The openapi handler triggers a "Maximum calls stack size exceeded" error

**To Reproduce**
Steps to reproduce the behavior:

Use the following openapi file (I trimmed down as much as possible while keeping the error):

[code]

**Expected behavior**

No infinite recursion

**Environment:**

- OS: WSL2
- `@graphql-mesh/openapi`: 0.13.2
- NodeJS: 14.15.5

[2021-03-08 18:39] omarzouk commented on #1085
@ardatan I'm running into the same issue: `str.match is not a function`, can you maybe describe the correct way to pass in the argument when its an object and an array?
My input is meant to be something like this:
[code]

Similar to the author, I managed to get it working using an additional resolver file, but I can't get it to work in the yaml

[2021-03-10 09:42] paales opened #1771 "Add a way to access context headers in the cache key for caching"
**Is your feature request related to a problem? Please describe.**

I'm trying to add caching to one of our requests that is requested very often and I want to add a request header to the cache key. We're adding headers like `{ "store": "nl_NL" }`

To achieve this I presume I need to access the context, but the documentatino doesn't mention anything about it. https://graphql-mesh.com/docs/transfor

[2021-03-11 16:40] germankrause opened #1775 "OpenAPI bug: qs is not used"
I have the next handler:
[code]
Expected: queries pass authorization
Actual: all queries return `Unauthorized`

The API requires `?api-key=UWKeJOKBpI514G8pocugANvw5i7AHiw4` in each request. I've found the `openapi.qs` parameter and added the key there. But I get `Unauthorized` anyway.
After some debugging session, I've found that the `qs` is not used in `resolverParams` ([here](https://github.com/

[2021-03-13 01:21] ctoomey opened #1786 "grpc converter doesn't handle nested definitions in includes"
**Describe the bug**
The grpc converter breaks when encountering nested definitions in includes.

**To Reproduce**
Steps to reproduce the behavior:

Per https://codesandbox.io/s/gracious-wilson-37vvv, when attempting to generate the GraphQL schema from the grpc definition, reports the error "error: Unable to start GraphQL Mesh: Type with name "Outer2Inner2" does not exists". This happens when `Out

[2021-03-15 12:28] ardatan commented on #1775
Will be available in a few minutes :)

[2021-03-15 12:28] #1775 closed

[2021-03-15 15:45] paales commented on #1771
Although the issue is still valid that it isn't able to use headers, we've found a workaround (do some caching at the ApolloClient)

[2021-03-15 17:29] mikeconley12 opened #1791 "GraphQL Mesh package extends ObjectConstructor in the global scope and as a result breaks building of my project"
**Describe the bug**
GraphQL Mesh has [the following type definition](https://github.com/Urigo/graphql-mesh/blob/e7a8e47d564e45ec60204dbca6f1f870671506e9/packages/config/src/index.ts#L27-L31):

[code]

This type definition breaks my build. I have errors like that:

[code]

**To Reproduce**

1. Open [this CodeSandbox link](https://codesandbox.io/s/graphql-mesh-demo-emrgw?file=/src/index.ts)
2. Wait

[2021-03-15 19:33] jhuggart opened #1793 ""Channel credentials must be a ChannelCredentials object" when using gRPC handler with useReflection: true"
**Describe the bug**

Receive `Channel credentials must be a ChannelCredentials object` when using the gRPC handler with `useReflection: true` set in .meshrc.yaml

**To Reproduce**

See this [repo](https://github.com/jhuggart/repro-mesh-prob)

**Expected behavior**

Graphl-mesh server starts successfully

**Environment:**

- OS: OSX 10.15.7
- `"@graphql-mesh/cli": "^0.26.0"`
- `"@graphql-mesh/grpc

[2021-03-15 22:25] ardatan commented on #1791
Available in @graphql-mesh/config@0.14.2

[2021-03-15 22:25] #1791 closed

[2021-03-16 08:57] mikeconley12 commented on #1791
Awesome! It was really quick, thanks a bunch :)

[2021-03-16 10:27] tomsej opened #1798 "Input handler for Clickhouse"
It be great to have input handler for [Clickhouse](https://clickhouse.tech). I would do that, but my Javascript skills are limited :(.

[2021-03-16 11:14] mikeconley12 opened #1799 "An option to disable adding the @live directive"
**Is your feature request related to a problem? Please describe.**

I'm trying to use the `graphql-mesh` package with Apollo Federation. And I have the following error:

[code]
I don't see an option to disable adding the `@live` directive to the generated schema.

**Describe the solution you'd like**
It would be great to have an option to disable adding the `@live` directive

**Describe alternativ

[2021-03-16 11:50] ardatan commented on #1799
`@graphql-mesh/cli@0.26.2` will be available without `@live` directive in a few minutes.

[2021-03-16 11:50] #1799 closed

[2021-03-16 11:54] mikeconley12 commented on #1799
@ardatan I'm very grateful, you are really quick! But I don't use `@graphql-mesh/cli`, I use `@graphql-mesh/runtime` instead

[2021-03-16 11:56] ardatan commented on #1799
So it is available with the latest version for `@graphql-mesh/runtime@0.12.0`.

[2021-03-16 11:58] mikeconley12 commented on #1799
thank you, I really appreciate this!

[2021-03-16 15:14] cometkim commented on #1355
@clarkekawakami @ardatan I have exactly same problem with this. and solve this by patching [graphql-scalars](https://github.com/Urigo/graphql-scalars) BitInt

[code]

cc @Urigo

[2021-03-20 11:58] Urigo commented on #1355
Thanks @cometkim !
I'm reopening, any chance of helping us creating a failing test?
(maybe both on GraphQL Scalars and GraphQL Mesh?)

[2021-03-22 08:43] JustusNBB commented on #1747
Nice my PR has been merged! I'd still say we leave this ticket open for your work @santino, I'd like to try it as soon as you think it's ready :)

[2021-03-22 12:03] JustusNBB commented on #1747
I have a fourth source, another OData endpoint which is public (in contrast to the other ones mentioned opening the ticket), let's explore my issue with it a bit more if I can improve my workaround:
Oh great ms uservoice is down, maybe this link works again when it comes back - https://microsoftgraph.uservoice.com/forums/920506-microsoft-graph-feature-requests/suggestions/37700059-add-manager-to-l

[2021-03-23 21:56] JasonMore commented on #1793
@tatemz  Do you have any thoughts on this? I saw you were the original implementor of the feature

[2021-03-23 23:55] ardatan commented on #1793
@JasonMore @jhuggart What happens if you add `resolutions` to your package.json like below?
[code]

[2021-03-24 04:01] kowalej commented on #1422
This would be great.

[2021-03-24 11:21] ardatan commented on #1798
We'd love to merge if anyone wants to submit a PR :)

[2021-03-24 13:14] JasonMore commented on #1793
@ardatan yeah I did, no luck. I'm not sure how to proceed, but below is what I did to let it run locally. What I ended up doing that helped:

`node_modules/grpc-reflection-js/node_modules/@grpc/grpc-js/build/src/channel.jschannel.js`  I commented out the check for the object type. The console.log tells me `>>> typeof credentials object` its just of type object, so my gut says the typescript inform

[2021-03-24 14:34] ardatan commented on #1793
I checked the repo @jhuggart shared. The following changes worked for me. Can you confirm @JasonMore ?
[code]
[code]

[2021-03-24 14:42] JasonMore commented on #1793
@ardatan huh that did work, thanks!. I did have some `yarn link` things going on, I thought I turned them all off but I started fresh just now and your steps worked. I appreciate the help. 🙇

[2021-03-25 10:19] JustusNBB opened #1838 "OData: Duplicate types generated for MS Graph"
**Describe the bug**
OData handler should not generate duplicate sdk method types (`mesh:ts`)

**To Reproduce**
Steps to reproduce the behavior:
MS Graph is the example for OData Handler on the website
[code]
<img width="713" alt="Screenshot 2021-03-25 at 11 01 40" src="https://user-images.githubusercontent.com/73602543/112454938-8224fd00-8d59-11eb-99e4-5dac3cac1569.png">
<img width="1119" alt="Sc

[2021-03-25 17:35] JustusNBB commented on #1838
Playground https://github.com/Urigo/graphql-mesh/tree/master/examples/odata-microsoft does not work for reproduction
Adding:
[code]
Results in:

[2021-03-25 23:19] hc-12 opened #1841 "Generated typescript type output order not stable"
The order content of generated typescript file is not consistent.

The end goal is to be able to compare the generated type file in CI.

**To Reproduce**
Steps to reproduce the behavior:

Run this command a couple of times
[code]

The content order is different each time

**Expected behavior**

Order of file content should be consistent with each run, given that there's no graphql API changes.

**

[2021-03-26 11:43] S-Stephen opened #1846 "Oracle Handler"
**Is your feature request related to a problem? Please describe.**

Graphql-mesh looks like a great solution. We have many services which run on various databases, one of which is Oracle.  Providing an Oracle handler would mean that Graphql-mesh could query across all our datasources.

**Describe the solution you'd like**

I would like to an Oracle handler

**Describe alternatives you've considere

[2021-03-26 13:19] coopbri opened #1847 "Conditionally Disable Automatic Browser Popup"
**Is your feature request related to a problem?**
Yes, in terms of user/developer experience.

**Please describe.**
The automatic browser popup can be jarring when developing with `mesh serve`. I think it would be useful to conditionally disable it.

**Describe the solution you'd like**
It would be helpful to have the option to disable the automatic browser popup when executing `mesh serve`, e.g.

[2021-03-26 16:06] jhuggart commented on #1793
Thanks for your help @ardatan ! This resolves the `ChannelCredentials` issue. But we immediately run into another where the response is:

`Unable to start GraphQL Mesh: duplicate name '.google.api.http' in Type .google.protobuf.MethodOptions`.

Any idea what may be causing that? Should I open up another issue for this?

[2021-03-27 14:44] cometkim commented on #1355
@Urigo This is a problem with only graphql-scalars.

BigInt scalar's payload contains `n` suffix and removing it makes everything works fine.

Changing this requires a breaking change. it will have some impacts on existing BigInt scalar users.

[2021-03-27 16:36] cometkim commented on #1355
Oh... I'm not sure at which layer this is causing the problem.

The int64 field in the input was completely missing in the actual network request, so I assumed the payload was wrong and fixed it, but the result of BigInt .toString() is fine actually.

I patched the parseLiteral's result to explicitly call toString() to return a string rather than an object, and everything works fine.

[2021-03-29 11:40] andra-sava opened #1860 "Error on Json.parse(body) for successful responses with no contents (Eg. 204-No Content)"
Gql-mesh is crashing when receiving a response of type 204 No Content.

**To Reproduce**
Create a POST to an Open Api which responses with success but sending not content back.

The problem is in: resolver_builder.ts, line 620
![image](https://user-images.githubusercontent.com/73701528/112831195-4319e300-909c-11eb-92f3-41d46d70d68f.png)

**Expected behavior**
The response should pass even if it ha

[2021-03-29 14:55] santino commented on #1747
Hi @JustusNBB,
a quick note to let you know that work for the introspection cache, mentioned above, has been completed.
Please refer to the newly introduced [documentation page](https://www.graphql-mesh.com/docs/recipes/introspection-cache) for more info.

As for your other point, to me, it feels like you want to add a new field "manager" to your "User" type; if I'm getting things right.
In this c

[2021-03-30 09:44] cometkim commented on #1355
I cannot share the full my environment, but here's some brief

I have grpc service I wanna integrate, and the proto file look like this

[code]

And I tried to use GraphQL api generated by graphql-mesh with this query

[code]

The query runs successfully, but the request failed on the server side and I returned an error like:
[code]

That because, the `regionId` (the BigInt field) is actually not

[2021-03-30 09:47] ardatan commented on #1355
@cometkim You're right it is a breaking change. First we need to see a minimal reproduction as a repo or CodeSandbox.

[2021-03-30 09:54] cometkim commented on #1355
I've try to trace `BigInt.prototype.toJSON` and `BigInt.prototype.toString` but both don't run while `coerceBigIntValue` is called.

[2021-03-30 15:37] JustusNBB commented on #1747
I get the idea, but then I have to implement a resolver with a manual join too right?
Or does something alike:
[code]
work without an additional resolver?
The beauty of the metadata fix is that the join (second query) is already implemented, just not declared as returning user attributes. Every other approach (like doing this with axios or msal) requires two separate queries while graphql-mesh sti

[2021-03-31 10:12] ardatan commented on #1355
@cometkim Any chance for a minimal reproduction as a repo or CodeSandbox?

[2021-03-31 13:18] ardatan commented on #1847
Now we have an option `browser` under `serve` config so you can disable it;
https://github.com/Urigo/graphql-mesh/blob/master/packages/cli/src/commands/serve/yaml-config.graphql#L66

[2021-03-31 13:18] #1847 closed

[2021-03-31 13:19] ardatan commented on #1846
That sounds really cool feature for GraphQL Mesh!
We'd love to help and accept any contribution if someone decides to create a draft PR!

[2021-03-31 13:19] ardatan commented on #1742
We have it in the latest version!
Thanks @germankrause <3

[2021-03-31 13:19] #1742 closed

[2021-03-31 15:43] alk-mandrianarijaona commented on #1847
It didn't work for me. The browser is still automatically opened with my `.meshrc.yaml` being :
[code]

[2021-03-31 15:46] ardatan commented on #1847
@alk-mandrianarijaona Do you have the latest version of `@graphql-mesh/cli`?

[2021-03-31 15:48] alk-mandrianarijaona commented on #1847
Yes I just `yarn upgrade @graphql-mesh/cli@latest` and I have `0.29`

[2021-03-31 15:56] alk-mandrianarijaona commented on #1847
@ardatan I think I found the issue, I will create a PR and tag you there

[2021-03-31 16:04] mikaoelitiana commented on #1847
@ardatan I made a PR to fix this #1873

[2021-03-31 16:10] ardatan commented on #1847
Thanks! Fix will be available soon in `@graphql-mesh/cli@0.29.1`

[2021-03-31 16:15] alk-mandrianarijaona commented on #1847
@ardatan ok thanks

[2021-04-01 05:27] ntziolis opened #1877 "Allow setting base directory when calling `getMesh`"
When pwd != the directory of the entry point of the app the path of referenced is files in the mesh config would have to be changed between environments. For example:
- nx + nestjs + graphql + mesh (added via `getMesh`)
  - in development when serving
     - pwd is {workspaceroot}
     - the files being served are located (by default) in {workspaceroot}/dist/apps/myapp/
  - in production
    - pwd

[2021-04-01 07:22] santino commented on #1877
Hi @ntziolis,
I believe you should already be able to do what you're after.

My recommendation is to place your Mesh Config file (.meshrc.yaml) in the director you want to set as a base-dir.
Then you can tell Mesh to use that as a base directory like this:
`findAndParseConfig({ dir: yourBaseDir })`

Setting base directory is indeed already supported, and it works also on CLI commands, like this:
`

[2021-04-02 08:19] sahilprasad opened #1884 "Cannot add google/api/annotations.proto, gRPC handler fails with name .google.api.http"
**Describe the bug**

I can't annotate RPC methods with `google.api.http`, which is necessary when working with libraries such as [gRPC Gateway](https://grpc-ecosystem.github.io/grpc-gateway/).

Specifically, I see this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

I have modified the existing gRPC example to reproduce this bug.  See here: https://github.com/sahilprasad/graphq

[2021-04-02 08:35] sahilprasad commented on #1793
@jhuggart I ran into the exact same issue, did you ever find a way to get both graphql-mesh and grpc gateway to work together?

[2021-04-02 08:54] ntziolis commented on #1877
Hi @santino,

this is what we tried at first. When using `findAndParseConfig({ dir: yourBaseDir })`, the config is successfully found and parsed.
However the resulting configuration object does not retain the `dir` information (we inspected it during debugging). So when using this config object to call `getMesh`, the latter has no way of knowing what the dir value was that was used to find and par

[2021-04-02 09:39] ardatan commented on #1877
@ntziolis Each handler can m individually take `baseDir` parameter;
[code]

[2021-04-02 09:41] ardatan commented on #1793
Let's continue the discussion there
https://github.com/Urigo/graphql-mesh/issues/1884

[2021-04-02 09:41] #1793 closed

[2021-04-02 10:03] ntziolis commented on #1877
I apologize. Before filing this issue I thought I ensured to install the latest versions of all mesh libs but I must have forgotten to specify `@latest`.... _shameonme_

For anyone finding this:
The reported issue does NOT exist in the current version of the libs anymore. Providing the base dir to find and parse config as @santino suggested works exactly as intended.

[2021-04-02 10:03] #1877 closed

[2021-04-02 13:41] mbazos opened #1887 "grpc input handler and issues with reflection API for `grpc.health.v1.Health`"
This is my first foray into graphql-mesh and I wanted to add an existing grpc service using the reflection api. I was abel to get it working by modifying @graphql-mesh/grpc/index.cjs.js ~line 215 to only fetch the service I am interested in as the source. The relevant code is here:
[code]
The code above 'skips' the ServerReflection API but it seems to pickup the `grpc.health.v1.Health` which cause

[2021-04-02 15:26] ardatan commented on #1887
Thanks for reporting the issue!
I created a PR to ignore that kind of packages `grpc.*`.
Could you try with this version?
`@graphql-mesh/grpc@0.12.0-alpha-75e3b9a00.0`

[2021-04-02 15:40] ardatan commented on #1887
Thanks for reporting the issue!
I created a PR to ignore that kind of packages `grpc.*`.
Could you try with this version?
`@graphql-mesh/grpc@0.12.0-alpha-51fdf6840.0`

[2021-04-02 15:45] germankrause opened #1889 "Bug: too many resolver calls"
I've created a simple gateway with one source which is covid statistics GraphQL-API. I want to track the latency of each resolver, so I've subscribed to Mesh pubsub events. Then I've seen that Mesh does too many calls: for each resolved field it makes a request again, though it has already received everything I've queried. I've dove into debugging and it appeared, the problem is possibly in the `c

[2021-04-02 15:49] santino commented on #1877
I see, that makes sense now.

For reference, the issue you reported was fixed with [this PR](https://github.com/Urigo/graphql-mesh/pull/1687).
The release with the corrected behavior is available since the 25th of Feb 😉

[2021-04-02 16:08] mbazos commented on #1887
Just did a quick check and I it's not working here is the stacktrace:

[code]

I will try to debug this later if you don't get to it first

[2021-04-02 16:15] ardatan commented on #1887
It seems `@graphql-mesh/grpc` not installed properly. Could you check if it is under `node_modules`?

[2021-04-02 16:17] ardatan commented on #1889
@germankrause Thank you for reporting this! That seems a good point! I'll dive into it.

[2021-04-02 16:26] ntziolis opened #1891 "Source level resolver compositions are not applied (transform-resolvers-composition)"
Resolver compositions on source level are ignored, at least for a graphql source.

**To Reproduce**
Steps to reproduce the behavior:
- start [this codesandbox](https://codesandbox.io/s/lucid-rosalind-k0ok5?file=/.meshrc.yml)
- the config sets up resolver compositions for all queries on both:
   - root level of config
   - source level of config
- the composition resolver code does nothing besides

[2021-04-02 17:32] ntziolis commented on #1891
I think I just found the reason for the issue we were seeing, as outlined here:
https://www.graphql-mesh.com/docs/getting-started/mesh-transforms/#implications

A bit further down it is outline that compositions do not support wrap mode:
![image](https://user-images.githubusercontent.com/265338/113438908-d418f300-93e9-11eb-863f-85ff452bb570.png)

Based on the above, are we correct in the assumptio

[2021-04-02 21:05] mbazos commented on #1887
My fault I had the wrong syntax for the specific version in my package.json. Anyways the fix works! Thanks fo the quick reply on this.

While I have your attention wanted to get your thoughts on something. Was thinking of running graphql-mesh in a container and in a kubernetes pod as a side-car to a native grpc service.

A few questions:
1. is this a terrible idea :)
2. can you point graphql-mesh

[2021-04-02 22:05] santino commented on #1891
I don't have experience with resolvers composition transform, but I believe the fact that it doesn't support wrap mode is most likely the issue.

Out of interest, I wonder why you have closed the issue, if you found an alternative solution it might be worth sharing with future readers.
I thought you might try to use Resolvers Composition directly from graphql-tools, [doc available here](https://ww

[2021-04-03 00:47] coopbri opened #1894 "Mesh cannot be accessed when running in Docker on @graphql/cli versions >= 0.20.0"
**Describe the Bug**

Since `@graphql-mesh/cli` v0.20.0, the mesh (as gateway) cannot be accessed when running inside of a Docker container. Versions before v0.20.0 (e.g. v0.19.2) work.

**To Reproduce**

Steps to reproduce the behavior:

1. Create the following files:
- `Dockerfile`:
[code]
- `package.json`:
[code]
- `.meshrc.yaml`:
[code]

CodeSandbox containing the above files: https://codesand

[2021-04-03 10:12] ntziolis commented on #1891
@santino I closed the issue as I realized this wasn't a bug but working as designed and documented.

That said I reopened since you mentioned an interest in potentially supporting this use case. In my opinion it would be very useful to be able to apply compositions on any type of source.

The larger use case is the following:
- In todays environment a lot of times third party apis are used in appl

[2021-04-03 15:05] ardatan commented on #1894
I think you mean `@graphql-mesh/cli` by `@graphql/cli`.
Could you try it with the following change after updating to the latest version `@graphql-mesh/cli@0.29.1`
[code]

[2021-04-03 15:06] ardatan commented on #1887
You can use environmental variables inside `.meshrc.yml` file like below;
[code]

[2021-04-03 15:11] ardatan commented on #1887
Bug fix for `grpc.*` packages are available in `@graphql-mesh/grpc@0.12.0` Thanks for your contribution!

[2021-04-03 15:11] #1887 closed

[2021-04-04 00:09] coopbri commented on #1894
Oops, you are correct, I meant `@graphql-mesh/cli`. Updated the original post to prevent confusion in case people look at this in the future.

That worked! Thank you, Arda.

[2021-04-04 00:09] #1894 closed

[2021-04-05 11:15] ntziolis commented on #1891
@santino If the goal is to apply all kind of transforms on handler / source level (incl. graphql data soruces) there are 2 options:
- Either implement both `warp` and `bare` for all transforms so they can also be used with graphql sources
  - This would likely entail breaking changes to the config format as well (eg in case of composite resolver)
  - As well as mean that any future or custom built

[2021-04-05 11:41] santino commented on #1891
Thanks for your comments @ntziolis

I personally believe we should stick with "wrap" mode when it comes to handling GraphQL sources and I found applying transforms at the source level preferable, with the benefit of delivering polished sources ready for the stitching process.
So the solution I would personally pick up would be along those lines.

I will review the conversation during the week (rig

[2021-04-05 18:00] yaacovCR commented on #1891
Also not a contributor to `graphql-mesh`, but I help out here and there with the upstream `@graphql-tools/wrap` and `@graphql-tools/stitch` libraries.

I can comment on why we don't use `bare` transforms (or at least my understanding of `bare` transforms) in those packages (which are all graphql sources). One reason is ok-ish, and one is so-so, neither is insurmountable as it relates to `graphql-m

[2021-04-05 20:09] ntziolis commented on #1891
@yaacovCR Thank you for these insights. Haven yet fully digested all the information will have another look tmr. bright and early.

@santino Before I saw your reply I already went ahead and did a quick and dirty version of what I was trying to convey before. Key part piece is that handlers have a new `warpOnly` property, based on which the `getMesh` method has different handling.

Have a look here

[2021-04-06 04:05] sahilprasad commented on #1884
Wasn't able to get it to work.  For people that may encounter this issue, here's my workaround:

- Remove the import of `"google/api/annotations.proto"` from your file(s).
- Define your `google.api.http` annotations in a separate YAML file ([docs](https://cloud.google.com/endpoints/docs/grpc/grpc-service-config#annotations_http_rules_only))
- Then, when you're building the gRPC Gateway, pass in th

[2021-04-06 06:41] cometkim commented on #1355
@ardatan @Urigo I suspected protobufjs so I planted the tracing log there.

see here:
- https://github.com/protobufjs/protobuf.js/blob/7b1efdb8b6f8a677b8770296f750c47763e33aaf/src/util/longbits.js#L90
- https://github.com/protobufjs/protobuf.js/pull/1557

so far, If an int64 value is passed as an object, protobufjs expects it to be encoded in the format `{ lo: number, hi: number }`.

If the format

[2021-04-06 09:53] nemanjamilosavljevic-newtron opened #1906 "Reload server after change"
**Is your feature request related to a problem? Please describe.**

Currently, after every change, for example in the .yaml file, the `mesh serve` has to be restarted for the change to be applied.

**Describe the solution you'd like**

With each change the changes to be persisted.

[2021-04-06 10:03] santino commented on #1906
Surely this can be baked into the `serve` command for convenience.

However, in the meantime, you can simply implement this with [nodemon](https://github.com/remy/nodemon).
You could take inspiration from the following 2 commands to be configured in your `package.json`

[code]

You'd just need to install nodemon as a dev dependency.

[2021-04-06 12:12] nemanjamilosavljevic-newtron commented on #1906
Thanks, @santino, this helps a bunch.

As we've both agreed, this should be baked into the serve command for convenience. On top of that, the improvement would be that the currently opened graphiql is reloaded (it would be great if it would be hot reloaded), and not opened in a new tab.

[2021-04-06 15:07] badeAdebayo commented on #1884
Having this same issue as well when using useReflection option

[2021-04-06 17:22] nemonemi opened #1907 "additionalResolvers yaml configuration not working"
**Describe the bug**

Adding a yaml configuration for the `additionalResolvers` doesn't work.
However, it works if passed as a javascript file.

**To Reproduce**
Steps to reproduce the behavior:
* clone the repo https://github.com/nemanjamilosavljevic-newtron/graphql_ensemble
* install dependencies for
  * /gateway
  * /backend_services
    * /authors
    * /books
* run the services and the gatewa

[2021-04-06 17:57] nemonemi opened #1909 "The "custom" property not documented well enough:"
**Describe the bug**

I would like to mock the API for development by leveraging the graphql-mesh.
This doesn't seem to be working by following the API provided in the documentation - https://www.graphql-mesh.com/docs/transforms/mock/.

The API documentation isn't quite clear on how the mock could be provided by using the `custom` property.

![image](https://user-images.githubusercontent.com/77624

[2021-04-08 10:03] JustusNBB commented on #1838
I need help/would like to help to resolve this issue, any pointers? @ardatan, @santino? Can you reproduce it?

I'll do some more testing/comparison with microsoft's official client in meanwhile. Maybe it's just a bad idea to consume MS Graph via GraphQL(-Mesh).

[2021-04-08 11:00] nemonemi opened #1919 "Improving the documentation regarding Typescript types generation"
The documentation steps are out of order and the documentation states that it is possible to choose how the types should be generated, but the provided API does not.
https://www.graphql-mesh.com/docs/recipes/typescript

[2021-04-08 11:14] nemonemi opened #1923 "Generating Typescript types fails with "no such file or directory""
**Describe the bug**

In a basic attempt to generate types I've encountered an error

**To Reproduce**
Steps to reproduce the behavior:
1. clone the repo at the branch describing the bug https://github.com/nemanjamilosavljevic-newtron/graphql_ensemble/tree/generating-typescript-types
2. install dependencies of the /gateway
3. run the `yarn generate-types`
4. observe the error
![image](https://user

[2021-04-09 06:11] santino commented on #1891
Didn't manage to discuss this with the Mesh team yet, but I am going ahead and ​just taking a look at your codesandbox.
I think the solution should be simple, let me try to come up with a draft.

[2021-04-09 06:16] ntziolis commented on #1891
@santino Just to ensure there is no misunderstanding. The codesandbox uses the currently released graphql-mesh libs. In order to tests the changed code above I downloaded the codesandbox and used npm link to use the changed graphql-mesh libs to run it.

Please let me know if I can aide this effort in any way, as mentioned before me and my team are willing to contribute significant time to this pro

[2021-04-09 08:03] santino commented on #1891
Yes, that was clear 🙂

I have now raised #1928 as a proper solution to this issue.
Let's see how the team receives it 😉

[2021-04-09 08:32] ntziolis commented on #1891
@santino Looking forward to hearing what they think. With that in wrap being the default, but bare being the more performant option, it would be nice to:
- globally override this default
- while at the same time on datasource level fall back to warp mode if the data source doesn't support

This would keep the amount of configuration to a minimum in regards to having to specify modes. As well as re

[2021-04-09 08:43] santino commented on #1891
I like the idea, potentially we could just add a new property to the root of mesh config that sets the default transform mode.
Then within each transform, you can override it as you wish.

It sounds good, but obviously, right now only two plugins support both modes, and with resolvers-composition it would be three.
Anyway, as transforms are applied across several sources I suppose it would still m

[2021-04-09 08:58] ntziolis commented on #1891
Sry of not clear the above only applies when all transforms actually support both modes. Will open another issue to cover both:
- expand dual mode support for to remaining transforms
- allow changing the default mode (incl. handling fallback for data sources that don't support bare)

[2021-04-09 09:51] JustusNBB commented on #1747
Does not look to get fixed any time soon on microsoft's side: https://docs.microsoft.com/en-us/answers/questions/335590/ms-graph-odata-schema-metadata-for-manager-is-a-di.html

It confirms though, manager is not an addition to the schema: manager is by default a DirectoryObject but it can also be of the user or orgContact resource type.
I am looking for the schema transformation allowing me to swi

[2021-04-09 10:19] JustusNBB commented on #1747
@santino sorry for hijacking this ticket with this, it has gone off topic a bit. It only concerns the main issue in how much access we want on the introspection cache. And you asked for my blocker, I am looking for the right approach (to get data in general) and this ticket is a blocker: #1838

What do you think of the idea to diff an existing cache against a lazy introspection result to audit api

[2021-04-09 10:33] ntziolis opened #1930 "Allow configure `mode` default + support all transforms on all sources"
Part 1:
As of right now `wrap` is default mode for transforms. If a `bare` mode is supposed to be used it needs to be configured for each transform individually.

We propose adding the ability to override this default:
- on root level of config
- and (potentially) on source level config

Part 2:
As of right now not all transforms can be used with `graphql` sources due to not supporting `wrap` mode

[2021-04-09 17:13] santino commented on #1930
Some quick comments.
The only transforms that do not support wrap mode are: cache, extend and snapshot
I tested and they do not work with GraphQL sources.

Actually extend is not meant to be used with GraphQL sources, it has been introduced purely to offer a way to do schema extensions to bare schemas.
For schema extensions that work across all sources the approach is not to use the transform, but

[2021-04-12 11:19] ardatan commented on #1923
I think it cannot find `src/generated` path. Working on a fix that creates the necessary path recursively with mkdir.

[2021-04-12 11:23] ardatan commented on #1909
Could you update the packages and try again?

[2021-04-12 11:41] nemonemi commented on #1909
I have updated the repo and tested it. No noticeable change in the behavior.
The repo, above, is now up to date with the latest versions of the libraries.

[2021-04-12 12:21] nemonemi commented on #1923
The file is getting generated. Thanks!

[2021-04-12 12:21] #1923 closed

[2021-04-13 08:52] ardatan commented on #1907
I think you don't need this line(returnData)
https://github.com/nemonemi/graphql_ensemble/blob/be4bc902c21e19032a840fae621bc76f79c83ac7/gateway/.meshrc.yaml#L25

[2021-04-13 09:27] nemonemi commented on #1907
You are right!
I have misunderstood the documentation.
Are there any plans to improve upon the documentation? For example, when should one use the `returnData` and when not to.

[2021-04-13 09:27] #1907 closed

[2021-04-13 09:32] nemonemi commented on #1909
Also, I have to ask, how does one mock mutation? What's the API for mocking mutations?

[2021-04-13 16:05] benmarte commented on #1619
Any update regarding this? Can I get instructions how to get my hands on the alpha version so I can test?

Thanks.

[2021-04-14 08:28] #1860 closed

[2021-04-14 15:37] jhuggart commented on #1884
Thanks for the workaround @sahilprasad ! That worked for me. Now I've just gotta figure out why `protoc-gen-openapiv2` doesn't generate proper docs when passing `grpc_api_configuration`arg.

[2021-04-14 18:26] Davenporten opened #1957 "Unsure how to make env vars available for use in the .meshrc.yaml."
I'm trying to use env vars in the .meshrc.yaml file, like it shows in the docs: https://www.graphql-mesh.com/docs/handlers/graphql#from-environmental-variable

I've tried using tools like dotenv, but I don't know where to run the needed code to initial the variables (ie, `require('dotenv').config()`). I don't know if there is a place where preliminary code can be run, or if there is another way to

[2021-04-14 18:36] ardatan commented on #1957
You can use `require` flag.
[code]

[2021-04-14 18:44] Davenporten commented on #1957
Awesome! That did it, thanks!

[2021-04-14 18:44] #1957 closed

[2021-04-14 19:08] JasonMore commented on #1884
@ardatan did you have any thoughts on this? Seems like you've had luck down this path?

[2021-04-15 20:43] nemonemi commented on #1909
@ardatan I'd appreciate it if you could point me to existing documentation regarding the mutation mocking.

[2021-04-16 13:55] Davenporten opened #1969 "When using "useRegExpForFields" in rename transform on GraphQL schemas mode needs to be "bare" despite documentation."
**Describe the bug**
This is either a bug in the documentation or the code, or a bug in my understand, I'm unsure which. I originally posted this as a graphql-mesh discussion [here](https://github.com/Urigo/graphql-mesh/discussions/1965), which may provide more context.

Basically the problem is I am trying to run a `rename` transform across two graphql apis that my `meshrc` is pointing to. Accord

[2021-04-16 14:49] santino commented on #1969
Could you please share a reproduction in a CodeSandbox?
There are several examples available in docs of CodeSandboxes that you can fork form and use as a base.

That would be really useful

[2021-04-16 15:42] gablabelle opened #1970 "When generating output a schema property is being ignored/skipped"
**Describe the bug**

When generating output a property is being ignored/skipped. I'm pretty new to yaml files, I just hope I'm doing some silly mistake and forgetting something. ;-)

**To Reproduce**
Steps to reproduce the behavior:

Checkout the `generate-bug-type-property` branch of the following repo: https://github.com/gablabelle/next-mesh-apollo-monorepo-example/tree/generate-bug-type-proper

[2021-04-16 15:44] gablabelle commented on #1970
![Screen Shot 2021-04-16 at 11 44 37](https://user-images.githubusercontent.com/1565793/115049833-21489a80-9ea9-11eb-81e6-77584ae7cdf5.png)

Same issue with updated versions

[2021-04-16 16:44] Davenporten commented on #1969
@santino Thanks for the suggestion, I had avoided making a sandbox because I wasn't sure of a quick way to get the graphql servers up (I don't want to publish the repos I have), but the examples were very useful. In particular, I was surprised that I wasn't seeing the same problem with one of the examples. I was, however, able to reproduce the problem by making the regex transform too broad, so th

[2021-04-16 16:44] #1969 closed

[2021-04-17 14:59] galpin opened #1976 "Cache transform does not respect subfield arguments"
**Describe the bug**
The cache transform does not take subfield arguments into account when creating cache keys. This can lead to the same response being returned for for different queries.

**To Reproduce**
This schema:

[code]

This mesh configuration:

[code]

And then this query:

[code]

Followed by this query:

[code]

The second query returns:

[code]

**Expected behavior**
The second query

[2021-04-17 17:15] ardatan commented on #1976
You should change the cache key by adding the things that you want cache transform respects;
https://www.graphql-mesh.com/docs/transforms/cache#the-cache-key

[2021-04-17 18:08] galpin commented on #1976
Thanks @ardatan for the quick response. Is it not preferable that the default behaviour (`fieldsObj`) includes the field arguments? Is it possible to resolve this specifying the `cacheKey` in the YAML configuration?

[2021-04-18 13:09] Urigo commented on #1957
@Davenporten do you think there is something we could add to the docs that would make it more obvious to other who would follow?

[2021-04-18 13:22] Urigo commented on #1907
@nemonemi yes improving the docs is always a good idea :)
Maybe you could create a draft PR with initial thoughts of how we could make it easier for the others who will follow the same path?
We'll help you getting that PR merged!

[2021-04-19 12:10] JustusNBB opened #1980 "Property serve is not allowed. yaml-schema: Config"
**Describe the bug**

VSCode finds `serve` to not be a valid property of a .meshrc.yml file - this colors the explorer too marking it an issue, while it is actually valid.

**To Reproduce**
Open .meshrc with yaml linter installed in VSCode

**Expected behavior**

.meshrc.yml's schema should be correctly typed and validate configuration for `serve` and `introspectionCache`.

**Environment:**

- OS:

[2021-04-19 13:58] Davenporten commented on #1957
@Urigo That's a good question. I guess I'm not sure where this is in the documentation. (I'm thinking it is https://www.graphql-mesh.com/docs/api/interfaces/types_src.yamlconfig.config/#require but am unsure; if this is the source of the answer maybe having this link by the examples that use env vars would be helpful.) I guess the difficulty is that I have a specific use case of needing `dotenv/co

[2021-04-19 17:16] santino commented on #1957
I believe this is very specific to the application and the infrastructure setup people have.

From my personal point of view, the thing to know from Mesh is that it allows you to use your environment variables in the `.meshrc.yaml` file like this `${MY_ENV_VARIABLE}`, and this is documented.

Then, if my CI is setup with environment variables, as an engineer I know that in order to work locally I

[2021-04-19 18:09] Davenporten commented on #1957
Exactly, that's why I'm unsure if there is something that can be added to the docs. For example, what I'm working on with mesh will ultimately be deployed into a container where the environment is set up and the env vars available; making my whole issue a non-issue. But while developing it is impractical for me (just given environment constraints the nature of the env vars) to explicitly set them

[2021-04-19 18:09] Davenporten commented on #1957
cc @Urigo

[2021-04-20 05:23] nemonemi commented on #611
@ghost, have you managed to resolve this?

[2021-04-20 09:02] ardatan commented on #1355
I created a PR on protobuf.js. Now I am investigating a workaround for gRPC handler.

[2021-04-20 09:08] Urigo commented on #611
I'm adding a lot here but I'm just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It looks like it is still in `stage 0` and in order to advance to `stage 1` we'll need a running reproduction (which seems close as it looks like we have most of the details already in the first

[2021-04-20 09:10] santino commented on #1891
Hey @ntziolis ,
my PR has been merged and released.

Can you confirm the latest releases solved the issue you reported?
In that case, we could close this issue.

[2021-04-20 09:17] Urigo commented on #1909
I'm adding a lot here but I'm just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It looks like already got it into `stage 1`! thank you for that!
Now in order to advance to `stage 2` we'll need a failing test.

Would be great if someone could help progress the issues through

[2021-04-20 09:39] Urigo commented on #1957
mmm I just see a lot of these questions pop up..

We have sections around that for some handlers like here: https://www.graphql-mesh.com/docs/handlers/openapi/#from-environmental-variable

But I wonder if we could add a section to `Recipes` and link together some valuable things to be aware of?

[2021-04-20 10:45] ardatan commented on #1355
@cometkim Could you try with this version?
`@graphql-mesh/grpc@0.12.2-alpha-ec9a81fd8.0`

[2021-04-20 10:49] ardatan commented on #1980
It seems our yaml schema hasn't been published yet to their schema registry.
@dotansimha Do you have any idea how we can fix this?
https://github.com/Urigo/graphql-mesh/blob/master/packages/types/src/config-schema.json

[2021-04-20 10:55] ardatan commented on #1976
Oh actually I realized that the issue is different than I understand! I'd love to accept a PR for the fix!

[2021-04-20 10:57] dotansimha commented on #1980
@ardatan initially we published the generate JSON as-is to the JSON Schema Store, but since they support remote URLs, we can add a direct link to that file under `master` branch.
You can find the reference here: https://github.com/SchemaStore/schemastore/blob/master/src/api/json/catalog.json#L1078-L1090 and open a PR to take it from `master` and not from specific version.

[2021-04-20 10:58] ardatan commented on #1980
@dotansimha Thank you for the info! I'll take care of it.

[2021-04-20 11:01] JustusNBB commented on #1980
The config schema already includes `serve` and `introspectionCache`.
I've tried replacing my node_modules/@graphql-mesh/types/config-schema.json with the most recent one, but it still shows this warning, can you explain what's going on?

[2021-04-20 11:03] ardatan commented on #1980
The linter plugin you installed on VSCode gets the yaml schema for `.meshrc.yaml` by using this catalog;
https://github.com/SchemaStore/schemastore/blob/master/src/api/json/catalog.json#L1078-L1090
And there is an old version of the schema there so you get the error.

[2021-04-20 11:04] nemonemi commented on #1909
Hi Urigo,
Thanks for stepping in, in an effort to progress this issue.
Yes, I will try to set up and add the failing test(s).

[2021-04-20 11:06] JustusNBB commented on #1980
Maybe there is an easy way to automate this with Github Actions?

[2021-04-20 11:06] ardatan commented on #1980
I created a PR on SchemaStore;
https://github.com/SchemaStore/schemastore/pull/1574
After it gets merged, it will always get the latest released schema thanks to unpkg.

[2021-04-20 12:13] JustusNBB commented on #1838
I've finished my evaluation with MS Graph, I need to stick to ms' official package since I was not able to find a clear solution here.
My curiosity remains, so if you find the reason for the duplicates, I'd like to know! @ardatan @santino

[2021-04-20 12:21] JustusNBB commented on #1747
I am giving up on trying to fix MS Graph OData. I think the real fix would be for the OData Handler to recognise variants of the manager object, it is "directoryObject" and "user" and can be treated as both, the generated GraphQL schema just does not reflect that (yet). I'll still be watching #1838 !

@santino implemented the basic idea recently and informed me that separation of schema creation a

[2021-04-20 12:21] #1747 closed

[2021-04-20 12:34] JustusNBB opened #1988 "Diff introspection cache against (lazy) fresh introspection - audit API schema changes"
**Is your feature request related to a problem? Please describe.**

While discussing the new introspection cache feature in #1747, I thought we could also use it to track changes of the source introspection results too.

**Describe the solution you'd like**

After starting my mesh with introspection cache, it should report me the changed types and lines of the sources (diff) running  introspection

[2021-04-20 13:39] santino commented on #1988
This is certainly really valuable.

You'll be pleased to know that the team is working on putting down the roadmap to v1 more formally, and this item is already on the list.
Hopefully, we should be able to have validation from Mesh in v1 and warnings on breaking changes.

We'd need to wait for the major release, but I'm sure it'll be worth it.

[2021-04-20 15:44] ardatan commented on #1980
It should be fixed. Could you confirm?

[2021-04-20 18:01] galpin commented on #1976
Thanks @ardatan. I've created a draft - let me know if it's ready for review.

[2021-04-21 09:50] galpin commented on #1976
Thanks again @ardatan. I will confirm with the alpha package when available.

[2021-04-21 13:10] ardatan commented on #1889
@germankrause Would you help us to fix it?

[2021-04-21 13:12] #1980 closed

[2021-04-21 13:12] ardatan commented on #1980
Closing the issue for now. Let's know if the problem persists.

[2021-04-21 13:14] ardatan commented on #1884
We'd love to accept a PR for the fix if you have a solution.

[2021-04-21 14:46] ntziolis commented on #1891
@santino I can confirm that this now works as expected (I used the code sandbox with updated deps to verify).

[2021-04-21 16:32] #1891 closed

[2021-04-21 19:48] badeAdebayo opened #1996 "Attach Response Headers from OpenAPI request to context in resolver"
**Is your feature request related to a problem? Please describe.**
I have some api endpoints that send headers with the response.  Currently in order to get the response, I have to enable includeHTTPDetails in the yaml file and then have httpDetails as a selection for every query.

**Describe the solution you'd like**

I am proposing having the response headers attached to the context object and a

[2021-04-22 06:51] ardatan opened #1999 "Document stateful mocking and modify the transform configuration"
https://www.graphql-tools.com/docs/mocking#applying-mutations

[2021-04-22 07:31] nemonemi opened #2000 "Nothing gets mocked when providing a `preserveResolvers` option"
**Describe the bug**

I have noticed that if I set up mock as it is in the example, then everything is mocked - all the properties, not just the name.

**To Reproduce**
Steps to reproduce the behavior:
1. clone the repo https://github.com/nemanjamilosavljevic-newtron/graphql_ensemble
2. install all dependencies of the /gateway and the two backend services
3. run yarn start
4. observe that nothing

[2021-04-22 07:50] nemonemi commented on #1909
As suggested, and after lerning more about the API, I have adjusted the issue's title and its scope. I hope this simplifies resolvement.
Also, I've created this pull request for extending the test cases: https://github.com/Urigo/graphql-mesh/pull/1998

[2021-04-22 08:16] ardatan commented on #2000
@nemonemi With `preserveResolvers`, it won't mock the things unless you define mocks explicitly.

[2021-04-22 08:19] nemonemi commented on #2000
@ardatan Do you mean like this https://github.com/nemonemi/graphql_ensemble/blob/main/gateway/.meshrc.yaml#L38?

[2021-04-22 08:32] ardatan commented on #1909
@nemonemi Could you try it with the following version?
@graphql-mesh/mock@0.8.7-alpha-09448b5a5.0

[2021-04-22 08:35] nemonemi commented on #1909
@ardatan I have reduced the scope of this issue.
What should I be testing with this version?
Are you referring to the mutation mocking and persistence?

[2021-04-22 08:49] nemonemi opened #2002 "Extend the documentation of the graphql-mesh mock to include the default number of items returned"
When the return type is an array, 2 mock results are generated in `@graphql-tools/mock`.

_Originally posted by @ardatan in https://github.com/Urigo/graphql-mesh/pull/2001#r618202902_

[2021-04-22 08:51] ardatan commented on #1909
@nemonemi I created this PR based on the failing tests you created before in #1998 . It seems the field mocks weren't working properly according to your failing tests. So you can test mutations etc. But not sure what you mean by persistence, are you referring to stateful mocking?

[2021-04-22 09:17] nemonemi commented on #1909
Yes, I've meant stateful mocking.
p.s. thanks for working on this! 👍

[2021-04-22 09:31] ardatan commented on #2002
Covered by this PR #2001

[2021-04-22 09:32] ardatan commented on #1889
Hi everyone and thank you for the reports!

I'm not adding a lot here but I'm just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It looks like already got it into `stage 1`! thank you for that!

Now in order to advance to `stage 2` we'll need a failing test.

Would be great i

[2021-04-22 10:42] ardatan commented on #1889
Hi @germankrause and thank you for the detailed reports!

I'm not adding a lot here but I'm just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It looks like already got it into `stage 1`! thank you for that!

Now in order to advance to `stage 2` we'll need a failing test or r

[2021-04-22 12:40] mjbcopland opened #2004 "Incorrect docs for string interpolation"
String interpolation does not strip whitespace from values or modifiers. This isn't necessarily a bug but is not clarified anywhere and does mean that the docs are wrong.

Deriving an example from [transform-cache](https://www.graphql-mesh.com/docs/transforms/cache#the-cache-key) which interpolates the current date:

We can see that the output is not as expected.

[code]

This is because there is

[2021-04-22 12:55] ardatan commented on #1976
It's now available in the latest version. Let us know if it doesn't work so we can reopen the issue.

[2021-04-22 12:55] #1976 closed

[2021-04-22 12:55] ardatan commented on #1355
The recent changes are now available in the latest version. Let us know if it still doesn't work so we can reopen the issue.

[2021-04-22 12:55] #1355 closed

[2021-04-22 16:52] cometkim commented on #1355
I couldn't test it because I was stuck with other issues after upgrade.

https://github.com/Urigo/graphql-mesh/issues/1884

[2021-04-25 15:13] nemonemi opened #2014 "Missing documentation on how to initially populate the mockStore"
At the moment I've mocked my queries successfully with a custom set of data, e.g.:
[code]
However, during mocking of mutation, when I access the MockStore, the data that is returned comes from the Faker and not from the data set I've provided.

**Describe the solution you'd like**
This is how I believe mocking workflow should be:

1. Mock the queries by populating the MockStore with the desired da

[2021-04-25 16:20] ardatan commented on #2014
@nemonemi In this PR, I believe the workflow you proposed above is covered. I mean the only mocking option is not Faker but you can even give random results using your own mock data or certain results from MockStore. CRUD operations can be seen on the unit tests and the docs in the same PR;
https://github.com/Urigo/graphql-mesh/pull/2001

[2021-04-25 17:32] nemonemi commented on #2014
@ardatan, this sounds GREAT! 👍

Now, I only have to figure out how to achieve it. I'm iterating based on the pull request changes.

Thanks for all the effort you're imputing here!

[2021-04-26 00:22] ardatan commented on #2004
We'd love to accept a PR for this change :)

[2021-04-26 06:40] nemonemi commented on #2000
The `preserveResolvers` will be working after this pull request is merged https://github.com/Urigo/graphql-mesh/pull/2001

[2021-04-26 06:42] #2000 closed

[2021-04-26 06:51] nemonemi opened #2016 "Schema validation not reckognizing properties length and store, store type and store key"
**Describe the bug**

I believe this is the same issue as in the https://github.com/Urigo/graphql-mesh/issues/1980. These properties are labeled as not allowed.
![image](https://user-images.githubusercontent.com/77624664/116040133-e9d9ab00-a66b-11eb-9be0-2609f48ce568.png)

**To Reproduce**
Steps to reproduce the behavior:

I have noticed this issue in my repo https://github.com/nemonemi/graphql_en

[2021-04-26 09:58] ardatan commented on #2016
There are two problems there; The schema with "store" hasn't been merged into master yet :) and it should be `"{ args.id }"` not `{args.id}`

[2021-04-26 10:11] nemonemi commented on #2016
Once merged, what should be done to have it locally?

[2021-04-26 10:40] ardatan commented on #2016
`@graphql-mesh/types` should be released after we merged mock transform PR.

[2021-04-26 12:35] Urigo commented on #2004
At the bottom of each page there should be an "Edit this page" button so get you into changing the docs!

<img width="1273" alt="image" src="https://user-images.githubusercontent.com/1297448/116083200-09d99080-a6a5-11eb-8a88-23143bec3b5a.png">

[2021-04-26 14:25] cometkim opened #2024 "Can we skip naming convention transform if the result gonna be empty...?"
**Describe the bug**

I'm not sure if this can be called a bug, but it's a bit specific.

I have many fields in the remote gRPC specification with just `_` names. When applying camelCase naming convention, the query fails because the result is an empty string.

![image](https://user-images.githubusercontent.com/9696352/116099065-8f316500-a6e6-11eb-9342-d2e82eaac087.png)

![image](https://user-imag

[2021-04-26 14:26] ardatan commented on #2024
@cometkim That sounds good to me! I'd love to merge and release it!

[2021-04-26 15:09] ardatan commented on #2024
Available in the latest release! Thanks @cometkim !

[2021-04-26 15:09] #2024 closed

[2021-04-28 18:37] Davenporten commented on #1957
@Urigo Maybe that would be helpful, but I wouldn't worry about it too much unless you start getting a lot of other issues about it. I'm not the best developer in the world and a lot of my issues are mostly like from user error, haha. I appreciate you taking the time to look at this. Same for @santino

[2021-04-29 19:11] ddcollins opened #2052 "Cannot define JSON Schema Array of Objects"
**Describe the bug**
I cannot define type of `[Achievement]` with JSON schema.

**To Reproduce**
I've been unsuccessful in being able to define a return of an array of objects.

[code]

My base schema defines:
[code]

But I get the error:
[code]

I've also tried:
[code]

and get the above `match` error.

I've also tried defining an array of items in a schema file:
`./src/json-schemas/achievements-

[2021-04-29 19:31] ddcollins commented on #2052
@ardatan I immediately returned a `[]` in parse rules and I get my successful response back from my query.
For some reason `str` is `null` here.

![Image 2021-04-29 at 2 30 21 PM](https://user-images.githubusercontent.com/38921476/116607385-89f73480-a8f7-11eb-9892-85a3f12d5a3e.jpg)

[2021-04-30 08:34] ntziolis opened #2055 "Mesh cli subscription support is currently broken"
Currently is not possible to execute subscriptions exposed by a mesh that was started via `graphql-mesh serve` (neither through GraphiQL)  nor any other client):
- GraphiQL instance throw's the following error when trying to start a subscription:
   `Failed to construct 'URL': Invalid URL`
- When using any other client to start a subscription the following error is thrown:
   `The GraphQL schema i

[2021-04-30 09:16] ntziolis commented on #2055
Turns out the issue is something else. Will investigate further and reopen when I can narrow it down further.

[2021-05-01 09:48] nemonemi commented on #1909
@ardatan, how could I assist you with progressing on the https://github.com/Urigo/graphql-mesh/pull/2001?

[2021-05-01 10:31] ntziolis opened #2066 "Support `graphql-ws` protocol for outgoing subscription requests graphql source"
**The Problem:**
- When dealing with a graph source that's till uses the legacy `graphql-ws` protocol mesh currently cannot be used as gateway for subscriptions.
- While `graphql-transport-ws` adoption is spreading there are many situations where an existing source only supports the legacy `graphql-ws` protocol.
- Reasons for not being able to use the protocol range from
   - no control over the s

[2021-05-01 10:40] ntziolis commented on #2066
We are happy to take on the implementation but before starting wanted some input in which solution path you would prefer or if any support for the legacy protocol is not an option for you.

[2021-05-01 11:37] ardatan commented on #2066
I think you are referring to `subscription-transport-ws` by `graphql-ws`. We'd love to have both supported in `url-loader`. It sounds good to me :)

[2021-05-01 11:40] ardatan commented on #2055
Hmm something seems to be changed in the dependencies. You're right and I noticed we have missing tests for subscriptions.

[2021-05-01 12:12] #2055 closed

[2021-05-01 12:33] ntziolis commented on #2066
Yes that's what I was referring to. I'll get right on it then and create 2 Prs:
- One to extend the url-loader with a legacy option flag
- One to extend the grahpql handler to allow configuring using the legacy protocol and calling the url-loader with the legacy option flag set

[2021-05-01 12:35] ardatan commented on #2066
Thank you @ntziolis ! We'd love to merge and release new versions for those.

[2021-05-01 12:45] ntziolis commented on #2066
@ardatan Any preferences on how the config option for the graphql handler should be named? I would suggest adding a boolean flag. Something like `useLegacyWsProtocol`. But I'll go with whatever you prefer.

This flag would default to false. We can then pass this flag directly to the loader:
- legacy=false => use subscription client from `graphql-ws` lib (protocol `graphql-transport-ws`)
- legacy=t

[2021-05-01 12:52] ardatan commented on #2066
Yes they are confusing unfortunately :D So I am fine with your approach.

[2021-05-01 13:30] ntziolis commented on #2066
PR for part one was just created. Part 2 is already done but requires part one to be released.

See for part 2 here:
https://github.com/Urigo/graphql-mesh/compare/master...ntziolis:support-legacy-ws-protocol

[2021-05-01 14:55] #2052 closed

[2021-05-01 15:26] ardatan commented on #2052
@ddcollins Did you solve the issue?

[2021-05-01 15:34] ddcollins commented on #2052
I had an `.env` variable that was empty 🤦 . I just coincidentally started trying to use JSON schema at the same time so I attributed it to that (I had working array of objects returning from json samples). What tripped me up even more was the error would only pop when the data response wasn't `null` so when I'd just set the response to anything other than array of objects the error wouldn't fire.

[2021-05-01 15:43] ardatan commented on #2052
Maybe we should be able to handle nullish values in string interpolation. Thank you for your explanation :)

[2021-05-01 18:07] #2066 closed

[2021-05-01 18:19] ntziolis commented on #2066
For anyone finding this, once released this can be configured via
[code]

[2021-05-01 20:09] gablabelle commented on #1970
@ardatan Sorry to mention you like this, but do you have any idea what could cause this?

[2021-05-01 20:58] santino commented on #1970
The problem here does not come from the fact that two properties are pointing to the same reference.
The problem is simply that the name of the property `type` is a reserved name.
Things like `type` and `properties` are reserved keywords in OpenAPI specifications, since they are used to define the document.

If you change the name of `type` to `type1`, things will work as expected.

After identify

[2021-05-01 21:25] gablabelle commented on #1970
@santino Thanks for your feedback. Yes `Type2` was just an example to showcase the behaviour and the fact that it was working when renamed.

It's weird because we have other working usages of `type` in response payloads in our swagger files that work fine.

Unfortunately we can't change the APIs, we simply consume them.

[2021-05-01 21:41] santino commented on #1970
Ok, so this is for a remote API you consume, not a specification yaml built locally.

Have you looked into the rename transform?
That can help to rename the offending property name.
I suggest you try using it in `bare` mode.
Take a look at the [documentation](https://www.graphql-mesh.com/docs/transforms/rename) and have a play.

Of course, renaming the property name is just a workaround.
I believe

[2021-05-03 11:11] JustusNBB opened #2078 "Mesh TS interface should be explicitly typed (TS2742)"
**Is your feature request related to a problem? Please describe.**

VSCode's TypeScript support brought this to my attention, and when exporting as a library, I needed to dirty fix with `Promise<any>`.

**Describe the solution you'd like**

Add `Mesh`, exported interface type, and return it here (`Promise<Mesh>`):
https://github.com/Urigo/graphql-mesh/blob/e696fdfdce3259c4f75b3c07335dd2053a9deadc/

[2021-05-03 11:31] ardatan commented on #2078
I couldn't reproduce it but now `MeshInstance` interface is exported explicitly in the following version;
@graphql-mesh/runtime@0.15.0

[2021-05-03 12:00] JustusNBB commented on #2078
Thank you for the quick change, it also improves readability right?
Was going to propose a similar change/PR in the evening ;)

Fixed in 0.15.0:
![image](https://user-images.githubusercontent.com/73602543/116873369-dc966080-ac17-11eb-9d82-87156c35f0b3.png)

[2021-05-03 12:00] #2078 closed

[2021-05-03 22:56] Davenporten opened #2081 "Resolvers Composition Transform throws invalid meshrc even with example config."
**Describe the bug**
I'm trying to use the [Resolve Composition Transform](https://www.graphql-mesh.com/docs/transforms/resolvers-composition) and when I add to me `meshrc` what's given in the example in the link above, namely
[code]
implementing an `is-auth` of my own, I get the error
[code]
I've tried many different configurations, but it looks to me that `resolversComposition` is an array.

**T

[2021-05-03 23:01] Davenporten commented on #2081
Just to note, I have removed the `mode` from my `meshrc`, defaulting to `wrap`; above is just a copy and paste from the docs.

[2021-05-03 23:25] Davenporten commented on #2081
This was resolved by updating `@graphql-mesh/cli` to `0.29.6`.

[2021-05-03 23:25] #2081 closed

[2021-05-03 23:26] ardatan commented on #2081
[code]
means you should have `mode: bare` or `mode: wrap` not both.

[2021-05-03 23:28] Davenporten commented on #2081
@ardatan Yeah, I mentioned that, but thanks for pointing it out: https://github.com/Urigo/graphql-mesh/issues/2081#issuecomment-831588425

[2021-05-05 12:57] Urigo commented on #1884
@ardatan I think this is now in a better state no?

[2021-05-05 13:32] ardatan commented on #1884
It is something related to protobufjs. When you manually patch protobufjs to ignore duplicates, it is working fine. But not sure how to remove duplications in their case.

[2021-05-06 09:31] JustusNBB commented on #1838
Bump. I think I have a similar issue with other OData schemas (also Microsoft) I would still be interested in this being fixed!

[2021-05-06 09:35] JustusNBB commented on #1841
I wonder if this is related to my other issue with typescript code type generation (#1838), can you share your schema source? @hc-12

[2021-05-07 12:54] JustusNBB opened #2103 "Mesh SDK boilerplate generation & nx monorepo integration"
**Is your feature request related to a problem? Please describe.**

[nx monorepos](https://nx.dev/) already have a great integration for Apollo GraphQL with NestJS.
I dropped my NestJS approach in favor of using GraphQL Mesh to generate an SDK instead, but I want to keep the monorepo approach with nx. But GraphQL Mesh does not integrate well with it yet.

**Describe the solution you'd like**

Alik

[2021-05-07 12:58] #2016 closed

[2021-05-07 13:10] ardatan commented on #1889
Fixed in the latest patch release! Thank you for your detailed report!

[2021-05-07 13:10] #1889 closed

[2021-05-07 13:18] mbazos opened #2105 "Reflection Header grpc-reflection-js"
I am working with the graphql-mesh gRPC input handler and specifically with the gRPC reflection API as to get the protos dynamically from the gRPC service. My question is that we have several gRPC services and the reflection API requires to listen on the root path.

We use tools like grpcurl which have an option for a `-reflect-header` and then our infrastructure knows when it sees that header to

[2021-05-10 17:06] nodkz opened #2123 "Federation merger does not respect `introspectionCache` option"
**Describe the bug**

Some federated services may be down when we want to start our Mesh gateway. To overcome this problem was created `introspectionCache` option. But it does not work with `merger: federation`. The merger will try to load endpoints and gateway start-up is failing with the following error:

[code]

[code]

**To Reproduce**

https://github.com/nodkz/apollo-federation-test/tree/mast

[2021-05-10 19:38] ardatan commented on #1909
I think we can close this one :)

[2021-05-10 19:38] #1909 closed

[2021-05-10 20:39] nodkz commented on #2123
Yay! Works like a charm 👌

[2021-05-10 21:14] #2123 closed

[2021-05-11 03:42] ardatan commented on #2105
Opened an issue on grpc-reflection-js
https://github.com/redhoyasa/grpc-reflection-js/issues/8

[2021-05-11 07:31] nodkz commented on #2123
@ardatan thanks a lot! 🙏
It was super fast 🚀🚀🚀

PS. tested @graphql-mesh/graphql@0.17.8 and it works as expected 👍

[2021-05-11 09:15] JustusNBB commented on #1841
@hc-12 I am not able to reproduce your issue, and I never thought they would be the same. I just think it might be a related issue, since for both issues type generation is concerned.

You should share (parts) your schema so your bug is reproducible for others.

[2021-05-12 13:26] Urigo commented on #1841
Hi @hc-12 and thank you for the report!

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems we are in `stage 0`.
In order to advance to `stage 1` we'll need a reproduction as @JustusNBB said.
Later on we might get into `stage 2

[2021-05-12 16:04] Urigo commented on #1838
Hi @JustusNBB  and thank you for the report!

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems like we are on `stage 1`.
Do you think you would be able to create a failing test to isolate the actual issue?

Thank you and sorr

[2021-05-13 20:51] badeAdebayo commented on #1884
so does that mean this is an issue with a seperate library?

[2021-05-13 21:47] ardatan commented on #1884
So far, I could find out two solutions for this issue;
1. Applying this patch to [protobufjs](https://github.com/protobufjs/protobuf.js) using [patch-package](https://www.npmjs.com/package/patch-package)
2. Use gRPC Reflection API to introspect gRPC Schema

[2021-05-16 10:21] ntziolis opened #2155 "Use Mesh to enable global object identification support"
Being able to leverage [global object identification](https://graphql.org/learn/global-object-identification/) can be extremely helpful in reducing complexity and improve DRY on the client. the usefulness increases with multi source setups.

Implementing this is not always possible however:
- Limited control of downstream sources (especially when they are third party) prevents ensuring global uniq

[2021-05-16 10:42] ntziolis opened #2156 "Argument standardization"
When dealing with downstream sources (especially legacy and/or third party) they are likely to implement common features very differently, some examples:
- List query pagination
  - pagination type (offset vs record id vs cursor)
  - name of arguments skip / offset etc.
- Single object query
  - individual args per key vs one arg with multiple properties
  - names of id args
- Mutations (little mo

[2021-05-17 07:30] JustusNBB commented on #1838
@Urigo I've provided a way for reproduction with one of the examples.
I am not sure how such a testcase would work:
1. use (e.g. ms graph odata schema) to generate types from
2. fail when importing the types?

Have you implemented a similar (e2e) test in this project yet, can you give a reference?

As of now, no - but maybe with your help!

[2021-05-17 15:58] cometkim commented on #1786
I have same problem and have looked into this issue a bit. It seems occurs only when using nested definitions directly in rpc input definition. The visitor handle properly nested type names in other cases.

[2021-05-17 20:36] Urigo commented on #1786
Hi @ctoomey and @cometkim and thank you for the reports and the reproduction!

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 1` thanks to your reproduction! Thank you for that!

Now in order to adva

[2021-05-18 08:56] ardatan commented on #1838
Could you test it with `@graphql-mesh/cli@0.29.14-alpha-7ee6c3289.0` ? @JustusNBB

[2021-05-18 09:08] ardatan commented on #1841
@JustusNBB This seems another issue.
@hc-12 I don't think it is a good idea to compare the schema using the generated typescript file. You can dump the schema as an SDLusing `mesh dump-schema --output schema.graphql` and compare it using a tool like GraphQL Inspector. https://graphql-inspector.com/
The inconsistent results issue comes from Codegen. See https://github.com/dotansimha/graphql-code-ge

[2021-05-18 09:52] JustusNBB commented on #1838
When I run my procedure on your bugfix branch I no longer get duplicate types!
Your operations Record Map has fixed it!

[2021-05-18 14:40] nemonemi opened #2168 "Extend documentation of the mesh serve with the --dir option"
At the moment it is not clear how to specify a custom root location when running a graphql-mesh as a gateway.

I'm creating a pull request to extend the documentation with this.

[2021-05-18 15:47] nemonemi opened #2171 "Error when providing schema from a local path without resolvers"
I am starting a project and I still don't have an api serving the schema, so, I would like to create a schema, give it to the mesh and mock the response.
I believe I've seen this somewhere at some point in time, but I cannot find it now.

How can this be achieved?

e.g.
### .meshrc.yaml
[code]
### schema.graphql
[code]

Currently, when I run this I get the following error:
[code]

_Originally post

[2021-05-18 15:54] #2002 closed

[2021-05-18 15:55] #1919 closed

[2021-05-18 15:56] nemonemi commented on #1906
@Urigo could this be achieved on the library level?

[2021-05-18 21:21] ardatan commented on #2168
Thanks @nemonemi !

[2021-05-18 21:21] #2168 closed

[2021-05-18 21:57] ardatan commented on #2171
I got a different error caused by incorrectly parsed graphql file but it was working fine with js files. But I fixed it in #2175 anyway;
https://codesandbox.io/s/vanilla-graphql-sg5ps?file=/.meshrc.yml
Here is the working example. Thanks for reporting this :)

It will be released soon!

[2021-05-18 21:58] ardatan commented on #1838
Available in @graphql-mesh/cli@0.29.14!

[2021-05-18 21:58] #1838 closed

[2021-05-18 21:58] ardatan commented on #2171
Available in @graphql-mesh/graphql@0.17.9!
Could you confirm?

[2021-05-19 00:08] alicialics opened #2176 "Conflict grpc package name and message name"
**Describe the bug**
When the package name matches one of the grpc message we get an error

[code]

[code]

the error may be fixed in one of the two ways:
Change `message FOO {` to something else, like Foo or FAA
Change `GetFOOsResponse` to something else, like `GetFoosResponse` or `GetFAAsResponse`
Change package name  from `foo` to something else

<img width="714" alt="Screen Shot 2021-05-18 at

[2021-05-19 06:58] nemonemi commented on #2171
I can confirm. Thanks, @ardatan for expediently fixing this!

[2021-05-19 06:58] #2171 closed

[2021-05-19 08:31] Urigo commented on #2176
Hi @alicialics and thank you for the report and the reproduction!

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 1` thanks to your reproduction! Thank you for that!

Now in order to advance to `stag

[2021-05-19 19:57] alicialics commented on #2176
@Urigo I made a PR for the failed test:
https://github.com/Urigo/graphql-mesh/pull/2177

[2021-05-19 21:22] StarpTech opened #2178 "Support bare mode for federation"
Use case:

Fetch the schema from the registry to federate it on the graphql-mesh instead of in each service.

[2021-05-19 22:12] #2178 closed

[2021-05-20 00:21] dpnova commented on #1060
I've just noticed in my local env too. Our legacy dev env I'm including in the graph runs on https locally. It'd be awesome to just tell graphql-mesh to ignore certificate verification as a local config option!

[2021-05-20 00:28] ardatan commented on #1060
@dpnova Could you try to add environmental variable while running Mesh?
`NODE_TLS_REJECT_UNAUTHORIZED=0 mesh serve`

[2021-05-20 00:45] dpnova commented on #1060
That worked @ardatan !! Will test with some queries etc now

[2021-05-20 01:22] jarpz opened #2179 "Error at get or insert Mysql datetime with '0000-00-00 00:00:00' format"
**Describe the bug**

We are getting error when we query o mutation tables using Mysql Input handler.

**To Reproduce**

- declare a .meshrc.yaml with:
[code]

- set SQL mode
[code]

- declare a table like and insert data:
[code]

- start and connect to graphql-mesh
- make query:

[code]

We get:

[code]

**Expected behavior**

Fetch data without problems..

**Environment:**

My Libraries:
[code]

[2021-05-20 16:37] kassim99 commented on #1555
Running into a similar issue right now, did you ever find a work-around?

[2021-05-21 05:40] #2179 closed

[2021-05-21 05:51] jarpz opened #2182 "Mysql Input handler -> No mark columns auto_increment, nullable and with default values as mandatory on generated input schema"
**Is your feature request related to a problem? Please describe.**

When you use mysql-input handler and some tables have "default" values, It would be desirable for those columns not to be required on input over mutation table

if you declare a table like:

[code]

you expect when you mutation over that table for columns:
id, created and even "age" not to be "required"

**Describe the solution yo

[2021-05-21 05:52] jarpz commented on #2179
The problem is with de SQL_MODE, if you use :
[code]
Everything works success.

Regards

[2021-05-21 09:05] nemonemi commented on #2014
@ardatan,
I haven't managed to find how to achieve this.

Could you please describe how the store should be initially populated with, let's say, an array of objects?

[2021-05-21 09:13] nemonemi opened #2185 "Provide documentation with typescript examples"
**Is your feature request related to a problem? Please describe.**
The examples in the documentation should favor typescript to allow for easier consumption of the library's API.

**Describe the solution you'd like**
I agree that both JS and TS should be supported.

This could be done with the TABS feature, where different variants of the documentation would be in different tabs.

[2021-05-21 09:24] r0zar opened #2186 "GraphQL handler not applying operationHeaders on mesh serve"
**Describe the bug**
Upon running mesh serve, the payloads are arriving without any changes to the headers.

**To Reproduce**
Steps to reproduce the behavior:
Copy paste the graphql handler example from the docs site and connect to a graphql endpoint with auth required.

**Expected behavior**
HTTP request to arrive with headers as defined in the yml file.

**Environment:**

- OS: Windows
- `@graph

[2021-05-21 09:30] cometkim commented on #1786
@Urigo Just filed a PR with reproduction test

https://github.com/Urigo/graphql-mesh/pull/2187

It seems to be happened only with definition from outside of service file.

[2021-05-21 10:50] nemonemi commented on #1999
This task should be dealing with documenting how to deal with mocking in graphql-mesh.

- how to initially populate the `mockStore`
- how to type the `mockStore`
- how to get from the `mockStore`
- how to mutate the `mockStore`

[2021-05-21 16:42] nemonemi commented on #2103
I'd appreciate this as well. However, I might also be willing to do it if the documentation on NX website was better.
https://github.com/nrwl/nx/issues/5718

[2021-05-21 17:18] nemonemi commented on #2014
@ardatan I'd really appreciate it if you could point me in the right direction here.

I have reached a point where I'm actually implementing graphql-mesh in the actual project and am blocked by not being able to achieve the stateful mocking.

[2021-05-21 17:52] ctoomey commented on #1786
Thanks @cometkim

[2021-05-23 21:26] badeAdebayo opened #2198 "Service protos that return google.* in their method returns an error when starting the server"
**Describe the bug**

getting this error when trying to use reflection on a service that imports googe protobuf empy
[code]
functions in the service.proto for this services returns `google.protobuf.Empty` like so
[code]

It appears a type is trying to be created using the service pacakge instead of googles

**To Reproduce**
Steps to reproduce the behavior:

1. create an grpc server with  reflectio

[2021-05-23 22:28] Urigo commented on #2198
Hi @badeAdebayo and thank you for the report!

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems we are at `stage 0`.

Now in order to advance to `stage 1` we'll need a runnable reproduction, would be great if someone could he

[2021-05-25 01:37] Rodeoclash opened #2206 "Docs site has React error preventing render"
**Describe the bug**
The docs website is throwing a JS error on load which causes the content to "flash" then be removed. Example:

https://www.graphql-mesh.com/docs/recipes/as-gateway/

The error itself is:

[code]

Which leads to

**To Reproduce**
Steps to reproduce the behavior:

Visit the follow URL: https://www.graphql-mesh.com/docs/recipes/as-gateway/

**Expected behavior**
The docs should b

[2021-05-25 08:05] ardatan commented on #2206
Seems fine now :) Thanks for reporting this @Rodeoclash

[2021-05-25 08:07] ardatan commented on #2186
If you provide the same headers under both `schemaHeaders` and `operationHeaders`, does it work?

[2021-05-25 09:37] Rodeoclash commented on #2206
@ardatan confirmed!

[2021-05-25 12:42] nemonemi commented on #2014
@ardatan https://github.com/Urigo/graphql-mesh/pull/2001#issuecomment-826885994
Has this been finalized?

When I try using the approach mentioned in that comment I get an error that the module cannot be found, although it is there.

[2021-05-26 11:24] ardatan commented on #2014
@nemonemi I'm releasing a quick fix for that :) Thank you for reporting this

[2021-05-26 15:50] nemonemi commented on #2014
Thanks, @ardatan!

I've tested it with version 0.9.6 and it works as expected.
I have also updated the documentation to account for the fix.

[2021-05-26 16:09] nemonemi opened #2219 "Resolvers not getting merged"
In the example below, only the type gets merged correctly, but not the resolvers. Only one service gets resolved, I believe in a random fashion.

The **Authors** service defines only the `id` and `name` on the **Author type**:
[code]
The **Books** service is extending the **Author type** with its own model and data:
[code]

**To Reproduce**

1. go to the [sandbox](https://codesandbox.io/s/dazzling

[2021-05-26 18:43] #2014 closed

[2021-05-26 20:41] luisaescalona opened #2222 "Malformed queries don't throw errors"
**Describe the bug**

I'm using Graphql Mesh in a node web app and when I run a query using the **execute** function with the wrong field name in the "where" clause, it doesn't throw errors, it just fetch all the data from the table.

Nonetheless, GraphiQL shows the expected behavior.

What do you think is happening here?

**To Reproduce**
Steps to reproduce the behavior:
The table structure:
[cod

[2021-05-30 07:55] nemonemi commented on #2219
@dotansimha, @ardatan how can I assist you guys in progressing with this issue?

[2021-05-30 15:05] manikantasanthoshkuchimanchi opened #2237 "Unable to map javascript date to xs:dateTime field for @Graphql-mesh/SOAP requests"
Hi,

From our Node JS Program, When we make a graphql request to SOAP handler, we are able to pass all field values of type String, Int, etc but not xs:dateTime.

For example,
**our SOAP Object structure is like below-**

<xs:complexType name="EventRequest">
	<xs:sequence>
		<xs:element name="id" type="xs:long" minOccurs="0"/>
		<xs:element name="reqType" type="xs:string" minOccurs="0"/>
		<xs:ele

[2021-05-31 23:28] Urigo commented on #2237
Hi @manikantasanthoshkuchimanchi and thank you for the report!

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 0`.

Now in order to advance to `stage 1` we'll need a simple reproduction, maybe in cod

[2021-05-31 23:30] Urigo commented on #2219
Hi @nemonemi and thank you for the report

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 1` thanks to your reproduction! Thank you for that!

Now in order to advance to `stage 2` we'll need a failin

[2021-06-01 09:08] nemonemi commented on #2219
I would be willing to give it a go, but due to the lack of time on my part, I'd appreciate a point in the right direction. Which library is responsible, where the tests should be added?

[2021-06-01 09:08] Urigo commented on #2222
Hi @luisaescalona and thank you for the report!

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 0`.

Now in order to advance to `stage 1` we'll need a simple reproduction, maybe in code-sandbox?

Lat

[2021-06-01 10:02] Urigo commented on #2219
looks like you should check GraphQL Tools first

[2021-06-01 11:00] yaacovCR commented on #2219
https://github.com/Urigo/graphql-mesh/discussions/1833

[2021-06-02 03:28] alexanderdavide opened #2255 "module not found for @graphql-mesh/config"
**Describe the bug**

Import anything (e. g. `findAndParseConfig`) from `@graphql-mesh/config` throws following `module not found` error:
[code]

**To Reproduce**

Steps to reproduce the behavior:

- Import anything (e. g. `findAndParseConfig`) from `@graphql-mesh/config` using ES6 modules:

[code]

**Expected behavior**

Modules should resolve as expected.

**Environment:**

- OS: Ubuntu 20.04.1

[2021-06-02 04:27] alexanderdavide opened #2256 "Warnings using getMesh from `@graphql-mesh/runtime`"
**Describe the bug**

Using `getMesh` from `@graphql-mesh/runtime` raises following warnings:
<details>
<summary>Warnings</summary>

[code]

</details>

**To Reproduce**

Steps to reproduce the behavior:

Use `getMesh`:
[code]

**Expected behavior**

There should be no warnings.

**Environment:**

- OS: Ubuntu 20.04.1
- @graphql-mesh/config: 0.16.6
- NodeJS: v15.5.0
- TypeScript: 4.3.2
- React: 17

[2021-06-02 08:52] ardatan commented on #2256
`@graphql-mesh/config` is not compatible to React or any other environment that uses bundler or something else;
We have the following example for React.
https://github.com/Urigo/graphql-mesh/tree/master/examples/openapi-react-weatherbit

[2021-06-03 15:57] kirananto opened #2265 "[Open API] Query parameters of type boolean is getting skipped if it is of value false"
**Describe the bug**
When using graphql-mesh to serve a set of REST apis in graphql form, the filters that accept boolean as the value are getting skipped if their value is false, while it works when the value is true.

`.meshrc.yaml`
![image](https://user-images.githubusercontent.com/12209601/120674742-08746280-c4b2-11eb-8460-1c4d463da2ab.png)

Query parameter
![image](https://user-images.githubu

[2021-06-03 20:47] ardatan commented on #2265
Hi @kirananto and thank you for the report!

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 0`.

Now in order to advance to `stage 1` we'll need a simple reproduction, maybe in code-sandbox?

Later t

[2021-06-03 20:48] #2256 closed

[2021-06-03 20:49] ardatan commented on #2255
See https://github.com/Urigo/graphql-mesh/issues/2256#issuecomment-852846813

[2021-06-03 20:49] #2255 closed

[2021-06-03 20:49] ardatan commented on #2186
Closing this issue for now. Feel free to open a new with a reproduction.
Also you can check https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow

[2021-06-03 20:49] #2186 closed

[2021-06-03 21:08] kirananto commented on #2265
@ardatan  Yep. Right now I was trying with our private APIs.
Lemme try to create a reproduction of the issue with some mock APIs.

B/w is it by design that the boolean is skipped if it is false?

[2021-06-04 12:37] abrezuica opened #2270 "Generate a new operationId if there are duplicates [openapi handler]"
**Our issue**

I'm working on a project which uses graphql-mesh with the Netflix conductor API (https://netflix.github.io/conductor/apispec/). Many of our operations have the same operationId which causes some endpoints to be ignored.
For example, the operations with paths:
/tasks/search
/workflow/search
have the operationId 'search'.

**Possible solution**

For the moment, an error is thrown when

[2021-06-04 14:00] ardatan commented on #2270
Hi @abrezuica and thank you for the report!

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 0`.

Now in order to advance to `stage 1` we'll need a simple reproduction, maybe in code-sandbox?

Later t

[2021-06-07 07:54] nemonemi opened #2279 "Mesh as a gateway opens a browser, although the browser false property is used (terminal)"
**Is your feature request related to a problem? Please describe.**
While it is possible to prevent the opening of a browser with the playground by configuring the Serve in the `meshrc.yaml` with the `browser: false`, it is not possible to pass this property in a terminal.

e.g `mesh serve --browser false`

I have two scripts, one like the one above, and the other one for development with nodemon.

[2021-06-07 08:06] abrezuica commented on #2270
Hey,
I've seen that you have labeled the issue as a bug, however I was thinking it's more like an incomplete feature. In the current version, you are handling the issue (duplicate operationIds), so everything behaves as expected.

The current handling assumes that the duplicates come from different OASs. In our case, there is only 1 OAS with multiple duplicate operationIds that point to different

[2021-06-08 04:28] jackedgson opened #2284 "Documentation for integrating mesh cache with Redis cache"
**Is your feature request related to a problem? Please describe.**

Unsure of how to hookup redis to the transform cache, is it automatic or are manual steps in the yaml config or codebase required? This is important as it's a core feature of the mesh cache we'd like to use in a large company where performance is increasingly important.

We have a redis pod running on a kubernetes cluster, apollo

[2021-06-08 15:15] ardatan commented on #2284
You're right. Sorry for the missing documentation;
https://github.com/Urigo/graphql-mesh/blob/master/packages/cache/redis/yaml-config.graphql
[code]

[2021-06-08 16:09] ardatan commented on #2284
https://www.graphql-mesh.com/docs/cache/cache-redis I added it here :)

[2021-06-09 02:30] jackedgson commented on #2284
Thanks @ardatan

Found one small issue: https://github.com/Urigo/graphql-mesh/pull/2291

[2021-06-09 02:32] jackedgson commented on #2284
And just for posterity sake I have an example config here of it working as I didn't realise the cache object was separate from the transforms cache object. Maybe this will help someone
[code]

[2021-06-09 03:55] jackedgson opened #2292 "Redis critical failure when using GraphQL field aliases (bug)"
**Describe the bug**

When enabling mesh sdk caching using redis, or caching on any underlying service the mesh queries. If we alias a field then the Mesh SDK query itself fails with a null error for the particular aliased field.

[code]

The alias looks like this

[code]

After investigating it only seems to happen on Redis. The file and inmemory cache both seem to be working as expected with ali

[2021-06-09 03:59] jackedgson commented on #2292
Related https://github.com/Urigo/graphql-mesh/issues/1130

[2021-06-09 04:02] jackedgson commented on #1130
@jakeblaxon We're having this alias issue also, did you find any workaround or solution to this bug?

[2021-06-09 05:45] jackedgson commented on #2292
Expanded error:

[code]

[2021-06-09 11:16] ardatan commented on #2292
@jackedgson Thank you for reporting this issue :)
Could you try with this alpha version?
@graphql-mesh/transform-cache@0.9.1-alpha-158b53d19.0

[2021-06-09 15:46] jakeblaxon commented on #1130
@jackedgson I ended up using the `apollo-server-cache-redis` and `apollo-server-plugin-response-cache` packages instead, since I'm using apolloserver to host the schema that graphql-mesh generates.

One note: I'm using `apollo-server-cache-redis` 1.2.2, which required a patch to work correctly. I used `patch-package` to apply the following patch upon npm install:
filename: `apollo-server-cache-red

[2021-06-09 18:48] ardatan commented on #1130
Did you try the canary version I mentioned here?
https://github.com/Urigo/graphql-mesh/issues/2292#issuecomment-857608946

[2021-06-10 00:01] jackedgson commented on #2292
@ardatan using the latest version, unfortunately still getting the same error.

[2021-06-10 07:06] ardatan commented on #2292
@jackedgson I tried to fix the issue in this PR https://github.com/Urigo/graphql-mesh/pull/2293 and released the alpha version to let you try and see if it works for you. Does that make sense?

[2021-06-10 07:43] jackedgson commented on #2292
@ardatan yes sorry if I wasn't clear I updated to the latest canary alpha version you mentioned and retried.

I also double checked in the node modules on the kubernetes pod to make sure I was running the alpha version based on a review of the PR I had a look at and I was.

I didn't have luck unfortunately using the alpha version of the cache transform package.

Are there any possibilities you can

[2021-06-10 07:52] ardatan commented on #2292
@jackedgson I need to reproduce it first. If you can create a reproduction repo and even a failing test would be the best for us because I am not able to reproduce it.

[2021-06-10 08:44] jackedgson commented on #2292
Okay, I wonder if it's within the context of a kubernetes pod. Though I can't see why.

I'll aim to create a repo tomorrow.

[2021-06-10 08:54] ardatan commented on #2292
@jackedgson That would be an awesome step! Thanks

[2021-06-11 06:42] jackedgson commented on #2292
Hey @ardatan, wasn't able to complete this today. We're using hasura under the hood and hasura doesn't play nicely with apollo-federation since it doesn't expose a federated schema.. we're doing a transform of old schema to federated schema however we can't include the actual resolver object in this..

Hasn't been an issue but it very well could be the cause of the problem.

[2021-06-11 12:02] ardatan commented on #2292
@jackedgson Could you try this version as well?
`@graphql-mesh/cache-redis@0.5.11-alpha-9cdc093bb.0`

[2021-06-13 11:32] nemonemi commented on #2219
@ardatan
I have tested the latest libraries' versions, but nothing has changed in terms of behavior.
Still, the type gets merged correctly, but the resolvers not.

Either one resolver gets applied, or the other.

[2021-06-14 06:22] jackedgson commented on #2292
@ardatan Ahh, tried that thank you. I also migrated to make sure we were using the latest version of ioredis.

Unfortunately was seeing the same error, it's such an odd error to me and doesn't make sense no matter what way I look at it. I'm going to spend some more time creating a reproduction if I can of the issue, at the moment just heavy workload so hoping to have the reproduction done sometime

[2021-06-14 14:18] msadovyi opened #2311 "query returns null instead of value"
**Describe the bug**

Hi! I'm trying to run graphql-mesh with 1 handler that uses graphql-ws as transport. It seems like queries does not works correctly with graphql-ws.

**To Reproduce**
Clone https://github.com/msadovyi/mesh-graphql-ws-issue
1. Run `yarn && yarn start`. It runs source API at port 3000 and grapql-mesh at port 4000.
2. Open `http://localhost:3000` and make sure query `{ hello }`

[2021-06-15 15:42] redhoyasa commented on #2105
Hi, I'd like to know more about the `reflect-header`. From my understanding,`reflect-header` will be added to gRPC metadata but used only on reflection request. Is that correct?

[2021-06-16 13:58] nemonemi opened #2320 "Accessing a non existand data from the mockStore complains about the wrong thing"
**Describe the bug**

Accessing a resource from the `mockStore` that doesn't exist doesn't handle the situation well. It complains about the `DateTime` not being defined, and not that the resource access attempt is invalid.

![image](https://user-images.githubusercontent.com/77624664/122232137-4d899300-cebb-11eb-90b6-ee5478a602a1.png)

This is how I handle the resource detail:
[code]

I assume I s

[2021-06-16 15:42] agomez2 opened #2322 "✖ Unable to start GraphQL Mesh: Expected cache to contain key: PgIntrospectionPlugin-introspectionResultsByKind-v4.11.2"
**Describe the bug**
When trying a simple Example where a postgres DB is fronted by Mesh, I get this error:

✖ Unable to start GraphQL Mesh: Expected cache to contain key: PgIntrospectionPlugin-introspectionResultsByKind-v4.11.2

**To Reproduce**
Steps to reproduce the behavior:
Use this .meshrc.yaml:
[code]
Install postgres handler for mesh: $ yarn add @graphql-mesh/postgraphile

Run postgres: do

[2021-06-16 18:56] ardatan commented on #2320
Not sure if it is directly related but could you try with the following alpha version?
`@graphql-mesh/transform-mock@0.10.0-alpha-50997b77c.0`

[2021-06-16 19:12] paliarush opened #2326 "JsonSchema does not work with REST endpoint returning a String"
**Describe the bug**
Not able to use Json Schema handler with endpoint that returns a string.

**To Reproduce**
[code]

Mesh starts successfully, however the following query fails with the error.

[code]
[code]

**Environment:**

- OS: OSX 11.4
- NodeJS: 14.17.0
[code]

**Additional context**
Also tried to use `responseSchema` like `{type: String}`, same results.

[2021-06-16 19:34] paliarush commented on #2326
Had to wrap the REST response string in quotes. Everything works now, thanks!

[2021-06-16 19:34] #2326 closed

[2021-06-16 19:39] paliarush commented on #2326
@ardatan maybe error message can be improved in this case, it is rather confusing at the moment.

[2021-06-17 02:21] jackedgson commented on #2292
@ardatan We're currently going to use InMemoryCache as a workaround... We will circle back around to using redis cach and I'll work to create a reproduction branch probably sometimes in the next 3 - 4 weeks. It's in our company backlog and will be addressed, just been deprioritised for the next few weeks :+1:

thanks for all the assistance so far

[2021-06-17 08:22] nemonemi commented on #2320
@ardatan, I've tested the error returned when accessing the resource which isn't there, but there was no change in the behavior.

[2021-06-17 08:24] ardatan commented on #2320
Could you help me to reproduce it and a failing test would be even better?

[2021-06-17 10:21] nemonemi commented on #2320
Hi Arda,
I've tried and failed, but I'll give it a go again by Monday.

[2021-06-17 13:54] mbazos commented on #2105
@redhoyasa Yes this would only be for the reflection request. If you can please take a look at this utility https://github.com/fullstorydev/grpcurl

From the help:
[code]

The main reason for this is depending on your infrastructure/routing the reflection API needs to be on the root of the service and if you have more than one gRPC service routed through the same gateway the reflection request wou

[2021-06-17 17:33] ardatan commented on #2219
@nemonemi In Type Merging, you need to do some small definitions.
We're currently working on it on this PR/branch;
https://github.com/Urigo/graphql-mesh/blob/refactor/packages/transforms/type-merging/yaml-config.graphql

[2021-06-21 02:27] hanjie0 opened #2344 "Windows version available?"
Is there any windows version available ?
Thanks .

[2021-06-21 08:00] ardatan commented on #2344
@hanjie0 Mesh is OS independenct. The only thing you need is NodeJS on your machine. Please be more specific and give more details about the issue you have.

[2021-06-21 08:00] #2344 closed

[2021-06-21 12:35] nemonemi commented on #2219
Hi Arda,
thanks for the info, I'll check it out and test it, hopefully soon.

[2021-06-23 18:37] Davenporten commented on #1459
Has there been any development on this? I'm not running into the exact same situation, but instead I'm not seeing any of the `operationHeaders` showing up in requests and think it could be related.

[2021-06-23 20:18] jarpz opened #2363 "__typename is not available on mysql handler"
**Describe the bug**
__typename is standard on graphql spec

**To Reproduce**
Use MySQL handler and connect to any database

**Expected behavior**
when defining query with __typename return field then it has to be returned the entity asociated

**Environment:**

- OS:
[code]
**Additional context**

with a query like this:

[code]

the result is:

[code]

[2021-06-24 10:54] #2284 closed

[2021-06-29 12:26] nemonemi commented on #2320
@ardatan, have you made any progress with this issue?

[2021-06-29 12:34] nemonemi opened #2382 "Mocking: Resolving a union throws an error"
**Describe the bug**

Without the union return type, everything works, but when having a union as a return type it throws an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the https://github.com/nemonemi/mesh_gateway (yarn berry)
2. Install dependencies
3. Run `yarn start`
4. Visit http://localhost:4000
3. Use the `uploadFile` mutation. -> it works
6. Use the `uploadFileWithUni

[2021-07-01 17:49] #1540 closed

[2021-07-02 12:16] alexisvisco opened #2398 "GRPC Handler: descriptorSetFilePath config regression (it does not work with json file)"
**Describe the bugs**

 `descriptorSetFilePath`  json file does not work (binary too I think)
I will explain the bug that occurred with the .json spec file. So below you have a reproducible example in codesandbox with a defined .json proto file descriptor.

The problem is that you are doing some weird stuff at the end of the `getCachedRootJson` which completely broke the `introspectionCache.descri

[2021-07-03 12:54] ntziolis opened #2407 "Support for glob patterns for resolver composition (like for other transforms)"
As of now there are 2 ways of specifying resolver paths:
- explicitly (Query.users)
- or via a wildcard (Query.*)

In a situation where a composition is applied to many but not all resolvers this leads to a lot of repetetive boiler plate configuration.

Other transforms like `filter` do support glob patterns which would reduce configuration to a minimum.

I'm happy to make a PR, but first wanted t

[2021-07-03 13:22] ardatan commented on #2407
It should already be supported by resolvers composition itself. Maybe it is a bug?

[2021-07-03 17:14] ntziolis commented on #2407
But to be clear what I meant with glob patterns. I was trying to use:
`Query.{users, customers}`

As supported by the mesh filter transform.

But this resulted in no resolver being applied at all.

Looking at the source (`graphql-tools`) it seems it only has special handling for `*` and otherwise it assumes that what is provided after the `.` is a name of a resolver.
Since `{users, customers}` is

[2021-07-04 09:36] ntziolis commented on #2407
@ardatan I have created an inital PR that adds filter transform (mesh) style glob pattern support for resolver composition. This does require an additional dependency (minimatcher) though. Please let me know if you feel this type of glob support should be included in the `graphql-tools` lib or if this is better fit for the upstream `graphql-mesh` resolver composition transform.

[2021-07-11 03:37] deslee commented on #2322
I have the exact issue. Downgrading solved my issue:

[code]

[2021-07-13 09:16] habbes opened #2466 "Refactor OData handler"
### Discussed in https://github.com/Urigo/graphql-mesh/discussions/2465

<div type='discussions-op-text'>

<sup>Originally posted by **habbes** July 13, 2021</sup>
Hi, I'd like to refactor the OData handler to make it easier to fix bugs and improvements. Currently the entire handler codebase is in a single file which makes it a bit difficult to navigate. There's also multiple instances of duplicat

[2021-07-13 20:59] skaegebein opened #2469 "Global pattern matching in rename transform using regex"
Applying a [rename](https://www.graphql-mesh.com/docs/transforms/rename/) transform

[code]
using regex works as expected:  `Api` prefix gets dropped here.

Now say some types contain a certain substring (or even a bunch) that I want to eliminate all occurrences of. However, I'm not aware of their position in the type's name.

As far as i can tell, this could be achieved via global matching of pro

[2021-07-16 09:16] habbes opened #2476 "OData handler generates bound functions without arguments"
**Describe the bug**

GraphQL fields generated by the OData handler corresponding to OData bound functions are generated without arguments even when the corresponding bound functions in OData have parameters.

**To Reproduce**
Steps to reproduce the behavior:

The bug can be observed by trying out the OData TripPin example included in the repo ([examples/odata-trippin](https://github.com/Urigo/gra

[2021-07-18 06:46] ksbalajee commented on #1027
Hi @ardatan,
I face a similar issue where I use swagger v2 to generate graphql endpoint from a private end point. Unlike the above issue, the URL is constructed as expected but its prepended with **_//_**. This schema is for a spring project and is generated automatically by a spring library. Since I'm working on a private repository I can't share the schema but I ensured that the schema has the _

[2021-07-18 08:35] ardatan commented on #1027
You can define baseUrl explicitly

[2021-07-18 10:05] ksbalajee commented on #1027
That did the trick. Thank you @ardatan.

[2021-07-19 15:27] doughjoe77 opened #2485 "OData Azure Graph Example is not working (was working two weeks ago)"
**Describe the bug**
Recently, I've been exploring the Azure Graph using GraphQL-Mesh, it's been working very consistently.  About 2 plus weeks back, I tried it again and I'm now getting an error against the Azure Graph

**To Reproduce**
Steps to reproduce the behavior:

1) git clone the latest version of GraphQL Mesh
2) cd into the .\graphql-mesh\examples\odata-microsoft directory
3) run command

[2021-07-19 17:58] ardatan commented on #2485
Sorry for inconvenience. We're getting ready for the next major release so examples are updated for that release (not using the current v0). If you want to make it work, you should change the versions with "beta".

[2021-07-20 01:11] doughjoe77 commented on #2485
Just for clarification, do you mean the beta MS Graph endpiont (https://graph.microsoft.com/beta/$metadata) or the beta release of graphql-mesh? When I tried the https://graph.microsoft.com/beta/$metadata endpoint I ended up the same error in graphql-mesh...

[2021-07-20 05:11] ardatan commented on #2485
@doughjoe77 I mean, just replace the versions of graphql-mesh packages with beta :)

[2021-07-20 12:18] simon-hlx opened #2491 "Trouble with the transformation Rename with fields start by number"
**Describe the bug**
Hey, I have some trouble with the rename transformation
The situation :
I have a legacy database with some fields start by number. So I got error I do not apply the rename transformation , no problem I am okay with this !
**To Reproduce**
Steps to reproduce the behavior:
Have a mysql table with two column name start by number and apply this config:
.meshrc.yaml
[code]

The ser

[2021-07-20 12:24] dotansimha commented on #2491
I'm not sure it's a valid GraphQL AST. Field names cannot start with a number on the AST level:
![image](https://user-images.githubusercontent.com/3680083/126323240-8491ae1c-8b25-43c3-9956-ff64a0912bd3.png)

[2021-07-20 12:49] doughjoe77 commented on #2485
So, assuming I did this right these are the steps I ran:

1. yarn remove graphql @graphql-mesh/odata
2. yarn add graphql @graphql-mesh/odata@beta
3. yarn graphql-mesh serve

Error was different this time, and I got stuck generating the Mesh schema:

"PS C:\graphql-mesh\graphql-mesh\examples\odata-microsoft> yarn graphql-mesh serve                                       yarn run v1.22.5
$ C:\graphql

[2021-07-20 13:57] ardatan commented on #2485
You also need to install beta of cli package

[2021-07-20 16:18] DCosti opened #2492 "Resolvers composition transform throws error when generating schema"
**Describe the bug**
I am using the Resolve Composition Transform and in the logs  I get the following error:

**To Reproduce**

My meshrc.yaml file looks as follow:
sources:
  - name: Kube
    handler:
      openapi:
        source: swagger.json
        baseUrl: url
        operationHeaders:
          Authorization: token
    transforms:
      - resolversComposition:
          compositions:

[2021-07-20 17:07] Urigo commented on #2492
Hi @DCosti and thank you for the report!

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 0`.

Now in order to advance to `stage 1` we'll need a simple reproduction, maybe in code-sandbox?

Later to p

[2021-07-20 18:55] doughjoe77 commented on #2485
I'm running the following commands:

1. yarn add graphql@beta  @graphql-mesh/cli@beta @graphql-mesh/odata@beta @graphql-mesh/openapi@beta
2. yarn graphql-mesh serve

When I run the second command I get the following error:

"PS C:\graphql-mesh\graphql-mesh\examples\odata-microsoft> yarn graphql-mesh serve
yarn run v1.22.5
$ C:\graphql-mesh\graphql-mesh\examples\odata-microsoft\node_modules\.bin\gr

[2021-07-21 08:55] Urigo commented on #2476
Hi @habbes and thank you for the report

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 1` thanks to your reproduction! Thank you for that!

Now in order to advance to `stage 2` we'll need a failing

[2021-07-21 09:09] habbes commented on #2476
@Urigo I can work on adding a failing test and make a PR.

[2021-07-21 10:26] ardatan commented on #2485
Only graphql-mesh packages should include beta tags but you installed graphql package with beta tag as well :)

[2021-07-21 11:47] Urigo commented on #2469
Thanks @skaegebein , this is very interesting!
Do you think you could start by adding tests that cover the patterns you want to add?
That could be a good base for the discussion

[2021-07-21 14:55] habbes commented on #2476
@Urigo I've created a PR with the failing tests.

[2021-07-21 16:35] Urigo commented on #2476
Hi @habbes and thank you for the report

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 2` thanks to your reproductions and tests, that is a huge push for us!

The next `stage 3` phase is about findi

[2021-07-22 10:44] DCosti commented on #2492
Hi @Urigo !

Unfortunately, I don't think I can share the Schema, nor API because it is from work. I tested locally and my resolvers composition transform  works fine, the server is up and running  but this is how my logs looks after deploy in kubernetes:

error: Unable to start GraphQL Mesh: Cannot find module './src/additional-resolvers'

error Command failed with exit code 1.

Do you have an id

[2021-07-22 12:13] Urigo commented on #2492
do you think you can create a sample app that replicates the issue?

[2021-07-22 16:23] JustusNBB opened #2504 "new OpenAPI Handler and its examples are broken - Mesh: Unexpected token '.' - MacOS only"
**Describe the bug**

The examples openapi-react-weatherbit, openapi-location-weather and openapi-javascript-wiki are broken due to recent changes to the OpenAPI Handler.

**To Reproduce**
Steps to reproduce the behavior:
(checkout master, cd into examples)
Install and run the package commands start/build: `mesh build|dev` have empty output.

Weatherbit build fails with  `Failed to resolve '../.me

[2021-07-23 09:22] habbes commented on #2476
@Urigo should I create a new PR to fix the issue? Or add the fix to the PR that contains the failing tests?

[2021-07-23 10:48] Urigo commented on #2476
@habbes add the fix to the same PR please :)

[2021-07-23 13:43] #2265 closed

[2021-07-23 16:20] ardatan commented on #2504
Sorry for inconvenience. We are aware of current situation. The examples on master work with "beta" versions;
https://github.com/Urigo/graphql-mesh/issues/2485#issuecomment-882745333
you can make them work by changing versions to "beta".

[2021-07-26 06:17] habbes commented on #2476
@Urigo I've updated the PR with changes that fix the bug. I've also spotted another bug related to how unbound functions handle string arguments, but I'll create a separate issue for that.

[2021-07-26 09:50] JustusNBB commented on #2504
Yeah I've seen that, and I've got it to work with an alpha release of the store, but you haven't answered my questions :(

So I guess you can't tell me right now which release is not broken, what about the issues on master? Do you really recommend upgrading to beta instead of downgrading to a stable release?

@ardatan Would you mind giving a bit more insight into the current proceedings and new fe

[2021-07-26 10:24] ardatan commented on #2504
I don't think releases and examples are broken.
Probably it is a version mismatch in package.json or yarn.lock/package-lock.json .

You can see the upcoming changes in that Release PR;
https://github.com/Urigo/graphql-mesh/pull/2336
And the docs for the upcoming version;
https://github.com/Urigo/graphql-mesh/tree/master/website/docs

https://github.com/Urigo/graphql-mesh/blob/master/website/docs/r

[2021-07-26 10:31] JustusNBB commented on #2504
It seems parts of the 0.17 release already slipped into 16.x, I think v.16.7 is still okay for example, but I will update to beta as I am really looking forward to this release!

[2021-07-28 14:29] ardatan commented on #2407
Available in the latest version!

[2021-07-28 14:29] #2407 closed

[2021-07-28 14:29] ardatan commented on #2398
Available in the latest version!

[2021-07-28 14:29] #2398 closed

[2021-07-28 14:29] ardatan commented on #2363
Available in the latest version!

[2021-07-28 14:29] #2363 closed

[2021-07-28 14:29] ardatan commented on #2322
Available in the latest version!

[2021-07-28 14:29] #2322 closed

[2021-07-28 14:30] ardatan commented on #2504
Could you try with the latest version?

[2021-07-29 06:17] nikithauc commented on #2485
@ardatan I am facing the same problem
node_modules/@graphql-tools/graphql-tag-pluck/index.mjs:2
import { isVariableDeclarator, isIdentifier, isTemplateLiteral, isImportDefaultSpecifier, isImportSpecifier } from ‘@babel/types’;
                               ^^^^^^^^^^^^
SyntaxError: Named export ‘isIdentifier’ not found. The requested module ‘@babel/types’ is a CommonJS module, which may not suppo

[2021-07-29 06:37] ardatan commented on #2485
We have released the new version so you don't need Beta anymore.

[2021-07-29 06:37] #2485 closed

[2021-07-29 09:20] JustusNBB commented on #2504
weather-bit and location-weather do work now on master (0.17)

Mesh: Unexpected token '.'

It also still has a src/mesh/sdk.ts checked in AND gitignored!!

You also changed the 0.16.10 release adding store 0.0.0, so the store alpha turned out to be stable?

[2021-07-30 02:18] nikithauc commented on #2485
@ardatan I am still getting the same  error - "Cannot read property 'getExtensions' of null" with the packages
    "@graphql-mesh/cli": "^0.31.0",
    "@graphql-mesh/odata": "^0.12.0",
    "@graphql-mesh/runtime": "^0.17.1",

[2021-07-30 11:26] #2476 closed

[2021-07-30 11:49] JustusNBB commented on #2504
Building it seems to work, but starting then results in
[code]

@ardatan I need the generate SDK functionality to be stable, there still seem to be issues concerning (inline) resolvers when generating that mesh

[2021-07-30 11:53] ardatan commented on #2504
@JustusNBB It seems ok in CodeSandbox;
https://codesandbox.io/s/github/Urigo/graphql-mesh/tree/master/examples/openapi-javascript-wiki