[2020-02-20 14:19] dotansimha opened #30 "Support JSON Schema as input schemas"
We can support JSON Schema structure for request-response, it might be a bit more tricky since it requires us to have more explicit declaration in the YAML config file.

Example:
[code]

[2020-02-20 14:19] dotansimha opened #31 "Support gRPC as input"
Similar approach to Rejoiner: http://rejoiner.io/
Also: https://github.com/grpc/grpc-node

[2020-02-20 14:19] dotansimha opened #32 "Support OData as input"

[2020-02-20 14:19] dotansimha opened #33 "Support ORDS as input (?)"
https://www.oracle.com/database/technologies/appdev/rest.html

[2020-02-20 14:20] dotansimha opened #34 "Add `rename` transformer"
To allow easy and quick renaming

[2020-02-20 14:20] dotansimha opened #35 "Add `prefix` transformer"
To prefix all types with a specific string/api name

[2020-02-20 14:21] dotansimha opened #36 "Add TypeScript typings generation"
For models types and for resolvers signature

[2020-02-20 14:21] dotansimha opened #37 "Generate SDK based on operations to fully-typed data access"

[2020-02-20 14:22] dotansimha opened #38 "Allow parameters in `link` transformer"

[2020-02-20 14:22] dotansimha opened #39 "TypeScript signature per each SDK?"

[2020-02-20 14:23] dotansimha opened #40 "Dynamic creation of YAML config schema"

[2020-02-20 14:29] dotansimha opened #41 "Easy integration with `graphql-compose`"

[2020-02-20 14:29] dotansimha opened #42 "Support graphql-compose-mongoose as input"

[2020-02-20 14:30] dotansimha opened #43 "Support mongoose schema as input"

[2020-02-20 14:31] dotansimha opened #44 "Support Postgres schema as input"

[2020-02-20 14:34] dotansimha opened #45 "Allow GraphQL SDL in `link` config?"
something like that:

[code]

[2020-02-23 10:24] dotansimha opened #49 "Warn about missing custom resolvers"

[2020-02-23 15:09] #39 closed, assigned to nobody

[2020-02-23 15:09] #36 closed, assigned to nobody

[2020-02-23 15:09] #37 closed, assigned to nobody

[2020-02-23 15:11] dotansimha opened #50 "Allow `mesh serve` command through the cli"

[2020-02-23 15:11] #50 closed, assigned to nobody

[2020-02-24 08:40] #40 closed, assigned to nobody

[2020-02-24 09:11] dotansimha opened #52 "Support GraphQL endpoint as source input"

[2020-02-24 09:11] #43 closed, assigned to nobody

[2020-02-25 12:06] #38 closed, assigned to nobody

[2020-02-25 12:06] #45 closed, assigned to nobody

[2020-02-25 13:34] dotansimha opened #54 "Add CI for build/test/alpha release"

[2020-02-25 13:36] dotansimha opened #55 "Wrapping data source abstraction?"
Things like:
- DataLoader Optimization
- Predefined caching
- Custom caching mechanism
- Mocking
- Snapshot for local development
- more?

* Allow it per operation?

[2020-02-25 14:02] ardatan opened #56 "Support PL/SQL as input"

[2020-02-26 10:41] dotansimha opened #59 "Generate type-safe SDK based on operations"
It was there before (with generated approach, https://github.com/Urigo/graphql-mesh/blob/e35c21f354dc07489623278f07427bbe7ac55f8f/packages/cli/src/generate-sdk.ts), we need to bring it back.

[2020-02-27 15:02] #34 closed, assigned to nobody

[2020-02-27 15:02] #35 closed, assigned to nobody

[2020-02-27 15:02] #41 closed, assigned to nobody

[2020-02-27 15:02] #54 closed, assigned to nobody

[2020-03-01 18:14] #44 closed, assigned to nobody

[2020-03-01 18:17] dotansimha opened #67 "Support environments variables in yaml config file"

[2020-03-03 13:17] #30 closed, assigned to ardatan

[2020-03-11 17:21] dotansimha opened #83 "Generated SDK of `graphql` handler doesn't work"
It just returns `null`, it guess it's related to the way `info` is being parsed in `graphql-tools-fork`.

[2020-03-11 21:34] yaacovCR commented on #83
Not sure about the architecture here, but if you are able to share some code of what you are expecting vs what you got, I can take a look.

[2020-03-12 07:34] dotansimha commented on #83
@yaacovCR We are taking all root operations from `Query` and `Mutation`, and wrap it with a function to make it available to run from the `context`. It's very similar to `delegateToSchema`, but as a function.
The current behaviour requires to pass `context` and `info`, but maybe we can bypass that later by wrapping all resolvers.

In this example: https://github.com/Urigo/graphql-mesh/blob/master/

[2020-03-12 07:41] dotansimha commented on #31
WIP: https://github.com/Urigo/graphql-mesh/pull/85

[2020-03-12 07:49] dotansimha opened #86 "`prefix` transform with `includeRootOperations: true` breaks for `postgraphile` handler"
I guess it's because `postgraphile` does some stuff to `Query` type and uses interfaces on it.

[2020-03-12 08:03] #67 closed

[2020-03-12 10:42] yaacovCR commented on #83
Sounds like a new graphql-binding...

Looks like you are passing the info object, are you sending that within the function in context to delegateToSchema? Where is that code?

[2020-03-12 11:36] dotansimha commented on #83
@yaacovCR yeah exactly, it seems like the `delegateToSchema` behind the scenes is using the selection set as-is, while it needs to "transform" it, so it might needed to be done before running the actual resolver. Or maybe just create `delegateToSchema` manually with the extracted selection set.
I will push an example for that soon, and let you know.
Thanks!

[2020-03-12 11:54] benjie commented on #86
I can write you a small plugin to remove the interface from Query if you like.

[2020-03-12 13:47] dotansimha commented on #83
@yaacovCR Ok so I managed to get this working, it's not perfect, but I guess it's fine for now.

The example is here: https://github.com/Urigo/graphql-mesh/tree/master/examples/postgres-geodb (see README)

So what I did is: the method I'm putting in the context is not the resolver of the root operation itself, but a method that executes `delegateToSchema` with the correct argument, but with the ri

[2020-03-12 13:47] dotansimha opened #89 "Improve schema delegation API for `graphql` handler"
As described here: https://github.com/Urigo/graphql-mesh/issues/83#issuecomment-598194527

[2020-03-12 13:47] #83 closed

[2020-03-12 13:49] dotansimha commented on #86
That's exactly what I planned to do :) I think you can do it faster ;)
Thanks @benjie !

[2020-03-12 14:37] yaacovCR commented on #83
I think you can use HoistField transform to hoist nodes. Or you can just take nodes out of root fields, I guess...

I may be misunderstanding...

[2020-03-12 15:05] dotansimha commented on #59
Done in: https://github.com/Urigo/graphql-mesh/commit/70133aeb6d0bcecb528039d3f8f785670e56a55a

Example available in: https://github.com/Urigo/graphql-mesh/tree/master/examples/postgres-geodb#using-the-generated-sdk

[2020-03-12 15:05] #59 closed

[2020-03-12 15:07] dotansimha opened #90 "Implement handlers cache"
To avoid loading schemas every time.

[2020-03-12 15:07] #52 closed

[2020-03-12 15:12] yaacovCR commented on #89
What is the purpose of the nodes field? Why do you want it on root fields but not when linking schemas?

For long term ideas about query/result processing, see here: https://yaacovcr.github.io/apollo-stitcher/tutorial-Motivating%20Example.html

[2020-03-12 15:12] yaacovCR commented on #89
I think use of PreStitch pseudofragment is cool...

[2020-03-12 15:14] dotansimha opened #91 "Postgres session need to be closed after request (`postgraphile`)"
We are not using the context builder of `postgraphile`, because it's not super easy to integrate it with a non-http environment (as far as I remember). So at the moment the connection is not being releases.

I think we can add hooks for that, and release it after execution is done.

[2020-03-12 15:24] dotansimha commented on #89
It's actually coming from the automatically-created schema (for example, the output of `postgraphile`), or from a remote schema (for example, GitHub GraphQL schema).  So I have no control over that.
The idea behind removing it is to allow simple inerface and usage for the consumer.
In this case, it uses `Github_search` behind the scenes, and it might returns multiple types, not only `Github_User`,

[2020-03-12 18:33] benjie commented on #86
I think this'll work (typed straight into the textbox, so may need a subtle tweak here and there):

[code]

It's basically the reverse of this: https://github.com/graphile/graphile-engine/blob/9dca5c8631e6c336b59c499d901c774d41825c60/packages/graphile-build/src/plugins/NodePlugin.js#L166-L188

[2020-03-12 20:57] yaacovCR commented on #86
I think it's valid for a root type to have interfaces, though? This sounds like potentially a bug in RenameRootTypes?

[2020-03-15 02:56] yaacovCR commented on #86
I'd be happy to look into it if someone can spin up a straightforward reproduction.

[2020-03-16 07:45] dotansimha commented on #86
@yaacovCR it is valid :) I think it might be an issue with `RenameRootTypes`?

You can try to run the example under `./examples/postgres-geodb`, and add `includeRootOperations: true` to the first source there:

[code]

This will cause `yarn mesh:serve` to fail

[2020-03-16 16:07] dotansimha opened #95 "Allow to modify schema types easily?"
Something like that:

[code]

This is mostly for modifying the schema, and changing fields behaviour, that are conflicts in any other way. So we cant do `extend type` and override those types.

This goal behind this is to allow easy transformations.

[2020-03-18 08:49] dotansimha commented on #31
Initial implemented merged. Thanks @ardatan

I think enums are not supported at the moment, but we can improve it later.

[2020-03-18 08:49] #31 closed

[2020-03-19 10:24] #42 closed

[2020-03-23 15:48] #91 closed

[2020-03-24 00:01] yaacovCR commented on #95
Sounds like you need a few more transforms in or out of graphql-tools-fork and then create a yaml wrapper?

[2020-03-24 00:07] isnifer opened #121 "js-wiki example does not work"
[code]

[2020-03-24 01:50] yaacovCR commented on #86
I get some errors with the example:

with v0.0.15
[code]

with v0.0.14
[code]

[2020-03-24 03:24] yaacovCR commented on #86
I spun up a simple example with a query implementing an interface and I tried renaming a field on the Query that appears on the interface (without renaming the field on the interface, which is not supported), and, of course, I got the following error:

"Interface field MyInterface.myFieldOnInterface expected but Query does not provide it."

Is the error you are hitting? It sounds like we need Tran

[2020-03-24 04:58] yaacovCR commented on #86
New transforms released in graphql-tools-fork v8.10.0,

I am not sure if this is your bug because unable to reproduce as above, but it seems like it should block the above effort, and at the very list should be helpful.

There are no assumptions made by the different transforms, you must explicitly rename the interfaces as well as the fields, and so presumably, all types that extend the interface

[2020-03-24 05:10] yaacovCR commented on #86
See, for example: https://graphql-tools-fork.netlify.com/classes/_wrap_index_.renameinterfacefields.html

[2020-03-24 10:51] ardatan commented on #121
Fixed in 0.0.16!

[2020-03-24 10:51] #121 closed

[2020-03-24 14:12] daisuke-awaji opened #127 "'core-js/modules/es6.array.find' cannot be used with the json-schema API"
hi. I'm having a bit of trouble, so let me share.

To load the json-schema, I wrote the following in .meshrc.yaml

[code]

package.json is as follows

[code]

And when I try to start the graphql-mesh server, I get an error like the following

[code]

To fix this, I decided to install an older version of core-js.

[code]

I think we need to resolve these library dependencies.

[2020-03-24 14:45] ardatan commented on #127
`string-interpolation`, which is used by `json-schema` handler, doesn't have core-js dependency.
@dotansimha Do you have any idea why this happens?

[2020-03-25 08:10] dotansimha commented on #127
Not sure, @ardatan
@daisuke-awaji can you please share a repo that has this issue? I don't think we have any dependency for `core-js` at all.
btw, you need to specify more details for `json-schema` handler. You can load the YAML validation schema to your IDE to get real-time autocomplete and validation, see `Basic Usage` in the README

[2020-03-25 13:18] dotansimha opened #133 "Replace `string-interpolation` with a better open-source"
maybe http://olado.github.io/doT/

Effects:
- most transforms
- json-schema handler

[2020-03-25 13:19] dotansimha commented on #95
@yaacovCR I guess we'll use `graphql-tools-fork` if it provides those transformations ;)

[2020-03-25 13:19] dotansimha commented on #90
Done already, used by most.

[2020-03-25 13:19] #90 closed

[2020-03-26 09:37] dotansimha commented on #86
@yaacovCR It seems unrelated to it, I'm working on a fix :)

[2020-03-26 14:26] Marx2 opened #143 "No licence"
Licence description is missing in project

[2020-03-26 14:27] #143 closed

[2020-03-27 14:36] dotansimha commented on #89
Implemented by @ardatan in: https://github.com/Urigo/graphql-mesh/pull/142

[2020-03-27 14:39] stephengfriend opened #150 "parseConfig should optionally accept an object, instead of reading from the filesystem"
I'm currently trying to deploy GraphQL Mesh on @zeit Now as a Next.js API route. No matter where I place the `.meshrc.yaml`, it can't be found.

[code]

I also tried to deploy it out as a standalone function on @zeit Now and even when I could confirm the file was present, it still couldn't find the config.

[code]

It would be helpful for serverless scenarios to allow passing the config object int

[2020-03-27 18:40] dan-muller opened #154 "Subscription issue with grpc-example"
With a clean pull of the repo and running the example using `yarn start` I am receiving the error message below when running the query

Query
[code]

Error
[code]

[2020-03-28 11:48] ardatan commented on #154
You can try with the canary version;
`0.0.16-alpha-af1bf30.33+af1bf30`

[2020-03-28 16:43] ardatan commented on #55
They have been mostly implemented, we can open seperate issues for new ideas.

[2020-03-28 16:43] #55 closed

[2020-03-29 16:17] ardatan commented on #86
@dotansimha Could you check if it is still broken after my fix?

[2020-03-29 20:08] dan-muller commented on #154
Thanks for the update, where can I access the canary releases?

[2020-03-29 20:15] ardatan commented on #154
You can see the CI logs for canary versions but for now could you please try with the version I wrote first so we can mark this issue solved :)

[2020-03-29 20:37] dan-muller commented on #154
Updating `examples/grpc-example/package.json` to the alpha worked!
[code]

Thanks again for your help!

[2020-03-30 16:02] dotansimha commented on #86
I fixed it using @benjie 's example, worked like a charm ;)

[2020-03-30 16:41] yaacovCR commented on #86
You could also use the RenameInterfaceFields transform but for your purposes, just as easy to remove the interface.

[2020-03-31 02:32] damacisaac commented on #150
Ran into the same issues getting started. Had a hard time getting `parseConfig` to find my config file, and then realized I wouldn't be able to use it with different environment variables. Happy to help out in any way.

[2020-04-01 12:43] stephengfriend commented on #150
I confirmed the changes made by @ardatan were good and will be releasing a write-up of how I've deployed Mesh as a gateway on Zeit Now and consumed it as a hasura remote schema later today.

[2020-04-02 11:27] #32 closed

[2020-04-02 14:17] ardatan commented on #154
Available in 0.0.17!

[2020-04-02 14:17] #154 closed

[2020-04-02 14:17] ardatan commented on #150
Available in 0.0.17 🎉

[2020-04-02 14:17] #150 closed

[2020-04-02 14:17] ardatan commented on #127
Available in 0.0.17 🎉

[2020-04-02 14:17] #127 closed

[2020-04-02 14:17] ardatan commented on #89
Available in 0.0.17 🎉

[2020-04-02 14:17] #89 closed

[2020-04-02 14:17] ardatan commented on #86
Available in 0.0.17 🎉

[2020-04-02 14:17] #86 closed

[2020-04-03 16:33] petrovalex opened #187 "Incorrectly identified content type for openapi endpoint"
I have openapi endpoint which returns response with Content-Type set to "application/json;charset=UTF-8".
readUrl function fails to test content type with regex /json$/.test(contentType) as it expects it to be at the end of the string

[2020-04-05 06:36] dotansimha commented on #187
@petrovalex how does you endpoint is constructed? it's a url without extension? (`http://my-server/schema`)
Because maybe we can add logic to use content-type / guess the response when it's not available via file extension.

[2020-04-05 06:53] petrovalex commented on #187
@dotansimha yes, it does not have extension and I don't have control over it. You do have a code already which tries to guess based on content-type. the problem is that uses regex which assumes 'json' to be at the end of the string `/json$/.test(contentType)`, in my case the value of content-type is `application/json;charset=UTF-8`. May the logic can be updated to just check if response content-ty

[2020-04-05 07:22] dotansimha commented on #187
Got it. I tried to fix it in: https://github.com/Urigo/graphql-mesh/pull/193

@petrovalex , can you please try `0.0.20-alpha-e8832b2.14+e8832b2`?

[2020-04-05 07:58] petrovalex commented on #187
@dotansimha that is now works..another problem is that I have authorization for that endpoint..I am setting headers in the openapi section of yaml file, but it is not passed through when downloading the schema in readUrl function

[2020-04-05 08:49] dotansimha commented on #187
Perfect. So we are close :)

So you can choose one of the following:

1. You can use `0.0.20-alpha-2d12130.15+2d12130` (added in https://github.com/Urigo/graphql-mesh/pull/194) and check `schemaHeaders` config field, it should allow you to add headers to this schema request call. You can also use environment variables there.

2. You can have an external custom script to fetch your OepnAPI schema (

[2020-04-05 10:20] petrovalex commented on #187
@dotansimha That part works, thanks! The problem is now with schema itself. That particular swagger schema is exposed from Java service and it has this reference in schema, eg `"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/ResponseEntity«object»"
}
},
"500": {
"description": "Internal Server Error"
}
}` and it fails with
 `S2OError: Could not resolve reference #/d

[2020-04-05 10:21] ardatan commented on #187
@petrovalex Could you open a different issue and share your swagger schema there?

[2020-04-05 10:25] dotansimha commented on #187
@ardatan is right. @petrovalex can you please open a new issue for that? (I'm not sure we can do a lot, if the Swagger file is broken, so we can't really solve it in Mesh, but let's give it a try...)

[2020-04-05 10:38] petrovalex opened #196 "openapi handler fails to parse swagger schema from Java service"
Having that endpoint definition from Java Spring service (a part of schema)

[code]

In some cases the definition reference is ReponseEntity\<Model\>
Schema is automatically generated.

Having an error
` S2OError: Could not resolve reference #/definitions/ResponseEntity«object»
    at throwError (E:\projects\hasura-mesh\node_modules\swagger2openapi\index.js:39:15)
    at throwOrWarn (E:\projects\h

[2020-04-05 13:57] ardatan commented on #196
As @dotansimha already explained here https://github.com/Urigo/graphql-mesh/issues/187#issuecomment-609393740

If Swagger file doesn't have `ResponseEntity`, Mesh has nothing to do with that because this looks like a problem with Spring itself because it generates a broken Swagger file then.
https://github.com/springfox/springfox/issues/1884

[2020-04-05 14:34] petrovalex commented on #196
Agree, thanks!

On Sun, 5 Apr 2020, 16:57 Arda TANRIKULU, <notifications@github.com> wrote:

[2020-04-05 14:36] #196 closed

[2020-04-06 12:53] garethhallnz opened #198 "Authentication with openapi not passing"
Hi,

Our project management tool called YouTrack supports the openapi v3 standard but it requires authentication. I am having some trouble authenticating ... or so I believe.

Executing the curl request below returns the desidered output (See the attached zip file [openapi.json.zip](https://github.com/Urigo/graphql-mesh/files/4438404/openapi.json.zip))
[code]

My .meshrc.yaml
[code]

Then when I e

[2020-04-06 13:25] ardatan commented on #198
We changed the API for Swagger but haven't released it yet. You can use the alpha release for now. `0.0.20-alpha-aa57f27.19+aa57f27`
You can pass headers for you schema like below with that alpha version;
[code]

[2020-04-06 21:16] garethhallnz commented on #198
Thank you I've changed to the alpha release as suggested. Also I assume the `Authorization: Bearer Bearer perm:******************` having Bearer twice was just a typo.

Anyway, the error has now changed to:
`error: Unable to serve mesh: Request is not defined {"stack":"ReferenceError: Request is not defined\n    at readUrlWithCache (/Users/garethhall/Sites/communica/taskhub/node_modules/@graphql-m

[2020-04-06 21:31] ardatan commented on #198
@garethhallnz You're right. Could you try with this one?
`0.0.20-alpha-18f10ab.20+18f10ab`

[2020-04-06 21:56] garethhallnz commented on #198
Yay, a step forward :) That said there is a new failure much later down the stack.

Playground now launches but queries are failing because the uri is not correct.

`apiadmin/projects` should be `api/admin/projects`

https://youtrack.example.com/api/openapi.json defines the uri as

[code]

Error message
[code]

[2020-04-06 22:15] ardatan commented on #198
Are you sure this swagger file is valid because when I paste it into Swagger Editor? I got an error like `paths must start with '/'`.
https://editor.swagger.io/
You can see the specifications; paths always starts with `/` character.
https://swagger.io/docs/specification/basic-structure/

[2020-04-06 22:42] ardatan commented on #198
@garethhallnz
I added an option to override `server` config. So you can use it like below;
[code]
`npx match-version @graphql-mesh 0.0.20-alpha-067bc75.23+067bc75`

[2020-04-07 00:11] garethhallnz commented on #198
@ardatan Your help has been awesome thanks!

Another step forward but still not working :(

The baseUrl does seem to resolve the previous problem. However, PlayGround now reports Unauthorized.

My graphql query
[code]

Response
[code]

I have also tried to pass the Authorization header in PlayGround but to no avail.

Here is the curl request that should match the above and it does work.
[code]

[2020-04-07 00:13] ardatan commented on #198
For operations, you need to use operationHeaders additionally as in schemaHeaders.

[2020-04-07 00:18] garethhallnz commented on #198
Sorry I am not sure I follow, what does that mean?

[2020-04-07 07:55] ardatan commented on #198
`schemaHeaders` is used only while fetching `openapi.json`. There is another option called `operationHeaders` used for operations/queries.
[code]
That means you need to define your headers under `operationHeaders` as well.

[2020-04-07 08:17] garethhallnz commented on #198
Thanks that has inched things forward a little more. It's almost working;

My output is now
[code]

[2020-04-07 08:51] ardatan commented on #198
It looks like an incompability between the schema and the actual result. How does the actual result look like?

[2020-04-07 09:25] garethhallnz commented on #198
Well clearly the Youtrack devs have not implemented the openapi standard correctly.

I too get an error in swagger.

So I downloaded the openapi file and edited it to make it pass. Basically I removed the license section and added "/" to the paths.

I then updated the mesh file to:
[code]
I was hoping your new `baseUrl` option would allow me to bypass prevouse with the url.

But that caused this e

[2020-04-07 19:24] daisuke-awaji commented on #127
Sorry for the late reply. Thanks for solving.

[2020-04-08 08:55] Urigo commented on #198
@garethhallnz we are thinking about having the idea of "Mesh Modules" or something, where you can install ready to use, open source Mesh npm packages for APIs a lot of people need.

Do you think you can share your code on Github somehow and we can help you create something that first will work for you and also others will find useful? (YouTrack GraphQL API)

[2020-04-08 10:13] dotansimha commented on #187
Fixed in v0.0.20

[2020-04-08 10:13] #187 closed

[2020-04-08 11:18] garethhallnz commented on #198
@Urigo I am happy to push something to Github; The problem is while you could get a free Youtrack account it's not really something a user can just setup to try.

AI user  would have to:
* Create a YouTrack account
* Load some test data
* Go into YouTrack and create an access token

Do you think people will do that?

[2020-04-08 16:23] Urigo commented on #198
@garethhallnz maybe who knows?
also after we'll have it maybe we can share it with JetBrains so they could offer their users also a GraphQL API!

[2020-04-09 18:31] petrovalex commented on #198
@ardatan I think in my use case I can not really predefine operationHeaders, user logs in and acquires token which is then supposed to be used for querying data. Is is possible still to pass operation headers from the client?

[2020-04-10 03:46] garethhallnz commented on #198
Yeah I am going to face that issue too. The quesry header must be injectable.

[2020-04-10 03:49] garethhallnz commented on #198
Do you want to create a repo so you have ownership of it? Then I'll fork than and do a pull request; otherwise, I'll set it up under my account.

[2020-04-10 10:07] ardatan commented on #198
@garethhallnz I realized that you need add the name of field specifically in `fields` parameter in regular HTTP request. So since Mesh doesn't know this specific thing, you need to do the same thing in GraphQL operations. I am preparing an example for youtrack, you can take a look at.

You can use environmental variables or runtime API to pass those variables. In environmental variables you can us

[2020-04-10 13:51] ardatan commented on #198
I submitted a PR that has some changes on Mesh to make things easier for OpenAPI.
https://github.com/Urigo/graphql-mesh/pull/224

[2020-04-10 16:28] For3stpunk opened #225 "Circularity Error With Tsconfig on Location-Weather Example"
Hello there!

I've been working through the examples of GraphQL Mesh, trying to get everything up and running, as I'm writing an article on it. I've got nearly everything working now, but I wanted to offer a working example of merging APIs using the library. After I install all of the libraries and then try and serve the GraphQL Mesh, I get the following error:
[code]
Anyone might be able to help

[2020-04-10 16:32] ardatan commented on #225
Are you running the example as is? Or are you creating it from scratch?

[2020-04-10 16:43] stefan-- opened #226 "Authentication: pass token via query parameter"
Hi there,

I was wondering if it is possible to pass a token as a query parameter as required for instance with [pipedrive](https://pipedrive.readme.io/docs/core-api-concepts-authentication)? The documentation says the following

Thanks

[2020-04-10 16:49] ardatan commented on #226
Which handler are you using? Could you give more information?

[2020-04-10 19:12] For3stpunk commented on #225
Was using the code from the repository. Copied and pasted them into original files, but used the same file structure. Installed yarn, graphql, @graphql-mesh/api, @graphql-mesh/cli and graphql-mesh/openapi, but i get the above error when I try and run it...

[2020-04-10 20:08] ardatan commented on #225
Oh now I see. It extends tsconfig.json file on the root. So could you recreate that tsconfig.json file?

[2020-04-10 20:54] For3stpunk commented on #225
I've got a copy of tsconfig.json in the root folder of the project directory...  `c:\[USER]\documents\projects\location-weather, 'tsconfig.json'.

The Tsconfig files containts the code:
{
  "extends": "../../tsconfig.json",
  "compilerOptions": {
    "module": "commonjs"
  },
  "include": ["src"]
}

which was what was given in the example, but that directs it to look for the file in C:\ root direc

[2020-04-10 21:51] ardatan commented on #225
There was other problems on that example, so I fixed and pushed new changes. You can see how it works on codesandbox without installing locally.
https://codesandbox.io/s/github/Urigo/graphql-mesh/tree/master/examples/location-weather

[2020-04-10 22:24] For3stpunk commented on #225
o, my goodness, yr a saint! Thank you so much for doing that! And also good to know about this site, was not familiar previously! Nice to have a development environment you can share with the world. Super stoked to delve into this, now! I was right on the brink of having it all working. I just needed a tiny bit more of a finalized example to reverse-engineer. Am really looking forward to delving i

[2020-04-10 22:24] #225 closed

[2020-04-10 22:58] ardatan commented on #198
@garethhallnz I also added a working example;
https://codesandbox.io/s/strange-lewin-blnvq?file=/.meshrc.yml

[2020-04-10 23:37] garethhallnz commented on #198
@ardatan Test locally and yes it works Thanks.

[2020-04-11 00:22] garethhallnz commented on #198
@ardatan I spoke a little too soon; I did a bunch of testing and simple queries work but more complex onces fail.

These work
[code]

These fail
[code]

Ideally my goal it to reconstruct
[code]

[2020-04-11 07:19] stefan-- commented on #226
I have literally just started to follow the tutorial at https://graphql-mesh.com/docs/getting-started/basic-example. I installed `@graphql-mesh/runtime` version `0.0.20` along `@graphql-mesh/openapi` of the same version and looked through the `config.d.ts` file of the `types` package to better understand the options. I found the following which allows only to set request headers:

[code]
This is w

[2020-04-11 07:27] ardatan commented on #198
In codesandbox I sent to you, all of them are working. I didn't get null with any of them. Could you confirm? If yes, could you follow the same setup?
https://codesandbox.io/s/strange-lewin-blnvq?file=/.meshrc.yml

[2020-04-11 09:55] gauthierelcapitan opened #229 "OpenAPI forward tenant header to API"
Hi guys,

I'm trying to use GraphQL Mesh with a multi-tenant OpenApi 3.0. The OpenApi has a apiKey security scheme described as :

[code]

In the GraphQL query I added headers (with Apollo Playground) :

[code]

But I can't figure out how to forward this header to the REAST Api. Is there any way yet ?

I noticed that the release 0.0.20 allows to add operationHeaders, so for the moment I can hardco

[2020-04-11 17:18] ardatan commented on #229
GraphQL Mesh is not a server that forwards your requests. It only generates an executable schema that you can even execute using pure graphql-js. So I cannot say forwarding headers is a good idea.

We are currently working on a PR that implements a feature to pass custom headers using `root`, `args`, `context` and `info`. So with this canary version you can try the following methods.

`0.0.21-alph

[2020-04-11 17:18] ardatan commented on #226
See my comment here;
https://github.com/Urigo/graphql-mesh/issues/229#issuecomment-612469237

[2020-04-11 18:09] stefan-- commented on #226
Thanks @ardatan

[2020-04-11 23:50] garethhallnz commented on #198
@ardatan My setup is the same other than hardcoded tokens. I think the problem is content in your example. You only have one project called "Kanban Test (KT)" but it has no issues or comments against said issues.

So in your example
[code]
returns [] so there are no issues in KT

So to replicate the problem create an issue againt the KT project

[2020-04-12 00:15] garethhallnz commented on #198
Also, my linter was not too happy with the `add-fields.js` file

Erroring with
[code]

Here the updated file
[code]

[2020-04-12 00:32] ardatan commented on #198
I'll update it then. Thanks!

[2020-04-12 00:38] ardatan commented on #198
@garethhallnz As you can test in my codesandbox the following query gives the correct result;
[code]
Result:
[code]

[2020-04-12 03:11] garethhallnz commented on #198
Yes, that works (as do my copy) but as we all know the value of Grapdql is the ability the pull data with depth.

So try
[code]

You notice `issues[0].summary` us `null`

[2020-04-12 10:54] ardatan commented on #198
Ok so this is a different problem. We solved the previous ones as I understand :) This is good.
Again this is not related to GraphQL Mesh, we need update our composer function to resolve the fields of YouTrack as I see in their documentation. So I updated the composer function to resolve subfields as well. You can do `console.log(args)` to see how we build our fields parameter.
https://codesandbox

[2020-04-12 11:31] stefan-- opened #230 "Throws "Could not invoke operation" error in openapi to graphql resolver builder"
Hi,

I am experiencing the following issue when testing the stripe API using version `0.0.21-alpha-d20fcf0.20+d20fcf0`. My `.meshrc.yaml` looks like this
[code]

When running the below query, I receive the error `Could not invoke operation <...>`.

**Query**
[code]

**Response**
[code]

Looking at the stripe logs, the request doesn't hit their servers. I have tested the same query with the `IBM/op

[2020-04-12 12:43] ardatan commented on #230
There was an issue related to headers. It is fixed;
See the example below. It uses `0.0.21-alpha-3516a66.20+3516a66`
https://codesandbox.io/s/wizardly-morning-v7pou?file=/package.json

[2020-04-12 22:17] garethhallnz commented on #198
@ardatan Now that I am thinking about it the above is a massive problem. The Youtrack token is directly related to the user and their permissions. Therefore some users might have access to operations they should not have; like deleting something. So in a sense, we can only use mesh like an administration connection. This severely limits it's use-case ..... for now at least.

[2020-04-12 22:25] ardatan commented on #198
@garethhallnz In that PR, now we are able to pass custom headers using args and context. So using the following configuration, you can pass different API Keys using `apiKey` argument on your root operations.
[code]
Or you can pass it using context,
[code]

[2020-04-14 07:57] dotansimha commented on #49
Not needed. Mostly because we can't really tell if a field needs a resolvers or not :)

[2020-04-14 07:57] #49 closed

[2020-04-14 10:39] ardatan opened #236 "Documentation for Authentication"
- Custom headers and additional args using string interpolation
- Use YouTrack as an example

[2020-04-14 14:39] ardatan opened #238 "Recipe for Federation"

[2020-04-16 17:27] ardatan commented on #230
Available in 0.1.0

[2020-04-16 17:27] #230 closed

[2020-04-16 17:27] ardatan commented on #229
Available in 0.1.0

[2020-04-16 17:27] #229 closed

[2020-04-16 17:27] ardatan commented on #226
Available in 0.1.0

[2020-04-16 17:27] #226 closed

[2020-04-16 17:27] ardatan commented on #198
Available in 0.1.0!

[2020-04-16 17:27] #198 closed

[2020-04-16 23:08] rufman opened #244 "getPackageProtoDefinition for proto file with mulitple namespaces"
I'm trying to load a proto file that references google protobuf definitions amounts others. When generating the schema, the `heal` function removes all fields that have types like `google.protobuf.StringValue` because they resolve to undefined.

I think this happens because those type are never resolved from the proto. When you load the proto with protobufjs you do get all those types in the `goog

[2020-04-17 08:56] ardatan commented on #244
Could you share a reproduction repo or CodeSandbox?

[2020-04-17 17:16] rufman commented on #244
Here is the reproduction with the steps I took: https://github.com/rufman/grpc-with-google-proto

[2020-04-17 18:49] donedgardo opened #248 "Unexpected content-type error in swagger/openAPI query response"
I'm trying this mesh in one of our client swagger micro-services:
I am able to run the serve cli command and get graphiql running with everything documented.

Running a query I get the following error:
`"Unexpected error value: \"Operation GET /api/v1/transfers/address/accountId={accountId} should have a content-type '*/*' but has 'application/json;charset=UTF-8' instead\"",`

I want to assume thi

[2020-04-17 19:48] ardatan commented on #248
I think you need to overwrite headers. So you can add your own headers using operationHeaders mesh config.

[2020-04-17 21:33] donedgardo commented on #248
How can I debug if the operation is using the correct request headers. Added the operationHeaders but still same error.

[2020-04-17 22:14] ardatan commented on #248
You can compare the request coming from Mesh and working another one you send.

[2020-04-18 08:54] stefan-- commented on #230
@ardatan thanks mate.

[2020-04-18 11:14] ardatan commented on #244
Thank you for sharing the reproduction! Could you try with the following canary version?
`0.0.21-alpha-b8d13a9.71+b8d13a9 `

[2020-04-18 11:47] #244 closed

[2020-04-18 17:50] gilgardosh opened #253 "GraphQL's execute - two variables needed"
I'm using execute in typescript, following [this example](https://graphql-mesh.com/docs/getting-started/basic-example/).
While replacing the requires in imports, an error raised mentioning two variables are expected.

Adding an empty object after the mesh schema solved it.

[2020-04-18 18:28] ardatan commented on #253
I guess you mean two parameters of that method by two variables. You're right. the second parameter `variables`  should be optional. Until it gets fixed, you can pass `{}` an empty object.

[2020-04-19 08:57] stefan-- opened #255 "Typescript: generating invalid typings"
Hi there,

when attempting to create typings from the [stripe OpenAPI Spec](https://github.com/stripe/openapi) it creates invalid typings, both, for version 2 and 3.

The relevant block in [spec version 2](https://raw.githubusercontent.com/stripe/openapi/master/openapi/spec2.yaml) is the following.

[code]

Running `npx graphql-mesh typescript --output ./src/generated/mesh.ts` generates the below

[2020-04-19 11:43] ardatan commented on #255
Let me explain why you have this issue. First in Swagger, enums are not named types and they are not working like key/value pairs as in TypeScript and GraphQL so we cannot generate a key for empty value then you get that invalid typings.

You have multiple enum types with similar/same values because enums are not named types in Swagger so even if they are similar it is not possible to know if they

[2020-04-19 12:10] gilgardosh opened #259 "Parameters with non-latin names getting lost"
Hi,
I'm working on an API using hebrew names to some of its parameters.
when I suppose to receive a json object with some hebrew-named parameters, they got lost somewhere in the mesh process.

for example, expected to receive:

but got:

[2020-04-19 12:22] dotansimha commented on #259
Hi @gilgardosh !
I never saw a JSON with Hebrew keys before :D

What handler do you use? can you share the source api with us?

[2020-04-19 12:43] gilgardosh commented on #259
I'm using @graphql-mesh/runtime, according to [this example](https://graphql-mesh.com/docs/getting-started/basic-example/).
and [that's the API](https://github.com/gilgardosh/hashavshevet-api/blob/master/wizcloud-api.yaml) I'm working with.

Unfotunately, the endpoints require token that I cannot share.

[2020-04-19 13:55] hamatoyogi opened #261 "@graphql-mesh/json-schema not accepting JSON schema formatted from an API response"
Hi there!
I love the idea and excited to get this working as it is intended.

I'm trying out @graphql-mesh/json-schema.
My goal is to expose a graphQL endpoint for the existing REST enpoint.
I've made the API call and saved the response.
At first, I was naive and thought I could just save the response JSON and point the `.meshrc.yaml` at it, but of course, it's not a valid JSON schema.
I Tried con

[2020-04-19 14:05] ardatan commented on #255
Could you try with the following alpha version?
`0.1.5-alpha-152a03e.0`

[2020-04-19 14:15] ardatan commented on #261
We have an example for JSON Schema;
https://github.com/Urigo/graphql-mesh/tree/master/examples/json-schema-example

I tried an example and it worked. Could you share more details or a reproduction codesandbox something like this one?
https://codesandbox.io/s/github/Urigo/graphql-mesh/tree/master/examples/json-schema-example

[2020-04-19 14:38] ardatan commented on #259
I don't think it is possible to use non-latin characters in GraphQL Schema. This is an issue related to GraphQL itself.

[2020-04-19 14:38] #259 closed

[2020-04-19 14:48] hamatoyogi commented on #261
@ardatan Thanks for the quick response!

Unfortunately, I don't think I can share the Schema, nor API because it is from work.
But I also tried to do something more simple using `https://jsonplaceholder.typicode.com/`
and was able to get it running. But, I fear the Schema is just too darn simple, eg. only one layer deep in terms of properties:
[code]

My original Schema has nested properties, for

[2020-04-19 15:28] ardatan commented on #261
I think this PR fixes the issue.
Could you try with the alpha version in this PR?
https://github.com/Urigo/graphql-mesh/pull/263

[2020-04-19 15:35] ardatan commented on #259
@dotansimha What do you think?

[2020-04-19 15:40] ardatan opened #264 "Avoid creating new types if the existing one is good enough"
https://github.com/Urigo/graphql-mesh/issues/255
The similar enum types are duplicated in there. So we can detect this and reuse the existing ones instead of creating a new one.

[2020-04-19 16:07] stefan-- commented on #255
@ardatan thanks mate, version `0.1.5-alpha-6131ae4.0` solves the issue.

Concerning the unnamed enums, is it an option to check for option equality in favour of clean typings so that objects with the same key/value pairs are considered to be the same type?

[2020-04-19 16:19] ardatan commented on #255
@stefan-- We don't have that kind of option yet but I added it as todo :)

[2020-04-19 16:32] stefan-- opened #265 "Typescript: compilation fails when strict type checking option `noUnusedParameters` is set to true"
Given you choose strict type checking in your `tsconfig.json`, more precisely set the option `noUnusedParameters` to `true`, the compilation fails due to unused parameters in the dependency [tsargs](https://github.com/Morglod/tsargs).

[code]

[2020-04-19 20:03] hamatoyogi commented on #261
Gave it a quick run... still doesn't seem to work.

[2020-04-19 21:38] ardatan commented on #261
@hamatoyogi I tried to reproduce it with the given details but it works well. Could you please help me to reproduce it?
https://codesandbox.io/s/twilight-bush-3uzrn?file=/.meshrc.yml

[2020-04-20 04:20] hammadj opened #269 "Allow "whitelisting" endpoints for schema generation"
Using the OpenAPI generator, I would like to limit the endpoints exposed in the generated GraphQL schema. This will allow me to filter out the noise of hundreds of queries that we dont use in our application, and also helps prevent people from querying endpoints we dont want them to query.

[2020-04-20 07:25] hamatoyogi commented on #261
@ardatan Found what is breaking it...:

Basically, not having definitions for `"type": "array"` eg, not having the `items` defined.
Also, `"type" : "null"` seems to break things.

https://codesandbox.io/s/objective-black-ifnr6?file=/mesh-schema/json-schemas/article.json

(for some reason i can't restart the start process while working on the sandbox, so i couldn't break it - maybe i just don't kno

[2020-04-20 07:55] ardatan commented on #261
![image](https://user-images.githubusercontent.com/20847995/79727586-44bc2200-82f5-11ea-91e8-b4493d3d564c.png)
You can restart it like that. But it is fine I restarted it and caught the probleem. And I pushed another fix for that situation. Now we handle both `null` and untyped `array`s.

[2020-04-20 08:07] hamatoyogi commented on #261
Awesome @ardatan !

[2020-04-20 08:19] ardatan commented on #261
@hamatoyogi Could you try and confirm it works on this alpha version?
`0.1.5-alpha-cbc6867.0`

[2020-04-20 09:17] ardatan commented on #269
You can try new transform available in `0.1.5-alpha-42189fd.0`;
https://github.com/Urigo/graphql-mesh/blob/master/website/docs/transforms/filter-schema.md

[2020-04-20 10:34] hamatoyogi commented on #261
@ardatan tried it out with the old `JSON` (empty array defs and "null" defs) and it doesn't work with `0.1.5-alpha-cbc6867.0`

[2020-04-20 10:39] ardatan commented on #261
In here, I have both empty arrays and null defs, and it works with `0.1.5-alpha-cbc6867.0`. Am I missing something?
https://codesandbox.io/s/damp-brook-l2s2v?file=/package.json

[2020-04-20 14:39] hamatoyogi commented on #261
Might have been my bad... Tried again, and made sure all dependencies were aligned, files saved in VScode and all... Chalk it up to doing too many things at once 😅
Looks good @ardatan !

[2020-04-20 15:26] ardatan commented on #269
Available in 0.1.5!

[2020-04-20 15:26] #269 closed

[2020-04-20 15:26] ardatan commented on #261
Available in 0.1.5!

[2020-04-20 15:26] #261 closed

[2020-04-20 15:26] ardatan commented on #255
Available in 0.1.5!

[2020-04-20 15:26] #255 closed

[2020-04-20 15:27] ardatan commented on #253
Available in 0.1.5!

[2020-04-20 15:27] #253 closed

[2020-04-20 15:46] dotansimha commented on #259
We can't support Hebrew chars in GraphQL schema, because `graphql` doesn't support this at the moment (maybe related? https://github.com/graphql/graphql-spec/issues/687)

[2020-04-21 08:47] gboor opened #279 "Postgraphile won't serve: error: Unable to serve mesh: Cannot use GraphQLObjectType "Query" from another module or realm."
When I try to launch with a very simple postgraphile config (lifted directly from the example, just changed the connectionstring) I get the following error when trying to serve;

[code]

I checked my node_modules, but there aren't 2 versions of graphql installed.

To set up this project, I followed the basic tutorial and was able to run the example with the wikipedia API. I then installed `@graphq

[2020-04-21 10:50] Urigo opened #280 "Proposal - Mesh Modules"
Hi everyone and thank you for all the great feedback on the library!

This issue would act as an open discussion about a concept we want GraphQL Mesh to support:
Public GraphQL Mesh Modules.

- Mesh modules that can be installed and shared, inside a company and in the open
- Mesh modules that can be dependent on other modules and extend them

Because GraphQL Mesh create a Graph modules, together w

[2020-04-21 11:14] ardatan commented on #279
Do you have `graphql` dependency explicitly added in package.json?

[2020-04-21 14:29] ardatan commented on #279
Fixed in 0.1.7!

[2020-04-21 14:29] #279 closed

[2020-04-21 14:47] gboor commented on #279
I did have graphql in my package.json and removing it did fix the issue, but I guess you found a better fix that will always just work?

Thanks for the quick follow up!

[2020-04-21 14:50] ardatan commented on #279
We shouldn't have `graphql` dependency in our packages but we had so I removed it. You should always install `graphql` deependency by yourself.

[2020-04-22 22:42] rufman commented on #244
I pulled master and tried out the example. For some reason `time` is still not present in the schema.

[2020-04-22 22:57] ardatan commented on #244
https://codesandbox.io/s/github/Urigo/graphql-mesh/tree/master/examples/grpc-example
I see there is `time` property with TimeStamp type in there.

Note: The server won't execute because it needs two ports but CodeSandbox supports only one.

[2020-04-23 10:06] sviatoslav-lebediev commented on #248
I have the same issue, my external server returns `application/vnd.api+json; charset=utf-8` instead of `application/json`. I've tried to add operationHeaders, no luck.
Error
[code]

[2020-04-23 12:21] ardatan commented on #248
Could you share your mesh configuration @sviatoslav-lebediev ?

[2020-04-23 17:35] sviatoslav-lebediev commented on #248
Sure, I've tried different variations but got the same error.
[code]
and

[code]

I've tried lowercase  `Content-type` and `Accept` as well.

[2020-04-26 04:41] mac2000 opened #296 "Combine federated and not federated services into one"
Suppose we have something like:

**articles.js** `localhost:4002` federated

[code]

**accounts.js** `http://localhost:4001` not federated

[code]

**.meshrc.yaml**

[code]

**Expected results:** Schema should have `_Entity` union with both `Account` and `Article`

**Actual results:** union not being merged

The same is true for other federation features, like `_Services` etc

[2020-04-26 11:10] ardatan commented on #296
First, you are using federation transform for a schema that is already federated. If you want to consume a federated schema in GraphQL Mesh, use federation handler not graphql handler; https://graphql-mesh.com/docs/handlers/federation

Federation transform is to convert non-federated schemas to federated ones.

[2020-04-26 13:23] d-led commented on #296
perhaps, relevant here too: federating the services via [graphql-transform-federation](https://github.com/0xR/graphql-transform-federation) may require adding a [`resolveReference`](https://github.com/0xR/graphql-transform-federation/blob/master/example/transformed-server.ts#L48) resolver (?). Is there a way to do so from the mesh config?

[2020-04-26 13:29] ardatan commented on #296
You can use `additionalResolvers` to add reference resolver.

[2020-04-26 14:53] mac2000 commented on #296
@ardatan thank you for your point I'm not really sure if I get it right

first miss understanding - you are saying that I'm using federation transformation for already federated service which is not true (take a closer look, I'm using federation transformation on Accounts service which is not federated)

second is about usage of federation handler not graphql handler, even if i will change yaml to

[2020-04-26 14:55] ardatan commented on #296
@mac2000 Could you tell more about your use case so I can help you better?

[2020-04-26 15:10] mac2000 commented on #296
Did setup micro repository - https://github.com/mac2000/graphql-mesh-issue-296

e.g.:

[code]

hope it will be much easier to understand what i'm talking about

[2020-04-26 15:24] mac2000 commented on #296
Just to clarify, when we are hiding our federated service by gateway it does remove all federation related directives, types, ets and then when mesh combines everything together there will be nothing left

And one more, I'm not sure but why federation specific stuff is still in output at all after mesh, where should _entities resolvers go?

PS: @p-led yep, you going to go thru 7 rounds of hell, my

[2020-04-26 15:38] ardatan commented on #296
@mac2000 So you have a federated GraphQL endpoint and nonfederated one, and you want to have a federation gateway based on these two.
Or you want to have the final schema as a federated schema from these two different schemas.

[2020-04-26 16:13] mac2000 commented on #296
without mesh it will be something like:

![withoutmesh](https://www.plantuml.com/plantuml/svg/ZP112W8n303lVKMFxY7uXVO57dn1QBEra6tND5Ny_QwA8Bg2rqnc275DKRHFR8mlgJEA1R0xXtDbhlk4IbUy3IOVZjl0boWrnsrelaQFFHz2xKMR1Pi4vzEPGGLB6wjCC58aGSsr3BzqqHoOxlgBlqlcx_xdCSyOD98BoHfoLEBwcWK0)

wondering if we will be able to find a way to have something like:

![idealworld](https://www.plantuml.com/plantuml/svg/VOz13i8

[2020-04-26 16:21] ardatan commented on #296
[code]
So federation handler removes that union and that means you need to use graphql handler not federation one, could you try the configuration above with the canary version in this PR?
This PR fixes the union merging issue #297

[2020-04-26 16:25] ardatan commented on #296
I saw your last comment. Currently it is not possible with a single Mesh configuration but you can create this architecture with multiple mesh configurations(that will be almost same with the first graph).
So I'll keep this issue open (as a feature request) because I think we can implement a solution for your use case.

[2020-04-26 18:30] d-led commented on #296
@ardatan: for now, I just extended the type [directly](https://github.com/d-led/graphql_mesh_federation_test/blob/master/gateway/src/mesh/additional-resolvers.js), it's at least readable. It would be interesting to see how `additionalResolvers` could look like.

[2020-04-27 10:53] d-led opened #301 "Recipe for Schema Stitching"
Upfront: Mesh looks like a great tool. Perhaps, non-trivial examples will be configurable with time. As for now, I've tried to do a simple stitching, correlating on the Id passed down from the parent resolver (see [repo](https://github.com/d-led/graphql_mesh_federation_test)):

[code]

where the extra resolver uses the Id from the parent object:

[code]

However, this is problematic, as the Mesh c

[2020-04-27 12:08] d-led commented on #301
separating out the stitching discussion from #296

[2020-04-29 23:29] hammadj opened #326 "Support for x-www-form-urlencoded request bodies"
Currently, for the endpoints in my OpenAPI schema that consume form-urlencoded data, the generated schema doesn't give any option to provide those fields. OpenAPI-to-GraphQL added support for this, how can I get it working with graphql-mesh?

https://github.com/IBM/openapi-to-graphql/commit/404e8443efdb519737c4b1a750c886dcad9de157

The generated schema:
![image](https://user-images.githubuserconte

[2020-05-01 05:26] hammadj opened #334 "Cache Transform doesn't invalidate when requested fields change"
When using the cache transformer, if I make a request for an object with the fields `id` and `name`, and then add `photo` and make another request, the photo field comes back as null. Resetting the cache and querying for these fields results in the photo field returning an actual value.

This is when using the OpenAPI handler. Would be ideal if the full REST response could be cached instead of cac

[2020-05-03 06:06] dotansimha commented on #334
Makes sense. We'll take a look soon :)
thanks @hammadj

[2020-05-04 10:24] ardatan commented on #326
@hammadj We are using openapi-to-graphql 2.0 fork so we supposed to support this type of request already. Could you share a reproduction CodeSandbox or repository?

[2020-05-09 16:06] denizkenan commented on #248
Same error with stackexchange api(openapi 2.0)
query:
[code]

response:
[code]

example:
https://codesandbox.io/s/stackexchange-apiguru-m6j5x

Note: corresponding API can be tested via running `yarn swagger` with in shared codesandbox

[2020-05-09 16:13] denizkenan opened #355 "Stackexchange Openapi(3.0.1) is not detected"
`graphql-mesh serve command` runs without any error, however, configured schema is not detected.

issue can be reproduced here:
https://codesandbox.io/s/stackexchange-grokify-92t7z

Note: corresponding API can be tested via running `yarn swagger` with in shared codesandbox

[2020-05-10 13:26] ardatan commented on #355
Fixed in https://github.com/Urigo/graphql-mesh/pull/358 and I also added an example that uses StackExchange.
So you can try the following sandbox that uses an alpha version;
https://codesandbox.io/s/stackexchange-grokify-19s12?file=/package.json

[2020-05-11 12:44] denizkenan commented on #248
https://github.com/Urigo/graphql-mesh/issues/248#issuecomment-626198271
FYI -> my issue is resolved after https://github.com/Urigo/graphql-mesh/pull/358

Thanks!

[2020-05-11 16:22] ardatan commented on #326
@hammadj Feel free to open the issue with a reproduction.

[2020-05-11 16:22] #326 closed

[2020-05-11 16:22] ardatan commented on #355
Available in v0.1.16!

[2020-05-11 16:22] #355 closed

[2020-05-11 16:22] #248 closed

[2020-05-12 02:40] fvllam opened #362 "Typescript typings generation don't include schema filtered out by `filterSchema` transforms"
Is it by design that the generation of the typescript typings doesn't generate typings for schemas that are filtered out via the `filterSchema` transform?

I want to generate typings for all my sources via:
[code]
So that I can use the typings in my additional-resolvers.  However, I only want to expose some Queries when running the graphql server via:
[code]

Is there a better way to accomplish th

[2020-05-12 07:03] ardatan commented on #362
@fvllam Could you share a reproduction?

[2020-05-12 17:06] fvllam commented on #362
Hi @ardatan
Suppose I have 2 graphql endpoints, One and Two.

One's schema:
[code]

Two's schema:
[code]
Say my `.meshrc.yaml` looks something like this:
[code]

And in the additional resolver (typescript) code I want to resolve `TypeOne{ myCustomField }` by calling the sdk for `Two.api.twoQuery`.

However, during the build step when I generate the sdk and compile the typescript
[code]

I get an e

[2020-05-12 19:37] paales opened #366 "Unable to find transform matching filterSchema on serverless"
First of all, amazing project! I literally had the same idea a while back, but didn't have the bandwidth to actually bring it to fruition. The plan is to implement Magento 2's GraphQL + Magento 2 REST API (for graphql feature gaps) + GraphCMS

I'm trying to run graphql-mesh in a serverless environment, but it seems to be having trouble finding the filter packages (as they are resolved at runtime?)

[2020-05-12 22:01] smorrisfv opened #368 "JSON Schema gives "Unexpected schema definition" with $ref"
We're working on a project that is based around GraphQL Mesh and trying import a schema generated from the Google Maps Geocoding API's [response JSON sample](https://developers.google.com/maps/documentation/geocoding/start#geocoding-request-and-response-latitudelongitude-lookup). Using the JSON sample, we ran it through [QuickType](https://app.quicktype.io/) to generate the JSON Schema, then, when

[2020-05-13 09:46] paales commented on #366
Alright worked around it, but it might be something for the docs somewhere.

Add your transforms and handlers that are loaded dynamically at the top of the file. This will now be included in the serverless build.

[code]

[2020-05-13 14:59] ardatan commented on #296
Currently we're improving Federation on Mesh;
PR; https://github.com/Urigo/graphql-mesh/pull/367
Example; https://github.com/Urigo/graphql-mesh/tree/federation-merger/examples/federation-example
Alpha version; `https://github.com/Urigo/graphql-mesh/pull/367`

Could you try and let us know if it works?

[2020-05-14 15:29] tzwartfv commented on #368
To expand on the findings here (I was working with @smorrisfv on this project), I found that the runtime error didn't manifest if a `type` field was added with every `$ref`.

After this change, there were no runtime errors, but warnings that the schema references were missing
Ex. `Missing JSON Schema reference: Location. GraphQLJSON will be used instead!`

This caused a very obviously wrong Schema

[2020-05-14 16:04] ardatan commented on #368
We're aware of this issue and already working on it.

[2020-05-16 14:24] ardatan commented on #368
Available in v0.1.17

[2020-05-16 14:24] ardatan commented on #296
Available in v0.1.17

[2020-05-16 14:25] ardatan commented on #368
Available in v0.1.17

[2020-05-16 14:25] #368 closed

[2020-05-16 14:25] #296 closed

[2020-05-16 22:37] ardatan commented on #238
https://graphql-mesh.com/docs/recipes/federation

[2020-05-16 22:37] #238 closed

[2020-05-18 07:51] paales commented on #366
A more complete example to get it to work:

[code]

Now I can use the meshSchema in my ApolloServer and use it with graphql-code-gen:

[code]

[2020-05-18 08:34] paales opened #397 "Magento 2 integration: useGETForQueries"
I'm trying to use GraphQL mesh with Magento 2 which is working as expected. Magento 2's GraphQL endpoint is usually running behind Varnish and does tag-based cache invalidation, so that works pretty good. I'd like to make use of this with GraphQL Mesh, but that requires me to `useGETForQueries`.

Any suggestion how to implement this?

[2020-05-19 06:00] hammadj opened #404 "Bug in interpolation strings for dynamic headers"
I am using the string interpolation feature of the .meshrc along with resolversComposition to inject custom Authorization headers. e.g. here's my .meshrc:

[code]

And here's the resolver middeware:
[code]

However, the problem is the actual header value that's sent to the REST API is always the same, it doesn't update on subsequent requests even when the `x-hasura-user-id` header changes. The rea

[2020-05-19 10:21] ardatan commented on #404
Thank you for opening the issue!
Could you check if it is fixed with the canary version in this PR?
https://github.com/Urigo/graphql-mesh/pull/405

[2020-05-19 19:50] hammadj commented on #404
@ardatan Yup, works great! Thanks for the quick fix!

[2020-05-19 21:16] #280 closed

[2020-05-19 21:42] wsong-fv opened #424 "Enum generation from a json schema does not work properly"
I was trying to generate `mesh.ts` with this json schema:
[code]
and the compiler gave me an error that `CompanyType` does not exist.

Full Error Message here:

[code]

After digging in the `node_modules`, I have found that in the `index.cjs.js` file, the method `visitEnum` was causing the issue. The `createName` function originally had `[propertyName, prefix].join('_')` which you can see below as

[2020-05-19 21:59] smorrisfv opened #425 "JSON Schema Enums with non GraphQL compliant names get rendered incorrectly"
When working with a JSON schema that contains enums that aren't GraphQL friendly by default some strange behaviours occur.

GraphQL compliant Enum keys are generally in Pascal Case, but if the enum values defined in the JSON schema aren't in Pascal Case then they produce schema generation errors or invalid output.

For example, the following JSON schema definition will cause havoc due to the `/` a

[2020-05-20 07:38] lgandecki opened #427 "Generating SDK without specyfing the queries and mutations first?"
Hey guys. Fantastic work :-)

I've just started looking at it more closely.
Any reasons why we have to write .graphql files before generating SDK?

I'd like to just the generated SDK for microservices directly to compose a one-graph graphql layer.

Do you have a different pattern? :)

While asking this question I realized that in that case it might not even make sense to add the GraphQL between mi

[2020-05-20 08:47] ardatan commented on #425
Thank you for opening the issue!
Could you try with the canary version of this PR?
https://github.com/Urigo/graphql-mesh/pull/428
Let us know if it is fixed.

[2020-05-20 08:56] ardatan commented on #424
@wsong-fv Thank you for opening this issue!
Could you try with the alpha version of this PR and let us know if it's fixed?
https://github.com/Urigo/graphql-mesh/pull/428#issuecomment-631327424

[2020-05-20 13:40] wsong-fv commented on #424
@ardatan Nope, it still fails. Error message:

[code]
And this is the schema I tried to build:
[code]
I noticed that you guys didn't look into index.cjs.js in the json-schema module; since I managed to get the schema built after changing some lines within that file, I wonder if that is the root of the problem.

[2020-05-20 14:17] ardatan commented on #424
https://codesandbox.io/s/dreamy-cartwright-m6gkr?file=/package.json
I tried to reproduce your issue but it worked with the alpha version. Let me know if I'm missing something.

[2020-05-20 15:55] wsong-fv commented on #424
Hello, this is my package.json:
[code]
The schema I tried to build is up above, in the meshrc.yaml the relevant portion is:
 - name: NamaraAB
    handler:
      jsonSchema:
        baseUrl: https://api.namara.io/v0/data_sets/b70e5999-1e16-4472-bd6a-a536d4f3d41e/data/en-2?geometry_format=wkt
        operations:
          - type: Query
            field: NamaraABSearch
            path: "&where=comp

[2020-05-20 16:15] ardatan commented on #424
https://codesandbox.io/s/dreamy-cartwright-m6gkr?file=/package.json
I copied your configuration and package.json to reproduce the issue but it is working well. You can test it by yourself on this sandbox. If you still have the issue, please fork this sandbox and reproduce it.

[2020-05-20 17:40] ardatan commented on #397
You can use that option for Mesh's GraphQL Endpoint with the alpha version of this PR;
https://github.com/Urigo/graphql-mesh/pull/429
Let me know if it works for you.

[2020-05-20 20:05] paales commented on #397
Wow that is amazing! Wouldn't have guessed that the Magento 2 REST api would have been compatible, this is very usefull! I actually need to have this because Magento's GraphQL endpoint isn't sufficient at the moment.

I also have to apologize that I wasn't more clear: We're trying to query Magento's GraphQL endpoint with a GET request: https://develop.pwa-venia.com/graphql

The reason we want this

[2020-05-22 14:42] smorrisfv commented on #425
Thanks for the fast turn around, @ardatan.  We are currently testing the changes.

[2020-05-22 14:59] wsong-fv commented on #424
Hello @ardatan , after experimenting around, I have discovered that the combination of an openapi source and a json schema source causes the error.
Here is my forked sandbox: https://codesandbox.io/s/fancy-water-9115v?file=/.meshrc.yml

Running `yarn generate` should reproduce the error.

[2020-05-26 08:49] durdenx opened #469 "Error: Schema must contain uniquely named types but contains multiple types named "User"."
Hi,

I've updated to v0.1.17 and i've this error : `Error: Schema must contain uniquely named types but contains multiple types named "User".`

I'm using `json-schema` and the error occurs when i generate the sdk because i have 2 operations using the same `responseSchema`.

In v0.1.16 it was working.

[2020-05-26 10:35] ardatan commented on #469
Working on a fix https://github.com/Urigo/graphql-mesh/pull/470
So could you try the canary version of that PR?

[2020-05-26 12:25] durdenx commented on #469
Thanks @ardatan ! I've tested with `0.1.18-alpha-fcee3d65.0` and it doesn't seem to work. I've always the same error while generating the SDK. e.g `Schema must contain uniquely named types but contains multiple types named "User"`.

I'm using that command to genereate the sdk: `yarn graphql-mesh generate-sdk --operations ./src/data/**/*.graphql --output ./src/generated/sdk.ts`

[2020-05-26 12:30] ardatan commented on #469
Could you create a reproduction as a repo or a sandbox using CodeSandbox?

[2020-05-26 14:00] durdenx commented on #469
Sure a reproduction here: https://github.com/Achilles4400/graphql-mesh-json-schema

ResponseSchema seems to work but impossible to use the same RequestSchema in 2 operations.

[2020-05-26 14:57] durdenx commented on #469
i've updated the reproduction to `0.1.18-alpha-7279acf5.0` and the problem persists.

[2020-05-26 15:12] ardatan commented on #469
I saw you're using `"^` prefix. Could you use exact version without `^` prefix on versions? Thanks!

[2020-05-26 15:46] durdenx commented on #469
Yes sorry, i removed "^ prefix but it changes nothing... `0.1.18-alpha-7279acf5.0` is the good version?

[2020-05-26 16:25] ardatan commented on #469
https://codesandbox.io/s/pedantic-sammet-i4uje
This includes a working example based on reproduction. I added `Query` field which is necessary to build a valid GraphQL Schema, and also updated the example query because it didn't match with the schema.

[2020-05-26 16:30] durdenx commented on #469
Thanks `0.1.18-alpha-2ac9d01a.0`is working in my repo too: https://github.com/Achilles4400/graphql-mesh-json-schema

[2020-05-26 16:37] ardatan commented on #469
Available in v0.1.18!

[2020-05-26 16:37] #469 closed

[2020-05-26 16:37] ardatan commented on #425
Available in v0.1.18!

[2020-05-26 16:37] #425 closed

[2020-05-26 16:38] ardatan commented on #424
Available in v0.1.18!

[2020-05-26 16:38] #424 closed

[2020-05-26 16:38] ardatan commented on #397
Available in v0.1.18!

[2020-05-26 16:38] #397 closed

[2020-05-26 16:38] ardatan commented on #404
Available in v0.1.18!

[2020-05-26 16:38] #404 closed

[2020-05-26 22:22] META-DREAMER opened #472 "Unable to authenticate to SOAP API"
I'm trying to setup the SOAP API handler to authenticate with basicAuth, but I get a 401 error even though I'm using the correct username / password:
![image](https://user-images.githubusercontent.com/7143583/82955886-e37b1480-9f6c-11ea-9f33-7782fdc7eceb.png)

.meshrc (username / password redacted):
[code]

Here's the WSDL in a gist: https://gist.github.com/hammadj/28885536c3335ece8354ea3278537895

[2020-05-26 22:48] hammadj commented on #472
When I host the WSDL file myself, its able to successfully run GraphQL mesh, but there's only one "description" string in the schema:
![image](https://user-images.githubusercontent.com/7143583/82957586-95681000-9f70-11ea-90b6-3f6c9bbcfe7b.png)

[2020-05-26 22:51] tzwartfv opened #473 "SDK Error when underscores used in argument names"
I am using GraphQL Mesh to query an API, using the `jsonSchema` handler (I'm not sure whether other handlers have the same issue). I generated an SDK with the following command:
`yarn graphql-mesh typescript --output ./src/generated/mesh.ts`

However, when attempting to query the API using the SDK with the following line of code: `context.ApiName.api.QueryName(QueryParameters);`

I ran into a cryp

[2020-05-27 01:57] hammadj commented on #472
@ardatan Did some more research, that WSDL I posted in the gist is just describing the available endpoints, but the full schema is given in this line: https://gist.github.com/hammadj/28885536c3335ece8354ea3278537895#file-experian-wsdl-L2

When it tries to load this endpoint, it gives a 401 error:
![image](https://user-images.githubusercontent.com/7143583/82968632-ff8dae80-9f8a-11ea-84db-7f76ba901d

[2020-05-27 09:08] paales commented on #397
@ardatan Should I create a new ticket for my last reply?

[2020-05-27 09:53] ardatan commented on #397
@paales That would be great!

[2020-05-27 10:13] paales commented on #397
👍

[2020-05-27 10:36] paales opened #478 "Query GraphQL backend with HTTP GET"
We're trying to query Magento's GraphQL endpoint with a GET request: https://develop.pwa-venia.com/graphql

Magento uses it's own caching mechanism via Varnish: https://devdocs.magento.com/guides/v2.3/graphql/caching.html

[2020-05-27 10:43] durdenx opened #479 "json-schema: use $ref from external definitions file"
The json-schema specifictaion allows the use of an external definitions file: https://json-schema.org/understanding-json-schema/structuring.html#id1. This avoids repeating types in all files. Is it possible with graphql-mesh's json-schema handler ?

Example:

[code]

Where definitions.json is a file in the same directory and contains an address type:

[code]

[2020-05-27 11:07] ardatan commented on #479
PRs are welcome!

[2020-05-27 12:22] ardatan commented on #478
Could you try `useGETForQueries` option with the canary version of this PR ?
https://github.com/Urigo/graphql-mesh/pull/480

[2020-05-27 14:53] yaacovCR commented on #95
Hi, had a thought about this, namely not really sure if adding transform to allow a subschema nonnullable field to be nullable makes sense, as underlying subschema is still not nullable, and so null will not be returned.

The reverse seems to make sense. You might want fewer fields to be nullable than original subschema.

This should be possible with existing generic Transform*Fields (TransformCom

[2020-05-27 15:52] tzwartfv opened #484 "Unexpected Behaviour for SDKs with a Prefix Transform containing an Underscore"
Possibly related to #473.

I have a similar setup to #473, with a `jsonSchema` handler for an API, while using the `prefix` transform. The expected data from the API contains a `meta` section and a `response` section.

Querying the API directly through GraphiQL functions as expected, but when using the SDK generated by `yarn graphql-mesh typescript --output ./src/generated/mesh.ts` there is some s

[2020-05-27 21:51] tzwartfv commented on #484
I've had some trouble reproducing this error, so I'm not certain if it is actually valid.

[2020-05-28 05:49] fvllam opened #493 "Enum fields not returned when using generated typescript typings"
# Setup
Suppose I have a graphql source with a schema like this:
[code]

I want to use graphql-mesh to extend the query to inject `BTest` inside `AType` because in theory I could pass the `AType` field values to `BTest` if `BTest` accepted params.  My `.meshrc.yaml` looks like this.
[code]

Then I generate the typescript typings `mesh.ts`; and my `additioanl-resolvers.ts` looks like this:
[code]

[2020-05-28 14:24] tzwartfv opened #494 "Unexpected Behaviour for an SDK with the prefix transformation"
This issue is similar to #484, but I've had some trouble reproducing the situation in that issue, and can reproduce it here.

I am attempting to query the endpoint at `https://api.foursquare.com/v2/venues/search`. I'm using the `jsonSchema` handler, and the SDK generated by `yarn graphql-mesh typescript --output ./src/generated/mesh.ts`.

The expected result is an object containing `meta` and `res

[2020-05-28 16:27] ardatan commented on #494
The types generated with `yarn graphql-mesh typescript --output ./src/generated/mesh.ts` command is not SDK. SDK is generated by its own command. See here https://www.graphql-mesh/docs/recipes/mesh-as-sdk

[2020-05-28 16:59] fvllam opened #495 "`filterSchema` transform don't allow filtering out all mutations"
If I use the `filterSchema` transform to exclude all mutations from my sources then I expect that the generated mesh schema to not have any mutations.  Instead I get an error about mutations now being emty.

Here is the snippet from my `.meshrc.yaml`:
[code]

Output:
[code]

[2020-05-28 19:25] fvllam commented on #493
A work-around I've discovered is to generate and use the sdk instead of the typescript typings: https://graphql-mesh.com/docs/recipes/as-sdk

[2020-05-29 12:03] ikey2244 opened #499 "How do you use extend to transform a field name?"
Hello I am hitting a rest api that uses a convention called "Badgerfish". The response looks something like this `{ "alice": { "bob" : { "$": "charlie" }, "david": { "$": "edgar"} } }`. Notice how some of the keys are "$".  This will fail because GraphQL doesn't allow $ to be a field.

[code]

So In order to hit this api and resolve the $ I need to use the extend transform.

This is what my meshrc

[2020-05-29 12:11] ardatan commented on #499
I think `Foo` is an example there :) `Foo` should be replaced with the type name having `$`.

[2020-05-29 12:11] #499 closed

[2020-05-29 14:12] paales commented on #478
Thanks a lot! Will check it out soon!

[2020-05-29 14:54] paales opened #501 "Error in 0.18, works in 0.17"
After upgrading to 0.18 I ran in the following error:

[code]

[2020-05-29 16:39] ardatan commented on #427
Implemented in https://github.com/Urigo/graphql-mesh/pull/504#issuecomment-636069142 . So you can try canary version!

[2020-05-30 12:18] ardatan commented on #495
Thank you for opening this issue @fvllam ! We fixed this in 0.1.19! Let us know if it works for you!

[2020-05-30 12:18] #495 closed

[2020-05-30 12:18] ardatan commented on #478
Available in 0.1.19!

[2020-05-30 12:18] #478 closed

[2020-05-30 12:18] ardatan commented on #427
Available in 0.1.19!

[2020-05-30 12:18] #427 closed

[2020-05-30 12:20] ardatan commented on #301
Thanks @d-led for opening this issue!

Could you try to use `selectionSet` to provide required fields like below?
[code]

[2020-05-30 12:37] d-led commented on #301
query:

[code]

with or without `selectionSet`:

[code]

[2020-05-30 12:48] ardatan commented on #301
Thank you! @d-led We'll keep you posted!

[2020-05-30 13:23] d-led commented on #301
@ardatan thanks!

[2020-05-31 20:49] ardatan commented on #301
@d-led https://github.com/Urigo/graphql-mesh/pull/510#issuecomment-636527537
You can check new canary version but you should use `additionalTypeDefs` near `additionalResolvers` instead of `extend` transform.
Could you try and let me know if it works?

[2020-05-31 21:00] #264 closed

[2020-05-31 21:02] d-led commented on #301
@ardatan which alpha do I use as dependency? tried one from #510, but yarn couldn't find it

[2020-05-31 21:03] d-led commented on #301
installed something, and it works!

[2020-05-31 21:09] d-led commented on #301
pushed the commit with the yarn.lock. My initial goal was to achieve the same with federation, but the current example only adds federation to one of the services. Still couldn't get the mesh config right. Do you think, the same scenario could work with federation as well?

[2020-05-31 21:27] ardatan commented on #301
I think so. First you need to convert your sources to federated services using Federation transform then add federation merger on top.
You can see how nonfederated graphql service transformed in that example
https://github.com/Urigo/graphql-mesh/tree/master/examples/federation-example

Thank you for your feedback and opening this issue :)

[2020-06-01 08:44] Achilles4400 opened #511 "Get headers from response with SDK"
I'm using wordpress API and I need to access headers to get pagination variables.
Is it possible to add an option in sdk call to get full response of http request ?

[2020-06-01 10:55] ardatan commented on #301
Available in 0.2.0. So, for federation let's move this discussion into different issue. Thank you for your collaboration so far! It helped us to improve Mesh a lot!

[2020-06-01 10:55] #301 closed

[2020-06-01 11:32] d-led commented on #301
@ardatan thanks a lot likewise! Will watch out for progress :)

[2020-06-01 15:20] ardatan commented on #479
Available in 0.2.1!

[2020-06-01 15:20] #479 closed

[2020-06-02 11:06] Blitss opened #515 "Unable to generate SDK on `0.2.0`: `GraphQLError [Object]: Syntax Error: Unexpected <EOF>`"
Hi there,

Your project looks awesome!
I tried to generate SDK/ serve typings for the OpenAPI type of API, but it doesn't work starting from `0.2.0`. Perhaps there's already similar issue, but I didn't find one:

[code]

Config that I use:
[code]

[2020-06-02 11:29] ardatan commented on #515
Thank you for opening this issue!
v0.2.2 is being released right now. It will be available in ~10 min.

[2020-06-02 11:29] #515 closed

[2020-06-02 13:47] durdenx opened #517 "SDK: Generate enums as types option"
It would be great to add an option `enumsAsTypes` like in `graphql-code-gen` for the type-safe SDK.  Enums are incompatible with some ecosystems.

[2020-06-02 14:16] wsong-fv opened #518 "Cannot filter out all mutations"
Hello, I was trying to filter out all the mutation functions using the `filterSchema` function, something like:
[code]
where func1, 2, and 3 are all the mutation functions.
I get an error like this:
[code]
There should be the option to filter out all mutations if we require it.

[2020-06-02 15:26] ardatan commented on #518
Are you using the latest version because this issue was already fixed in 0.1.19?
https://github.com/Urigo/graphql-mesh/issues/495

[2020-06-04 13:35] wsong-fv commented on #518
Yep, that solved it. Sorry!

[2020-06-04 13:35] #518 closed

[2020-06-05 12:30] tobsch commented on #236
I would be quite interested how I can implement a central authentication (or receive a bearer and forward it to all services that require authentication)... Is there already an example somewhere?

[2020-06-05 13:35] ardatan commented on #236
You can check examples directory;
https://github.com/Urigo/graphql-mesh/tree/master/examples

[2020-06-05 19:42] tobsch opened #537 "Enum with int values not supported?"
I get errors when using graphql apis with enums and values such as "0": : Syntax Error: Expected Name, found Int "0".
As far as I know this is valid. Could this be changed?

[2020-06-05 20:50] ardatan commented on #537
Could you share a reproduction because we are parsing SDL with graphqljs under the hood?

[2020-06-06 11:11] tobsch commented on #537
Https://api.reviews.omr.com/graphql

[2020-06-06 11:29] ardatan commented on #537
@tobsch I cannot access the link. 404 :(

[2020-06-06 14:00] tobsch commented on #537
Sorry, it's a graphql services, so you have to use post:
```curl -X POST -H "Content-Type: application/json" https://api.reviews.omr.com/graphql```

I guess you can add it locally in mesh as source?

[2020-06-06 15:22] ardatan commented on #537
@tobsch It seems GraphQL-js is not able to parse integers as enum keys in SDL. I followed those steps to reproduce it;
- Send an introspection query to get introspection data
- Create a local `GraphQLSchema` instance using `graphql-js`'s `buildClientSchema`
- Convert it into an SDL string using `printSchema`
- Rebuild it `buildSchema` <- fails with the same error

Since we use GraphQL-js under the

[2020-06-07 11:25] royra commented on #265
Also see [issue in tsargs](https://github.com/Morglod/tsargs/issues/2).

[2020-06-07 12:06] ardatan commented on #265
For now, you can `skipLibCheck: true` to skip type checking for your dependencies. I think type checking for the dependencies in a project is not necessary.

[2020-06-07 12:06] #133 closed

[2020-06-07 12:06] #56 closed

[2020-06-07 12:06] #33 closed

[2020-06-07 12:07] #236 closed

[2020-06-07 12:19] ardatan commented on #501
Fixed after 0.2.0!

[2020-06-07 12:19] #501 closed

[2020-06-07 16:22] RoryKelly opened #543 "Environment variables in .meshrc.yaml"
How do I use environment variables in the .meshrc.yaml?

[2020-06-07 16:26] RoryKelly commented on #543
worked it out
[code]

[2020-06-07 16:26] #543 closed

[2020-06-07 18:50] RoryKelly opened #545 "Add postgraphile cache to PostGraphile handler."
I am using GraphQL mesh in a lambda.

The postgraphile handler introspects the database on start up, leading to slow lambda startup times. Postgraphile has a workaround for this documented [here]§(https://www.graphile.org/postgraphile/deploying-lambda/)

I imagine this as a config on in the yaml
[code]

Then on graphql-mesh generate-sdk it also generates a cache.

[2020-06-08 07:13] paales commented on #501
👍

[2020-06-08 13:18] matsola opened #549 ""Namespacing" endpoints"
I miss a feature that somewhat hinders me from trying out graphql-mesh for a real life application.

I would like to have the possibility to do the following. Suppose you have micro services A and B and you want to publish these under the same endpoint in the following way:

[code]

On top of that maybe you like to keep some third micro service C in the "root" i.e.

[code]

[2020-06-08 13:20] #549 closed

[2020-06-08 14:40] RoryKelly commented on #545
I think a similar issue exists for the graphql handler, It makes a request on startup to load the schema. Would be nice to manually add a schema file.

I think this will be an issue for a variety of handlers when deployed to lambda. Would be great to have a Cli feature where handlers can create a cache of the data the require for startup.

[2020-06-08 21:39] ardatan commented on #545
You're right! We need to implement introspection caching for other handlers, too. For now, in the next release we will have `cacheIntrospection` option for `postgraphile` and `graphql` handlers. Others will have this soon!

[2020-06-08 21:43] ardatan commented on #545
Available in https://github.com/Urigo/graphql-mesh/releases/tag/v0.2.7 !

[2020-06-08 21:43] #545 closed

[2020-06-08 22:46] ardatan commented on #537
Since we're not able to parse introspection result from this endpoint.. This looks an issue related to GraphQL-JS itself not Mesh. I'm closing this issue. We can track it from GraphQL-js later.

[2020-06-08 22:46] #537 closed

[2020-06-09 00:28] hammadj opened #556 "Relay Support?"
I'm using graphql-mesh with Hasura, and they recently added Relay support, was wondering if there is any plans / possibility to have relay support in GraphQL Mesh as well?

[2020-06-09 01:04] #556 closed

[2020-06-09 08:59] marcus-sa opened #558 "GRPC methods not being camel cased."
Thanks a lot for the library, something I've been looking to try out!
Currently I've noticed in the GRPC example, that the methods are still pascal cased in the resolvers instead of using the camel case naming convention.
Is this by purpose or a bug?

[2020-06-09 09:13] ardatan commented on #558
If you want to have camel case, you can use camel case in gRPC service so you will have camel case operations in GraphQL as well. Naming convention is developer's preference, i don't think it can be considered as a bug.

[2020-06-09 10:31] marcus-sa commented on #558
Is there anyway to keep the pascal case in gRPC service methods, and then transform it to camel case GraphQL resolvers using the mesh config?

[2020-06-09 10:34] ardatan commented on #558
For now, it is not possible to transform field names in GraphQL Mesh. We can keep this open until it gets implemented.

[2020-06-09 13:32] ntziolis opened #559 "Odata v3 support (e.g. Sharepoint)"
I understand its an outdated version, that said there are many enterprise customers using e.g. sharepoint wich sadly does not support odata v4.

Why does this matter:
Working against the sharepoint api is dreadful and being able to leverage graphql instead would be a blessing for developers. In addition its another a low friction use case for enterprises to get started with graphql.

I have looked

[2020-06-09 14:16] ntziolis commented on #559
While there is no proxy, there are projects that offer conversion from odata to openapi. I'm currently checking if any of them can produce a correct openapi spec from odata v3, if so I will report back here for others to find.

[2020-06-09 14:37] ardatan commented on #559
@ntziolis OData is complicated specification and mixing v3 and v4 in the same handler can break things. PRs are welcome if you think it is possible.

https://docs.microsoft.com/en-us/sharepoint/dev/apis/sharepoint-rest-graph
I found this and it uses MS Graph API. We have an example for MS Graph.

[2020-06-09 14:37] #559 closed

[2020-06-09 15:14] ardatan commented on #558
Available in https://github.com/Urigo/graphql-mesh/releases/tag/v0.2.9 !!!

[2020-06-09 15:14] #558 closed

[2020-06-09 15:23] marcus-sa commented on #558
That was fast! 🚀

[2020-06-09 20:29] kai-modrzok opened #561 "transform "Prefix" fails if includeRootOperations: true (at least via openapi tutorial workflow)"
I want to integrate several REST based api's behind a single GraphQL endpoint. To avoid naming issues, I want to make use of the Prefix transformation to separare those REST Api's. I followed the tutorial https://graphql-mesh.com/docs/getting-started/basic-example and was able to get the demo server up and running. If i "just" prefix the fields (`includeRootOperations: false`) the demo query still

[2020-06-10 10:24] durdenx opened #565 "SDK: naming convention transform camelCase not working for inputTypes"
When we use the new naming convention transform with the SDK to transform `snake_case` types in `camelCase`, renamed input fields are not well binded with their corresponding `snake_case` fields.

If we use:
[code]

the following query :
[code]
return an error:
[code]

if we use `graphql-mesh serve` it's working.

[2020-06-10 22:49] ardatan commented on #561
@kai-modrzok That prefixes the unified schema so could you try the move it under the source specifially like below and try again?
[code]

[2020-06-10 23:19] #95 closed

[2020-06-11 10:40] durdenx commented on #565
@ardatan You can find a reproduction here: https://github.com/durdenx/graphql-mesh-json-schema

[2020-06-11 18:35] kai-modrzok commented on #561
The transform-prefix logic on handler level worked for me as well. Thx for the workaround - that one is sufficient for my use-case 👍

[2020-06-11 18:52] ardatan commented on #561
Great! Let's keep this open until it gets fixed on root level.

[2020-06-13 15:51] #265 closed

[2020-06-14 03:56] onelittlenightmusic opened #579 "Add support of field selection when querying in resolver (OpenAPI)"
I am using GraphQL Mesh with OpenAPI handler in [this project](https://github.com/onelittlenightmusic/kubernetes-graphql).

I would like to extend some type to include a new resolver.

[code]

In this resolver implementation, I would like to call some existing function like `await Wiki.api.getMetricsPageviewsTopProjectAccessYearMonthDay`. Also, I would like to filter the results of this function b

[2020-06-15 08:35] durdenx commented on #511
Is there a workaround to get headers from response in SDK ?

[2020-06-15 10:58] RoryKelly opened #583 "Add support for postgraphile schema plugins."
Postgraphile has plugins that support simplifying schema names etc.

https://www.graphile.org/postgraphile/extending/

These cannot easily be used with Graphql-mesh.

[2020-06-15 12:44] ardatan commented on #579
@onelittlenightmusic Could you test it with the canary version?
`0.2.11-alpha-18735e22.0`
[code]

[2020-06-15 15:20] marcus-sa opened #585 "Add support or documentation on how to integrate SDK with additional NestJS GraphQL resolvers"

[2020-06-15 15:22] ardatan commented on #585
Could you explain more? What do you mean by additional NestJS GraphQL resolvers? SDK is just a set of functions that call your operations against the GraphQL Schema generated by GraphQL Mesh.

[2020-06-15 16:30] ardatan commented on #583
Available in https://github.com/Urigo/graphql-mesh/releases/tag/v0.2.11

[2020-06-15 16:30] #583 closed

[2020-06-15 16:30] ardatan commented on #579
Available in https://github.com/Urigo/graphql-mesh/releases/tag/v0.2.11

[2020-06-15 16:30] #579 closed

[2020-06-15 16:30] ardatan commented on #565
Available in https://github.com/Urigo/graphql-mesh/releases/tag/v0.2.11

[2020-06-15 16:30] ardatan commented on #561
Available in https://github.com/Urigo/graphql-mesh/releases/tag/v0.2.11

[2020-06-15 16:30] #561 closed

[2020-06-15 16:30] ardatan commented on #494
Available in https://github.com/Urigo/graphql-mesh/releases/tag/v0.2.11

[2020-06-15 16:30] #494 closed

[2020-06-15 16:31] ardatan commented on #493
Available in https://github.com/Urigo/graphql-mesh/releases/tag/v0.2.11

[2020-06-15 16:31] #493 closed

[2020-06-15 16:31] ardatan commented on #473
Available in https://github.com/Urigo/graphql-mesh/releases/tag/v0.2.11

[2020-06-15 16:31] #473 closed

[2020-06-15 16:31] ardatan commented on #362
Available in https://github.com/Urigo/graphql-mesh/releases/tag/v0.2.11

[2020-06-15 16:31] #362 closed

[2020-06-15 16:31] ardatan commented on #484
Available in https://github.com/Urigo/graphql-mesh/releases/tag/v0.2.11

[2020-06-15 16:31] #484 closed

[2020-06-15 16:31] ardatan commented on #334
Available in https://github.com/Urigo/graphql-mesh/releases/tag/v0.2.11

[2020-06-15 16:31] #334 closed

[2020-06-15 17:47] onelittlenightmusic commented on #579
Thank you for excellent enhancement! I confirmed it works. I will use this feature to my project.

BTW, this may be a different issue or question, but I wonder if I could omit possible user request field like `article` from field selection.

I am thinking about a use case as follows. Users might query another field which is included in `PageviewTops.items` such as `rank`. I think it's natural. But

[2020-06-15 18:22] onelittlenightmusic commented on #579
I found this example is like I want right now. I hope I could do what I want with it.
https://github.com/Urigo/graphql-mesh/blob/master/examples/openapi-youtrack/src/add-fields.js

[2020-06-15 18:39] onelittlenightmusic commented on #579
FYI, I could do the programatic combination of field selections like this using `graphql-fields` and `deepmerge`. Anyway, thanks for awesome works.

[code]

`mergedFields`

[code]

Results

[code]

[2020-06-15 18:45] ardatan commented on #579
@onelittlenightmusic oh you already figured it out! I was already planning to implement something easier for your case :) Let me know if you have any more issues

[2020-06-15 18:51] onelittlenightmusic commented on #579
I guess easier would be better :) If this use case is often, something easier can also offer other users more value. And when you provide easier way, I would like to try it! Then please let me know.  Thanks.

[2020-06-16 08:16] onelittlenightmusic opened #591 "Unable to merge field selection in one resolver with selectionSet in another resolver"
Thanks to #584, now we can set field selection in apiContext call. This is great because it solves #579.

But there might be some drawback.. I found an issue when applying newest GraphQL Mesh to [my project](https://github.com/onelittlenightmusic/kubernetes-graphql/).
I created a simple example [here](https://github.com/onelittlenightmusic/graphql-mesh/pull/2/files).

The first resolver returns a

[2020-06-16 09:18] kai-modrzok opened #592 "OpenAPI handler enhancement - add api-key support"
I tried to connect to an openapi-service that uses api-key security https://swagger.io/docs/specification/authentication/api-keys/. The api is configured to use "query-based" authentification (so I need to add a query-parameter like "&api-key=1234" to the path). Currently I see no way of configuring that functionality.

During my research I found out that the underlying openapi-to-graphql library

[2020-06-16 18:11] RoryKelly commented on #583
This is awesome it greatly simplifies deploying postgraphile into a lambda. Thanks!

[2020-06-17 09:53] durdenx commented on #565
I've upgraded to v2.11 and the problem is still there : https://github.com/durdenx/graphql-mesh-json-schema

[2020-06-17 15:09] angelsvirkov opened #596 "Context is not correctly passed down to individual resolvers"
Hi guys, I believe I have encountered the following bug. The context value which is created in express-graphql or apollo-server is not reaching the individual resolvers which are registered in the `.meshrc.yml` as `resolverComposition` resolvers or as `additional-resolvers`. I have set a [codesandbox example](https://codesandbox.io/s/github/angelsvirkov/graphql-mesh-context-not-passed) where you c

[2020-06-17 15:29] ardatan commented on #596
@angelsvirkov Context passed in resolvers is a `Proxy` instance from an empty object so that's why you are seeing `{}` but you can see it is connected to the actual context in the source code. If you do `console.log(context.headers)` you will see that your context object is still there as is.
That PR makes `Proxy` to point to the actual context object so it will give you better results;
https://gi

[2020-06-17 15:47] angelsvirkov opened #598 "Feature Request: Provide mesh config programmatically via an API"
Hello wonderful team. I have the following idea for a feature which I believe would increase the usability of graphql-mesh.

## Description

In the following I would refer to using graphql-mesh not as a standalone server but as part of an existing server / existing codebase. The idea is that graphql-mesh exposes an API or an option inside of `findAndParseConfig()` (not 100% sure about it) function

[2020-06-17 16:59] wendaosanshou commented on #598
This is a awesome feature and i need it.

[2020-06-19 06:18] ntziolis opened #604 "Bug (with PR): postgraphile getMeshSource fails without plugins (sample also fails)"
When downloading an executing the postgraphile sample it wasn't possible to run the project. The mesh source did not get initialized. Looking into the source it was due to `Promise.all` being passed `undefined` if there were no plugins which caused the call to `Promise.all` to fail.

PR with patch is attached.

[2020-06-19 09:35] ardatan commented on #604
Available in  https://github.com/Urigo/graphql-mesh/releases/tag/v0.2.12

[2020-06-19 09:35] #604 closed

[2020-06-19 09:36] ardatan commented on #596
Available in Available in  https://github.com/Urigo/graphql-mesh/releases/tag/v0.2.12

[2020-06-19 09:36] #596 closed

[2020-06-22 18:46] marcus-sa commented on #585
@ardatan yeah sorry, my bad.
What I initially meant was something along the lines of this https://github.com/Urigo/graphql-mesh/issues/598 :smiley:

[2020-06-22 19:30] ardatan commented on #585
You can use GraphQLSchema exposed by Mesh in NestJS.

[2020-06-23 01:26] rufman opened #608 "`Unable to merge GraphQL type "Query"` with multiple sources"
When there are multiple sources defined in the mesh.yaml, you get an error deep inside `graphql-tools`, when it tries to merge schema directives.

This is because `graphql-compose` creates nodes with directives as undefined (which is valid). Fix for `graphql-tools` is here: ardatan/graphql-tools#1671

[2020-06-23 01:26] rufman commented on #608
The repo for this is to add a second `source` to any of the examples.

[2020-06-23 16:07] ghost opened #611 "Collision of types when multiple sources have the same field signature"
Using version 0.2.11.  If I have multiple sources that have an identical filed signature, like in the setup below then the generated typescript types picks the first type for all the api calls, ignoring the prefix transforms.  This problem did not exist until I upgraded to 0.2.11 from 0.1.13.

# Setup
My source schema at https://faker.graphqleditor.com/fvlab/collisiontest1/graphql
[code]
I will us

[2020-06-24 09:16] ardatan commented on #598
You can use `getMesh` like this. It's not documented yet but if you're using TypeScript, it will be easy for you to figure it out.

[2020-06-24 15:16] loganpowell opened #614 "`.meshrc.yaml` variable interpolation injection points"
Hi there!

I was so happy to have been away from graphql for about a year and - upon coming back to it - realizing that schema-stitching is not only back, but with a fury with `graphql-mesh`!

I'm working through some of the guides, but have a pretty specific need and haven't been able to find docs that go over the various ways we can securely (given git) set up our `.meshrc.yaml` config files wit

[2020-06-24 15:24] #614 closed

[2020-06-24 15:32] byteninja opened #615 "NamedOperations are not executed when "@graphql-mesh/merger-federation" is used"
when using a graphql federation with graphql-mesh i only get
[code]
if i use schema stitching it works but i lose the advantages of my federation.

[2020-06-24 15:33] ardatan commented on #615
Could you share a reproduction with CodeSandbox?

[2020-06-24 16:30] ardatan commented on #615
Anyway, https://github.com/Urigo/graphql-mesh/pull/616 PR fixes the issue. You can try the canary version in that PR.

[2020-06-24 19:01] loganpowell opened #618 "How to launch `mesh serve` as a standalone server"
Hi there!

I could have sworn I just submitted an issue that I now cannot find, but that I wanted to elaborate upon. I'm trying to launch an instance of `graphql-mesh serve`r as a Lambda. I found that [`port` can be set via CLI](https://graphql-mesh.com/docs/recipes/as-gateway). I'm wondering what are the options for dynamic environment variable injection. I couldn't find a great deal of detail in

[2020-06-25 06:28] byteninja commented on #615
Sorry, the initial project i could not share. i could try to reproduce in a simple showcase if you still need it. but i will definetly try your fixed version

[2020-06-25 08:31] angelsvirkov commented on #598
Thanks for the suggested solution. I somehow missed it before. However I took a look now and I can say it partially covers what I initially suggested. It looks like the `additionalResolvers` is a map of functions, which is exactly what I needed.

However, the `transforms` array contains object `config`s which are still using the non-resolved `composer` strings. Example when debugging the code:
[co

[2020-06-25 09:13] byteninja commented on #615
works like a charm now in canary build
thanks a lot

[2020-06-25 10:51] ardatan commented on #615
Let's keep it open until it gets released

[2020-06-25 10:55] ardatan commented on #598
That's what I am thinking of. We should refactor all handlers and transforms to move external module loading logic outside of them. I am not sure about supporting functions as part of initial config because the schema of configuration is generated from GraphQL. But I'll figure it out soon and keep you posted.

[2020-06-25 10:56] #618 closed

[2020-06-25 14:51] maaft opened #622 "Header Forwarding"
I have multiple GraphQL servers which require token authentification. Unfortunately, graphql-mesh seems to drop any headers sent from the client.

Is it possible to forward any given authentication tokens (or headers in general) to the different GQL servers?

[2020-06-25 17:04] ardatan commented on #622
Actually GraphQL Mesh doesn't drop the headers because it is not a server :) It is a library that generates a GraphQL Schema for you and `mesh serve` binds this schema to HTTP(the schema may not be used via HTTP because it is generated as a local executable schema even with graphql-js). So you are the responsible of handling authentication.

If you stick with `mesh serve` which uses express-graphq

[2020-06-25 17:04] #622 closed

[2020-06-25 22:49] ardatan commented on #615
Available in v0.2.13 !

[2020-06-25 22:49] #615 closed

[2020-06-26 11:09] OlmoDalco opened #626 "SOAP handler enhancement - add apiKey support"
I am trying to connect to an [soap service](https://www.marktstammdatenregister.de/MaStRAPI/wsdl/mastr.wsdl) of the German Federal Network Agency for Electricity, Gas, Telecommunications, Post and Railway. However, the API requires me to send an apiKey. So it would be great to see this config exposed in the soap handler as well!

[2020-06-29 11:58] Urigo commented on #585
@marcus-sa could you try to create an example repo we could collaborate on?

[2020-06-29 14:21] ardatan commented on #626
Could you give more details? How does the API need that API Key?

[2020-07-01 07:48] paales opened #633 "TypeError: Cannot read property 'operation' of undefined in combination with useGETForQueries"
Hi there!

I'm trying to use the new feature `useGETForQueries`, but I'm running into some errors:

[code]

.meshrc.json:
[code]

[2020-07-02 13:16] ardatan commented on #633
Fixed in graphql-tools. Could you try with this canary version `0.2.14-alpha-a6f59cc0.0`?

[2020-07-02 16:38] paales commented on #633
Hmm, I can't seem to get it working properly, but I'm not sure what is happening. Getting the following output:

[code]

Not sure what is happening here, if I run an example GET request it does give back results, so I don't know what is happening here..

[code]

Any ideas?

[2020-07-02 16:52] ardatan commented on #633
@paales Could you share a reproduction on CodeSandbox?

[2020-07-02 19:14] paales commented on #633
There you go https://codesandbox.io/s/nostalgic-moore-ie2j1?file=/.meshrc.json

If you run it with `yarn mesh serve` you'll get the `Syntax Error: Unexpected <EOF>` error. If you set `"useGETForQueries": false` everything works fine.

[2020-07-06 06:31] skayred opened #642 "Feature request: dynamic adding of the service to Mesh"
Hello,

In my project, I need to have a service mesh (and graphql-mesh actually serves this purpose extremely well), and it would be also nice to have something like a plugin structure. For example, we can have 2 different system installation - first client can have ServiceA and ServiceB installed while the second client can have ServiceA and ServiceC installed. My idea is following - those servic

[2020-07-06 18:48] saerdnaer opened #643 "Bug: Renaming types with merger: federation does nothing"
With enabled federation merging strategy, transforms like `rename` or `prefix` do not yield any result:

[code]

in the processed schema, the type `IntFilter` is still named `IntFilter` instead of the expected name `IntFilterB`

[2020-07-06 21:04] jakeblaxon commented on #583
@ardatan I'm still unable to use plugins as per the docs. When I pass `@graphile/federation`, `mesh:serve` fails with the error `Option 'appendPlugins' should be an array of functions, found 'object' at index 0`. Through debugging I was able to find that `appendPlugins = [ { default: [AsyncFunction (anonymous)] } ]`. Is there a way to specify to pass just the default function instead the imports o

[2020-07-06 21:12] ardatan commented on #583
@jakeblaxon This sounds like a bug on our side related to the way we import external modules.

[2020-07-13 17:46] jakeblaxon opened #664 "Request: Validate meshrc config dynamically instead of from a static json schema"
There are times when the out-of-the-box plugins (i.e. transforms/handlers/etc.) aren't powerful enough to address a specific use case. The best option in these instances would be to use a custom-written plugin that allows its own custom config to be passed in. I've only been able to achieve this capability, however, by removing the `validateConfig(config);` statement from `parse-config.ts` in the

[2020-07-14 11:11] #598 closed

[2020-07-14 13:08] ardatan commented on #626
Closing this issue for now. Feel free to open a new one if it still persists.

[2020-07-14 13:08] #626 closed

[2020-07-14 21:08] SeanFV opened #676 "Calling an originally POST API using MeshContext results in an error: TypeError: cannot read property 'args' of undefined"
## Error
I was defining my own resolver and using the `MeshContext` to call multiple Queries and Mutations for an `OpenAPI` endpoint.

I ran into an error when I tried to call my resolver using a POST request through Postman (I can't send the request in the GraphiQL playground because the POST request involves sending a document); the console showed an uncaught exception: `TypeError: cannot read p

[2020-07-15 11:50] benjie commented on #86
This plugin removes the interface more thoroughly, you might not need it but `gatsby-source-graphql` did so letting you know in case it saves some head-scratching later: https://github.com/graphile/gatsby-source-pg/blob/master/lib/RemoveNodeInterfaceFromQueryPlugin.js

[code]

[2020-07-17 13:30] tobsch opened #697 "Mix authenticated graphql endpoints with public ones?"
I have two endpoints: One requires a bearer even for retrieving the schema,
another one that is public.
I want mesh to serve both.

Is there any best practice to potentially only add & serve the private one if a bearer is passed?
Can I forward the bearer?

[2020-07-17 19:20] jakeblaxon opened #698 "Unable to import @graphql-mesh/runtime and build in typescript without enabling "skipLibCheck": true"
When I try importing `getMesh` from `@graphql-mesh/runtime` in a personal typescript project, I get the following errors when running `tsc`:

[code]

I am only able to get around these errors by enabling `"skipLibCheck": true` in my tsconfig or manually changing each occurence of `../../types/src` to `@graphql-mesh/types` in `node_modules/@graphql-mesh/runtime/parse-config.d.ts`.

[2020-07-20 17:08] ardatan commented on #697
How do you want to pass the header? You mentioned `forwarding` so in that case Mesh needs to serve the unified schema in different shapes.

[2020-07-21 13:44] tobsch commented on #697
We close it for now and try to refactor the api. I'll reopen if it makes sense. thanks!

[2020-07-21 13:44] #697 closed

[2020-07-22 00:19] ardatan commented on #633
Available in v0.2.14!

[2020-07-22 00:19] #633 closed

[2020-07-22 00:19] ardatan commented on #608
Available in v0.2.14!

[2020-07-22 00:19] #608 closed

[2020-07-22 00:19] ardatan commented on #592
`qs` option is available in v0.2.14!

[2020-07-22 00:19] #592 closed

[2020-07-23 12:41] paales opened #737 "useGETForQueries: It doesn't pick up query variables at all"
A big thanks for helping to get the feature in, hope I'm not too annoying by reporting all these bugs ;)

Sandbox to reproduce:
https://codesandbox.io/s/nostalgic-moore-ie2j1?file=/.meshrc.json

I'd expect to be able to provide query variables for GET queries, but it seems it currenly is skipping those variables.

0.2.13 - useGETForQueries=false:
<img width="1636" alt="0 2 13 - useGETForQueries=fa

[2020-07-24 18:19] wsong-fv opened #746 "Documentation: outdated links in Mesh Transforms page"
In this page: https://graphql-mesh.com/docs/getting-started/mesh-transforms, the link to `a list of available transforms here` goes to a page not found error.

This is the page in question: https://graphql-mesh.com/docs/transforms/available-transforms, the relevant documentation seems to have been moved.

[2020-07-24 19:18] ardatan commented on #746
Actually the page that contains the list of transformations has been removed. That link should be removed as well. You can see the transformations on the left menu.

[2020-07-25 11:38] bm-stschneider opened #747 "Example source returns error"
I just wanted to try the openapi out and used the example yaml but it did not go well.

[code]
[code]
[code]

[2020-07-25 13:34] ardatan commented on #747
Here you can see it works well;
https://codesandbox.io/s/github/Urigo/graphql-mesh/tree/master/examples/openapi-javascript-wiki

You need to help me reproduce the issue otherwise I am not able to help you to solve it.

[2020-07-25 22:45] bm-stschneider commented on #747
Well this is all the info I have, I installed mesh and openapi used the yaml from the example and tried to fire it up and got that error.

[2020-07-25 22:46] bm-stschneider commented on #747
ok, what error would I get if another graphql is already running on port 4000?

[2020-07-25 22:59] bm-stschneider commented on #747
Another thing is, when I use `graphql-mesh generate-sdk --output ./src/generated/sdk.ts` I get the following errors. If I set a depth limit I don't get that. Maybe some circular reference?
[code]

[2020-07-29 16:01] glennblock opened #778 "Non-descriptive error "body used already for:" when using the odata handler to talk to Microsoft Graph"
When using the odata handler to talk to Microsoft Graph, if the bearer token is not specific, is invalid, or if the access token expires, the following error is returned

[code]

It would be helpful if there was a more descriptive message like 'Unauthorized" assuming the API returns a 401.

[2020-07-30 00:30] ardatan commented on #698
Could you provide a reproduction?

[2020-07-30 01:33] ardatan commented on #746
Fixed! Thanks for letting us know!

[2020-07-30 01:33] #746 closed

[2020-07-30 01:34] ardatan commented on #747
Could you help me reproduce it on CodeSandbox?

[2020-07-30 01:49] rboyd opened #779 "Add additionalResolvers example for passing args to nested fields"
I am trying to use it to wrap a remote schema in a container running https://github.com/graphql-compose/graphql-compose-elasticsearch (graphql queries to elasticsearch).

For my case I need to restrict the indices that a client can query. I'm stuck on how to use additionalResolvers to pass args to a nested field.

Here's a query example against target: https://imgur.com/a/tDVT8bC and my attempt so

[2020-07-30 01:57] ardatan commented on #779
@rboyd Could you create a minimal reproduction so we can work on it and make sure it works before asking you to test it ? :)

[2020-07-30 02:02] ardatan commented on #778
Available in 0.2.15!

[2020-07-30 02:02] #778 closed

[2020-07-30 02:20] frederico-miranda commented on #779
@rboyd, I've taken a look at your JavaScript snippet, and there is a problem with it. It has syntax errors. I've written a version of your script that does not have syntax errors and runs fine on Node.js, and you can see the attached screenshots for clarification.

RUNNING ORIGINAL CODE: https://ibb.co/t3Cxk3n
RUNNING MODIFIED CODE: https://ibb.co/0Chf97c

Here is the modified code:
[code]

@rboyd

[2020-07-30 02:21] glennblock commented on #778
Sweet!

[2020-07-30 02:51] rboyd commented on #779
@frederico-miranda thank you -- with a graphql query:

[code]
I get:
[code]
sources:
  - name: elastic
    handler:
      graphql:
        endpoint: http://localhost:9494/
additionalTypeDefs: |
  extend type Query {
    restrictedSearch(index: String!, q: String!): JSON
  }
additionalResolvers:
  - ./src/mesh/additional-resolvers.js
[code]
  search:
    image: docker.elastic.co/elasticsearch/elast

[2020-07-30 08:19] cmwendwa opened #782 "[OData Handler] Invalid OData URI generation"
Ran the following query against Microsoft Graph Endpoint:
[code]

The response:
[code]

[2020-07-31 01:07] glennblock opened #787 "[OData Handler] Add default filter param of ID for all queries on collections when talking to Microsoft Graph"
Every entity in OData carries a unique Entity ID. In Graph we also have a default `id` property on every entity. When querying against a collection, the id can be used in the url as part of the path. Currently there is no way to filter on the id other than using the `Filter` property on `QueryOptions`. Without having id first class, I cannot currently create a request to with the following urls

`

[2020-07-31 10:15] ardatan commented on #787
There might be primary keys with different names other than (id) and I also think people can extend their OData schema with singletons to get single object instead of arrays(entityset). Maybe we should leave this as it is now because you are able to extend the schema using additionalTypeDefs and additionalResolvers in Mesh for more cases.

Other than that, we can improve queryOptions to have stron

[2020-07-31 19:15] glennblock commented on #787
@ardatan thanks and I can see the concern. in Graph we have more uniform guidelines and strive for consistency. Granted we are not the only feed. :-)

The CSDL should indicate which property is the entity id right? So couldn’t you determine based on the entity which prop to add? Maybe it is not part of QueryParams but loose.

I agree that you should not block things supported by the spec. Also agr

[2020-08-02 20:11] glennblock commented on #787
@ardatan just looking through our Graph schemas, for Microsoft Graph all entities ultimately derive from `entity` which defines the key as "id". So for those using the handler to talk to Graph, the ID prop makes sense.

From the graph metadata

[code]

[2020-08-03 06:49] glennblock commented on #787
@ardatan I updated the description to make it Graph-specific

[2020-08-03 11:33] aylesm opened #790 "Rename input type fields or filter"
Hi,

I have a use-case where I have the need to either filter or rename input type fields.  From my initial investigation it doesn't look like renaming or filtering fields on input types is supported.  Is that true?

Is there a workaround for this in graphql-mesh?

[2020-08-03 18:42] glennblock opened #791 "[OData handler] Reduce unnecessary requests for retrieving resources"
Given the following query

[code]

The OData handler will make multiple requests to retrieve "me", "drive", "root" and "children" entities / entitysets. In this case a single OData request can return this list with the url "https://graph.microsoft.com/v1.0/me/drive/root/children?$select=id".

In cases like this where the resource can be retrieved in a single request, that should be preferred,

[2020-08-04 22:32] smorrisfv opened #793 "TypeError Invalid URL: undefined with OpenAPI and not setting baseUrl in the meshrc"
While using the OpenAPI handler we've run to an issue with how the `baseUrl` is handled, which causes the request to fail with an error.

[code]

There appears to be an order of operations problem where the `baseUrl` is attempted to be used, regardless if it is set or not, prior to a later call (which in my testing resolves this issue).  The later call is to the `getResolver` function.

If the `ba

[2020-08-07 05:06] hammadj opened #802 "Undefined identifierFieldName causing error in OData Handler"
Using the OData handler to load the MS Dynamics API, but getting the following error:

`Error: Cannot get field 'undefined' from type 'accountleads'. Field does not exist.`

The undefined is coming from this line here: https://github.com/Urigo/graphql-mesh/blob/fced1287f1b40e494f8d9b2d3ae891e87f762a23/packages/handlers/odata/src/index.ts#L1019

`accountleads` is the first entity type in the OData

[2020-08-07 17:35] aylesm opened #803 "OperationHeaders is not working on GraphQL handler"
Hi,

I'm trying to setup a mesh gateway with one graphql service and pass any header from the gateway to the downstream service.  I'm testing the authorization header but getting the following:

[code]

My mesh config looks like this:

[code]

The headers work with hardcoded strings.  But fail for any context value.

[2020-08-07 22:30] ardatan commented on #803
I think this is related to YAML parser so you need to force YAML parser to parse that value as string instead of an object;
'Authorization: "{context.foo}"'

[2020-08-09 13:22] aylesm commented on #803
Thanks... It needs to be an object.  Changing to a string causes the YAML parser to throw an error.

[code]
This does throw an error.  However I get a blank string.  So now it's a question of ensuring the context is set correctly.  I have following code...

[code]

[2020-08-09 16:36] ardatan commented on #803
No it needs to be a string then Mesh will replace that string with a given value. How about " instead of '? Also in your code, you are passing your custom value as 'context.authorization' but you have 'context.foo' in the configuration file.

[2020-08-09 19:57] aylesm commented on #803
Yeah bad example. In my use-case I’m trying to forward on the cookie and auth header plus another custom header. Am I able to do this with just string?

[2020-08-09 20:02] aylesm commented on #803
Also @ardatan i was able to see that passing

Authorization: '{context}'

Resulted in  ‘[Object]’ being received in the downstream service. So felt like it was doing a toString() on context. A

[2020-08-09 20:10] ardatan commented on #803
That's expected because header value can be a string. So if you pass an object, it'll be coerced to a string.
[code]
What if you change your config like above using double quotes? Still if it doesn't work, could you please share a reproduction CodeSandbox so I can try by myself?

[2020-08-09 20:11] ardatan commented on #802
@hammadj Could you share a reproduction CodeSandbox?

[2020-08-09 20:13] ardatan commented on #793
I think error handling is missing there so your openapi file doesn't have a baseUrl defined then it needs to be defined manually.

[2020-08-09 20:15] ardatan commented on #791
This might need a big refactor because GraphQL needs an object returned on each resolver on each level. Instead of having field resolvers for each field, we can analyze the upcoming GraphQL request to calculate outgoing HTTP request.

[2020-08-09 21:10] aylesm commented on #803
Double quotes worked. Thanks for your help. I now have an end-2-end example working. One thought came to mind, wondering if mesh should support a forward all option?

[2020-08-10 08:40] ardatan commented on #803
@aylesm In current architecture it is not possible because Mesh's schema generation and CLI's serve command that creates an HTTP server based on generated schema are completely seperated.
[code]
For example in the code above, Mesh doesn't know anything about how you execute the schema. You can execute it locally or via an HTTP server like ApolloServer so the only thing Mesh knows is what you pass

[2020-08-10 08:40] #803 closed

[2020-08-10 08:40] #791 closed

[2020-08-10 08:43] ardatan commented on #737
We'd love to get those bug reports from the community, thank you very much for every contribution you made so far including this bug report :) All those are making Mesh better day by day.
I have a question. How do you send variables to this GraphQL endpoint? Could you send an example `GET` request? Maybe there is a different use case for `GET` with GraphQL.

[2020-08-10 08:48] ardatan commented on #747
@bm-stschneider Feel free to open a new issue with a reproduction if it still persists.

[2020-08-10 08:48] #747 closed

[2020-08-10 08:49] ardatan commented on #643
@saerdnaer Could you share a minimal reproduction using CodeSandbox?

[2020-08-10 08:50] ardatan commented on #698
@jakeblaxon Feel free to open a new issue with a minimal reproduction if it still persists.

[2020-08-10 08:50] #698 closed

[2020-08-10 08:51] ardatan commented on #585
@marcus-sa Feel free to open a new issue with a minimal reproduction if it still persists. GraphQL Mesh is able to export an executable GraphQLSchema instance that can be used any kind of executor like HTTP servers, playgrounds etc.

[2020-08-10 08:51] #585 closed

[2020-08-10 10:14] paales commented on #737
Thanks for the response @ardatan!

For the query:

[code]

variables:
[code]

The query variables should be send as a query parameter as well for a GET request:

[code]

The current result (as you can reproduce in the sandbox):
![Schermafbeelding 2020-08-10 om 12 14 13](https://user-images.githubusercontent.com/1244416/89772847-05fbe300-db03-11ea-8f32-d9a336f208e1.png)

[2020-08-10 21:56] ardatan commented on #737
@paales Thank you for reproduction. I fixed it in GraphQL Tools's URL Loader. You can try it with the canary version of that PR;
https://github.com/Urigo/graphql-mesh/pull/806

[2020-08-10 22:37] ardatan commented on #790
Thank you for opening this issue!
You can try the fix PR by updating it to the canary version;
https://github.com/Urigo/graphql-mesh/pull/807

[2020-08-11 18:22] ardatan commented on #779
@rboyd Could you create a repo?

[2020-08-11 19:50] ardatan commented on #793
I found another problem about baseUrl so it will be fixed in the next version.

[2020-08-11 19:50] #793 closed

[2020-08-11 19:51] ardatan commented on #790
Available in the latest version!

[2020-08-11 19:51] #790 closed

[2020-08-11 19:51] ardatan commented on #737
Available in the latest version!

[2020-08-11 19:51] #737 closed

[2020-08-11 19:51] ardatan commented on #676
Fixed in the latest version!

[2020-08-11 19:51] #676 closed

[2020-08-11 19:52] ardatan commented on #511
Available in the latest version!
You can use the new `includeHttpDetails` option to get the details of the HTTP response including headers, statusCode etc under `httpDetails` field.

[2020-08-11 19:52] #511 closed

[2020-08-13 09:17] leoDreamer opened #825 "@graphql-mesh/runtime error"
package: @graphql-mesh/runtime
version: 0.2.17
Error: `TypeError: Cannot read property 'get' of undefined` in file /node_modules/fetchache/index.cjs.js
when i use @graphql-mesh/runtime@0.2.15 the error not appeared
my `.meshrc.js` is
[code]

[2020-08-13 17:29] ardatan commented on #825
Fixed in 0.2.18!

[2020-08-13 17:29] #825 closed

[2020-08-16 10:57] danielrearden opened #834 "Broken link in docs"
The link to [here](https://github.com/Urigo/graphql-mesh/tree/master/examples/javascript-wiki) on [this page in the docs](https://graphql-mesh.com/docs/getting-started/multiple-apis/#extending-schema-with-javascript-code-file) is broken.

[2020-08-16 19:06] ardatan commented on #834
Thanks! Fixed on master.

[2020-08-16 19:06] #834 closed

[2020-08-18 12:58] rsugirtharaj opened #851 "`additionalResolvers` not invoked when used with Federation transform"
I want to expose a (Apollo) Federation GraphQL endpoint for a Grpc backed service. I also need to use field level resolvers (additionalResolvers) feature to support some specific parameters to be passed.

My `.meshrc` looks like this

[code]
The proto file I am using
[code]

I see this is working when I do not do any Federation transform, but the `additionalResolver` never gets invoked in a federa

[2020-08-18 14:49] ardatan commented on #851
@rsugirtharaj Could you create a reproduction repo?

[2020-08-21 22:49] jakeblaxon opened #861 "Runtime Package Redesign"
Hey guys! First I just want to say I love this project and the ease that it gives us in composing graphql schemas declaratively. Thank you for all of your hard work!

To improve this library even more, I have a couple suggestions for the design of the `runtime` package to solve a couple issues. Right now, the runtime package is highly coupled to the handler, merger, and transform libraries because

[2020-08-25 08:34] cpoliver opened #864 "[oData Handler] Deprecated $inlinecount used for oData v4, instead of $count"
The generated schema for an oData v4 endpoint I'm trying to target generates the now defunct $inlinecount query arguments.

`$inlinecount: allpages` has been replaced with `$count: true` in oData v4.

Generated types and source $metadata XML can be found at [this gist](https://gist.github.com/cpoliver/3f8999ac9fc111cee7124699baeb5382)

[2020-08-26 06:37] ardatan commented on #864
Thank you for opening this issue :)
I decided to keep `$inlinecount` not to break the existing users. But I added `$count` to the query options instead.
All those changes are available in @graphql-mesh/odata@0.3.2.

[2020-08-26 06:37] #864 closed

[2020-08-26 06:38] ardatan commented on #802
@hammadj Feel free to open a new issue with a reproduction on CodeSandbox! Thanks!

[2020-08-26 06:38] #802 closed

[2020-08-27 05:06] ardatan commented on #851
Feel free to create a new issue with a minimal reproduction repository.

[2020-08-27 05:06] #851 closed

[2020-08-31 06:08] whjacobsen opened #882 "Feature request: specify configName for input when generating TypeScript types"
It would be great if we could specify which configuration file we want to make use of when generating TypeScript types through the cli, e.g.:

"graphql-mesh typescript --input ./src/graphql/devconfigrc.yml --output ./src/graphql/mesh/__generated__/types.tsx"

That way we could easily switch between e.g. development and production and generate types based on the environment we need types for

[2020-09-01 05:14] hammadj opened #883 "Undefined identifierFieldName causing error in OData Handler"
Using the OData handler to generate TS types for the MS Dynamics API, but getting the following error:

`Error: Cannot get field 'undefined' from type 'accountleads'. Field does not exist.`

The undefined is coming from this line here: https://github.com/Urigo/graphql-mesh/blob/fced1287f1b40e494f8d9b2d3ae891e87f762a23/packages/handlers/odata/src/index.ts#L1019

`accountleads` is the first entity t

[2020-09-01 13:40] paales commented on #737
@ardatan Just to confirm, it is working as expected!

[2020-09-02 06:51] META-DREAMER opened #895 "GraphQL Mesh SDK Failed (1 errors): Unknown type \"ID\"."
Trying to use the generated SDK, but in my custom resolver when I call the SDK it gives the following error before even making the request to the remote API.

[code]

This is happening with the OpenAPI handler. My .meshrc.yml:
[code]

If I remove the `args.priceFinderToken` and hardcode the token instead, it works fine. However, that is not feasible for me since I need to get a new token in runtim

[2020-09-02 08:14] ardatan commented on #895
Could you share a reproduction CodeSandbox by any chance?
Thanks!

[2020-09-02 08:17] ardatan commented on #883
Available in @graphql-mesh/odata@0.4.2! Thanks!

[2020-09-02 08:17] #883 closed

[2020-09-02 14:19] svenf1105 opened #899 "GraphQL Handler with Resolvers Composition Transform doesn't work"
Hey,

i am trying to use my graphql endpoint together with a Resolvers Composition Transform but the composer seems to be ignored/not executed.

While trying to debug this i found that it works fine for openapi endpoints, but i can't get it working for graphql.

I made an example here:
https://github.com/svenf1105/graphql-mesh-broken-example
https://codesandbox.io/s/quirky-cherry-25wxt

My goal is

[2020-09-03 03:03] hammadj commented on #895
@ardatan Here's the codesandbox: https://codesandbox.io/s/fragrant-currying-i6kyy?file=/app.ts.

You can make the query at the /playground path like this:

![image](https://user-images.githubusercontent.com/7143583/92066661-ad191680-ed5f-11ea-87de-730bb66f449e.png)

[2020-09-03 16:15] wtrocki opened #903 "[OData] provide GraphQL schema layouts"
Generated schema for OData generates specific names for operations.
Having ability to override names for the operations in some form of config will make this much easier to use for production cases (where we want to have more control on how graphql schema looks)

[2020-09-06 10:40] ardatan commented on #861
https://github.com/Urigo/graphql-mesh/pull/907
Configuration logic has been decoupled completely from `runtime` package(you can check react example to see how new programmatic API is);
and also you can use your own handlers, transforms and cache impl. in yaml/json config files from now on(new json schema allows the additional properties under `sources`, `transforms and `cache` fields).

[2020-09-09 14:10] rsugirtharaj opened #926 "Adding field level resolvers with GRPC and Apollo Federation"
Hi Team,

I have a GRPC backed service which needs to be served through an Apollo federation gateway.

I have created a sample repo here - https://github.com/rsugirtharaj/graphql-mesh-example

The current query I am using is

[code]
This is working fine with no issues, but what I want to do is
[code]

Notice the `limit` param passed to the `reviews` field. Please let me know if this is possible an

[2020-09-10 08:23] paales opened #932 "Long bootup times when running via a serverless environment"
Hi there,

I'm running GraphQL Mesh via NextJS on vercel.com which is using a serverless environment (as described here https://github.com/Urigo/graphql-mesh/issues/366)

However I'm running into performance issues when the endpoint needs to start up. It seems that merging the different schema's is taking a 'long' time.

Locally it takes about 2-3 seconds to initialize the schema. Haven't got exac

[2020-09-12 14:10] ardatan commented on #787
@glennblock Available in @graphql-mesh/odata@0.5.1 !

[2020-09-13 05:41] jakeblaxon commented on #861
This is great! Thanks for your work on this!

Two other suggestions I was thinking:
1. How would you feel about allowing nested meshes, i.e. allowing someone to add sources and a merger within a source itself? For example, a possible mesh config could look something like:
[code]
This would basically allow us to recursively nest the mesh config structure within a source, so that the source config w

[2020-09-14 15:52] aylesm opened #936 "Setting HTTP Headers in additional resolvers using the generated SDK"
Hi,

I have a GraphQL datasource that I would like call from an additionalResolver.  This works fine.  However I can't work out how to configure or pass in Headers from the incoming request and pass to downstream service.

I have generated an SDK and I'm trying to call the API by passing in options...

[code]

Is there a way to pass this in?  Or even configure in the YAML?  I can see the auth head

[2020-09-15 09:11] ardatan commented on #861
@jakeblaxon We can have nested meshes in a new handler :) I think it is doable!
But I am not sure about the second one because additional typeDefs and resolvers should be on top of other schemas because it is how graphql-tools's schema stitching works :/ In order to benefit from the most of the features of schema stitching specifically those ones;

[2020-09-15 09:30] cpoliver opened #944 "[oData Handler] Count Not Behaving as Expected"
Following #864 I've got the latest version of the oData handler and GraphQL Mesh running and can confirm that both `count` and `inlineCount` are now valid `QueryOptions`.

However, using the `count` query option doesn't seem to do anything, and running the separate generated query with the same filter does not apply the filter. In fact, the filter appears to be ignored completely in the count quer

[2020-09-15 13:37] rsugirtharaj commented on #926
Hi Team, Can anyone help with this?

[2020-09-17 11:54] lghinet opened #955 "trying to parse kubernetes swagger endpoint"
hello,
i am trying to hook mesh to kubernetes
my config looks like this

[code]

and i get the error

[2020-09-17 13:14] ardatan commented on #955
Could you share more details like how to reproduce it etc?

[2020-09-20 04:12] YEriin opened #959 "Proxy file upload with graphql-upload seem not working"
Hi, i'm trying to use mesh as the gateway to the target server. The target server implements the file upload resovler with graphql-upload. But it lost file stream info after mesh. Does mesh support proxy file upload now?

Client implementing the GraphQL multipart request spec send files through mesh as gateway to real server using graphql-upload fail and the target server can not get file stream i

[2020-09-22 12:09] angelsvirkov opened #965 "Cannot query for additional internal properties which extend remote graphql schema with additional resolvers"
Hi guys, I believe I have encountered the following bug in the newest graphql-mesh packages. I cannot query for additional properties, which are extending a remote graphql schema. I am using the graphql mesh config as part of an existing graphql server.

The problem occurs for the following set of graphql packages
[code]
and it does not occur for older versions. For example:
[code]

## Examples
-

[2020-09-24 10:43] kivi opened #971 "Resolvers Composition Transform: Composer functions are not executed"
I have slightly changed the example from https://graphql-mesh.com/docs/transforms/resolvers-composition.

On my own app I use Mesh programatically and can see console.log's in the composer.
The example I have created here: https://github.com/kivi/resolvers-composition-transform-example

Starts Mesh-cli.

It looks like the function defined in meshrc.yml is not being executed:

[code]

Just to demon

[2020-09-24 11:18] kivi commented on #971
Looks like if transform is in root of the config. Then the example might be outdated? Or can transforms also happen for `sources` ? And that needs to be fixed.

[code]

[2020-09-24 12:34] ardatan commented on #971
That example uses OpenAPI handler so resolvers composition transform doesn't work with GraphQL Handler on the source level but works on root level;
Same as this one; https://github.com/Urigo/graphql-mesh/issues/899

[2020-09-24 12:57] angelsvirkov opened #973 "Filter transform syntax with multiple fields does not work"
Hi guys, I believe some of the documented features in [Filter Transforms](https://graphql-mesh.com/docs/transforms/filter-schema#how-to-use) do not work. In particular, I am talking about the syntax to **allow** and **disallow** multiple properties

Not working:
1. `Query.{someField, ...}`
2. `Query.!{someField, ...}`
3. `Mutation.{someField, ...}`
4. `Mutation.!{someField, ...}`
5. `Type.{someFie

[2020-09-24 13:31] angelsvirkov commented on #899
@svenf1105 , we modify the headers sent out from the mesh to the 3rd party graphql endpoint by using a `customFetch` function which is executed for every outgoing query.  It works decently. Our headers are not dependent on context or session.

[2020-09-24 17:56] XBeg9 opened #976 "error: Unable to serve mesh: handlers is not iterable"
[code]

Any ideas why this happens on a basic project?

[code]

dependencies:
[code]

[2020-09-26 11:22] ardatan commented on #976
Fixed in @graphql-mesh/cli@0.9.1 !
Thanks for opening this issue.

[2020-09-26 11:22] #976 closed

[2020-09-26 11:23] ardatan commented on #971
Available in latest version. Could you check if it is working?

[2020-09-26 11:23] ardatan commented on #965
Available in latest versions! Could you check if it is working?

[2020-09-26 11:23] ardatan commented on #899
Available in latest versions! Could you check if it is working?

[2020-09-26 11:23] #899 closed

[2020-09-26 11:23] ardatan commented on #965
Available in latest versions! Could you check if it is working?

[2020-09-26 11:23] #965 closed

[2020-09-26 11:23] #971 closed

[2020-09-27 14:47] ardatan commented on #959
Could you share a reproduction repo?

[2020-09-27 14:48] ardatan commented on #955
Closing due to inactivity. Feel free to open a new issue with a minimal reproduction.

[2020-09-27 14:49] ardatan commented on #936
Could you share a reproduction on CodeSandbox?

[2020-09-28 10:30] paales opened #991 "Regression bug after upgrade: TypeError: HandlerCtor is not a constructor"
[code]

After upgrading from the following:

![Schermafbeelding 2020-09-28 om 12 29 52](https://user-images.githubusercontent.com/1244416/94421780-5946f500-0186-11eb-82cd-12b9ada306b5.png)

[2020-09-28 10:49] ardatan commented on #991
Sorry for inconvenience. New version with a fix for that issue will be released soon after CI finished.

[2020-09-28 10:54] ardatan commented on #991
Could you test it with the latest versions?

[2020-09-28 11:28] ardatan commented on #973
Fixed in latest versions!
Thanks for reporting this bug.

[2020-09-28 11:28] #973 closed

[2020-09-28 11:29] #991 closed

[2020-09-28 13:17] paales commented on #991
Fixes the issue! Thanks for the quick reply :)

[2020-09-28 16:05] ardatan commented on #926
You can use `additionalTypeDefs` and `additionalResolvers` to extend the schema.

[2020-09-28 16:05] #926 closed

[2020-09-28 19:19] kivi commented on #971
Sorry my late answer...
I am getting now following error:

`error: Unable to serve mesh:  schema is invalid: data.definitions['GraphQLHandler'].properties['customFetch'].type should be equal to one of the allowed values, data.definitions['GraphQLHandler'].properties['customFetch'].type should be array, data.definitions['GraphQLHandler'].properties['customFetch'].type should match some schema in an

[2020-09-30 02:25] YEriin commented on #936
@aylesm you may try this:)

[code]

[2020-09-30 08:02] angelsvirkov commented on #965
Just tested it out and it works fine. Thank you!

[2020-09-30 08:58] angelsvirkov commented on #973
Worked fine, thanks.

[2020-09-30 10:19] paales opened #1002 "Cache transform doesn't work?"
So i've been struggeling to get any caching to work. Maybe I'm not completely following, but I'm still getting responses on my backend for each request. Any idea what is going on?

[code]

Starting with `yarn mesh`

Also it is unclear how `cacheIntrospection` should work? Do I have to configure something to get this to work?

[2020-09-30 14:38] aylesm commented on #936
That works.  However I need it to be dynamic.  So on every call to the additionalResolver it should take the current OAUTH token and pass it through to the underlying service.

[2020-09-30 15:10] aylesm commented on #936
I'm calling this on every request.  The odd thing is my breakpoint is hit on server boot.  But no longer hit on each request.  The first and only time it's hit it works.  However subsequent calls output console logs, but the headers no longer contain entries I've set.

[code]

The resolver:

[code]

[2020-09-30 16:56] ardatan commented on #936
I think you missed my comment. Could you share a reproduction on CodeSandbox?

[2020-09-30 16:57] ardatan commented on #903
Feel free to create a PR and we can support you.

[2020-09-30 16:59] wtrocki commented on #903
Thank you so much! CC @mikepizzo

[2020-09-30 17:46] aylesm commented on #936
OK found the issue..  I'm creating a new SDK.  I should be using the context to leverage the downstream services...

This example helped me find the solution.  Where you destructure covid, worldPop.  These handlers will work with the defined Mesh yml.

[code]

[2020-09-30 17:47] aylesm commented on #936
@ardatan - Apologies, wasn't ignoring.. Just hadn't got round to creating a sandbox.

[2020-10-01 07:38] lghinet commented on #955
i run `kubectl proxy -p 8003 `
then i run ` yarn start ` with the above config, very simple starting from your javascript example
the problem is that kube mehs does not like the openapi spec directly from the kube api endpoint
`https://kubernetes.io/docs/concepts/overview/kubernetes-api/#api-specification `

[2020-10-01 09:14] ardatan commented on #955
Have you seen this?
https://github.com/onelittlenightmusic/kubernetes-graphql

[2020-10-01 12:29] lghinet commented on #955
I have and I find it to be an awful solution,
he is downloading the spec from ` curl -LO https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json`  which is very strange because you may have a different version of kube, not always the latest, even so why download it from there when I have it already available in my cluster at `https://kubernetes.default.svc/open

[2020-10-01 12:32] lghinet commented on #955
so if graphql-mesh is working with openapi spec coming from an endpoint it should work with kube api also right ?

[2020-10-01 20:44] herrmannplatz opened #1012 "Error when running mesh serve"
I basically followed the installation guide and tried to spin up a graphql mesh using the following config:

[code]

This results in the following error:

[code]

[2020-10-01 21:24] sorinirimies commented on #1012
Same here. I just tried to run the demo example a la carte and I got the same error:
[code]

[2020-10-01 21:28] ardatan commented on #1012
Fixed in the latest release!
Thanks for reporting this issue!

[2020-10-01 21:28] #1012 closed

[2020-10-01 21:28] ardatan commented on #955
Available in the latest release!

[2020-10-02 04:57] lghinet commented on #955
thanks

[2020-10-02 08:00] lghinet commented on #936
additional operationHeaders don't work anymore - between version  > 0.5.6 and 0.8.0

[2020-10-02 09:42] ardatan commented on #936
@lghinet Please share a reproduction on CodeSandbox or GitHub at least as I already asked many times above :)

[2020-10-03 18:48] MartyStache opened #1023 "Neo4j Example not working - need help - graphql dependency version conflict"
Greetings!

**_EXTREMELY_** excited about finding GraphQL Mesh. I plan on making big use of it and evangelizing it, but ran into an issue immediately with the Neo4j example and I am hoping you can help me resolve. The package.json file in the example calls for graphql:^15.3.0 and neo4j-graphql-js:^2.16.4 (which happens to depend on an older version of graphql)

If this is a yarn resolutions issue,

[2020-10-04 17:12] ardatan commented on #1023
I added yarn resolutions for that example and I will submit an issue on neo4j-graphql-js repo about this because they should never have direct dependency to graphqljs.

[2020-10-04 17:14] MartyStache commented on #1023
Right!? Thanks! So is functional now?

On Sun, Oct 4, 2020 at 1:13 PM Arda Tanrıkulu <notifications@github.com>
wrote:

[2020-10-04 17:31] ardatan commented on #1023
Yes :)

[2020-10-04 18:08] sorinirimies commented on #1012
Awesome, thank you so much.

[2020-10-04 19:25] #1023 closed

[2020-10-04 21:55] mateja176 opened #1027 "GraphQL Error: Invalid URL"
The commands:

`yarn add graphql @graphql-mesh/cli @graphql-mesh/openapi`
`yarn graphql-mesh server`
`open https://localhost:4000/graphql`

The query:

[code]

And the response:

[code]

[2020-10-04 22:07] ardatan commented on #1027
Could you share a reproduction on CodeSandbox?

[2020-10-04 22:08] ardatan commented on #959
Closing for now. We can reopen this after you share a reproduction.

[2020-10-04 22:08] #959 closed

[2020-10-04 22:09] mateja176 commented on #1027
I'd be happy to, however the server I am attempting to wrap is local atm. Is there still a way to reproduce via codesandbox?

[2020-10-04 22:11] ardatan commented on #1002
It gets the introspection once from your GraphQL endpoint by sending introspection query initially then creates the remote executable schema on the future initializations.
Maybe you need something like this?
https://graphql-mesh.com/docs/transforms/cache

[2020-10-04 22:27] ardatan commented on #1027
@mateja176 You can share swagger schema maybe?

[2020-10-04 22:42] mateja176 commented on #1027
I would if it were up to me, however I can share a relevant and self contained piece of the schema. Namely regarding the login feature. Firstly here's the swagger json:

[code]

Secondly, here's the request:

[code]

And the response:

[code]

Just to be sure I'm including an example curl request which is proven to succeed:

[code]

[2020-10-04 22:59] ardatan commented on #1027
I think `baseUrl` is missing here so URL is invalid without the beginning of the URL.

[2020-10-04 23:27] mateja176 commented on #1027
Absolutely right. I've found the option in the [openapi docs](https://graphql-mesh.com/docs/handlers/openapi/). However it isn't obvious that it's required or are there cases where graphql-mesh serve can work without it?

[2020-10-04 23:27] #1027 closed

[2020-10-04 23:43] ardatan commented on #1027
I think the missing thing on Mesh side is the error message. If baseUrl is missing somehow, we should throw an error with a clear message :) But other than that, how can Mesh know the necessary URL for that request if there is no clue about the remote host :)

[2020-10-04 23:46] man1989 opened #1028 "Unable to call api function under resolver function when there are multiple sources"
I am unable to call api function under my custom resolver, when i add multiple resources.
Here is the repo url to reproduce the bug https://github.com/man1989/graphql-mesh-postgraphile-test. It throws an error `Cannot read property 'getMutationType' of undefined` when i am trying to access the api function. I did some analysis and found  out that it is unable to find the **apiSchema** https://gith

[2020-10-04 23:55] mateja176 commented on #1027
Indeed, producing a friendlier error message would be nice. Though, I originally meant updating the .meshrc.yml file on the openapi docs page.

[2020-10-05 11:15] paales commented on #1002
I've got no idea what went wrong the last time. Caching seems to be working as expected right now :)

[2020-10-05 11:15] #1002 closed

[2020-10-05 11:43] ardatan commented on #1028
https://github.com/man1989/graphql-mesh-postgraphile-test/pull/1
I updated the packages that include fixes for transforms and also I fixed your configuration and resolver code.

[2020-10-05 12:15] paales commented on #932
Alright, so I thought this was a caching issue.. After solving all my caching issues (#1002), it seems that creating the mesh still takes 2-3 seconds. I'm unsure what is going on :) I can't absolutely tell for certain though. Will reopen the ticket when I've got more relevant information.

[2020-10-05 12:15] #932 closed

[2020-10-05 16:33] mateja176 opened #1037 "Feature Request: Computed Field Transformers"
The idea is to enable extending a type with computed fields. For example `firstName` and `lastName` may be combined into `fullName` ( this already comes natural with graphql but a parallel may be drawn between the redux selectors and [reselect](https://npmjs.org/package/reselect) system based on composition:

[code]
I understand that this might be a stretch, nevertheless I wanted to get the idea a

[2020-10-06 09:58] jrevault opened #1045 "Provide a way to only expose a set of given tables and/or views out of a DB"
Hi The Guild team

For instance my source is a legacy MySql DB with lot's of tables (could be a Postgres too in a near future). I created a view that represents exactly what I need to expose in graphql, and it would be great just to expose this view(s).
Would be great if the way to expose views would be the same as exposing  tables.

[2020-10-06 12:22] jrevault commented on #1045
I created a branch (https://github.com/jrevault/graphql-mesh/tree/1045-tables-config) with a naive implementation, should I push the PR and link it to this issue ?
Recap of the changes :
- Added to MySQLHandler a 'tables' config (takes a comma separated list of tables)
- In mysql/src/index.ts : reads the new config.tables and if it is null or if values matchs tables names from getDatabaseTables, g

[2020-10-06 13:27] ardatan commented on #1045
@jrevault That looks really cool! Feel free to open a PR!

[2020-10-06 22:49] mateja176 opened #1047 "Unauthorized error for routes requiring authorization header"
The following request accepts the user to be authenticated by supplying an authorization header with a valid token:

[code]

The equivalent REST API call successfully returns a JSON response with the expected data:

[code]

Whereas the GraphQL query, mentioned above, results in the following error response:

[code]
On the other hand, requests which do not require authentication resolve just fine.

[2020-10-06 23:22] ardatan commented on #1047
See https://github.com/Urigo/graphql-mesh/discussions/622#discussioncomment-30341

[2020-10-07 06:54] ardatan commented on #936
Closing for missing reproduction. Please submit a new issue with a clear minimal reproduction on CodeSandbox if the problem persists.

[2020-10-07 06:54] #936 closed

[2020-10-07 07:12] ardatan commented on #1028
Feel free to comment here if this issue still persists.

[2020-10-07 07:12] #1028 closed

[2020-10-07 23:11] mateja176 commented on #1047
Thanks for pointing me to the discussion, however even after having updated my `.meshrc.yml the error persists:

[code]
This is the config file, whereas the error is identical. I tried restarting the server after changing the configuration.

[2020-10-07 23:12] ardatan commented on #1047
Could

[2020-10-07 23:13] ardatan commented on #1047
Could you share a reproduction repo?

[2020-10-07 23:28] mateja176 opened #1052 "Deployment documentation"
I really like graphql-mesh so far and I'd like to use it production. However, I couldn't find any deployment documentation or an example. I believe that I'm not the only one who thinks that it would be really appreciated.

[2020-10-07 23:34] mateja176 commented on #1047
I cannot share this all's source code, however I can create a minimal reproduction repo tommorow. I may even notice something along the way which will lead me closer to a solution.

[2020-10-08 06:19] hammadj opened #1053 "Cannot JSON parse response body of operation DELETE"
Getting this error when doing a DELETE operation with the openAPI handler. Cannot share repro as it only works with a private API key for sensitive data.

[code]

[2020-10-08 07:31] siddharthsharma94 opened #1054 "Custom Arg Scalar Type"
Hey! So I'm hitting an issue, I basically want to customize the schema so the arg type is of `String` and not `ID`

This is what my `.meshrc.yml` looks like

[code]

I want `args.query` to be a SCALAR Type of String, but in the Playground it shows up like this

<img width="593" alt="image" src="https://user-images.githubusercontent.com/11656847/95428188-85d4dc80-08fd-11eb-8b2d-1961e31023c6.png">

[2020-10-08 10:39] ntziolis commented on #1047
We are seeing the same issue. It seems the `operationHeaders` setting is completely ignored. To reproduce:
- We have forked the stripe sample on the graphql-mesh site
- The only change is we used the value `somedummykey` as Bearer token value
   https://codesandbox.io/s/black-frost-81pl8?file=/.meshrc.yml
- When executing the query the resulting error message in the response is:
![image](https://u

[2020-10-08 16:06] ardatan commented on #1052
We are planning to have a deployment documentation but it can be deployed like any other regular NodeJS project that can be run by 'yarn start' or 'npm start' after installing dependencies using 'npm install' or 'yarn install' on any kind of environment.

[2020-10-08 19:45] mateja176 commented on #1052
So assuming you'd want to wrap an api based on the open api specification, all you needed to do is to deploy a folder with a `package.json`(simplified):

[code]

Along with a `.meshrc.yml`:

[code]

[2020-10-08 22:43] mateja176 commented on #1047
@ardatan I've created a simple express server with a JSON endpoint using express-generator. Next, I set up a log to determine whether headers are reaching the handler. The answer is negative, however it could be that the fix is trivial. Here's the [link](https://gitbhub.com/mateja176/graphq-mesh-auth) to the repo.

[2020-10-09 05:31] ntziolis commented on #1047
Some observations:
There are only 2 places where `operationHeaders` are read from the config as far as I can tell:

   1. Its used to initialize `headersFactory`, which seems like the right place we should look
      - https://github.com/Urigo/graphql-mesh/blob/0f17c58c6f8678eeed83ceb4b807fb2b914e165f/packages/handlers/openapi/src/index.ts#L47
      - the `headersFactory` in turn is used only in a

[2020-10-09 09:41] ardatan commented on #1047
The second one is used for getting the names of arguments so we can add them to the fields in the schema.

[2020-10-09 09:45] ardatan commented on #1053
In swagger file, `delete` operation has json response body so Mesh tries to parse it as JSON. I am not sure what to do without reproduction. You can create a similar swagger file with an operation like this one so I can understand what causes the issue.

[2020-10-09 17:00] Ant59 commented on #787
This would be fantastic. Something like how Hasura allows for filtering, it would be great if GraphQL Mesh could have typed filtering.

eg

[code]

Which would resolve to `$filter: "favourite_colour eq 'Blue'" in OData.

[2020-10-09 19:42] mateja176 commented on #1047
@ardatan Have you made any progress regarding the matter? It's still early in my investigation however the issue probably doesn't lie in the interpolation library.

[code]

[2020-10-10 13:52] ardatan commented on #1047
Should be available in `@graphql-mesh/openapi@0.9.1`. Could you confirm it works?

[2020-10-10 13:52] ardatan commented on #1054
Should be available in the latest versions. Could you confirm?

[2020-10-10 13:57] pascally opened #1060 "unable to verify the first certificate"
Hi,

i tried to play with graphql service mesh / openapi, created a local service with the following openapi yaml
[code]
and the following meshrc.yaml
[code]

but got the following Graphql Error message
`request to https://localhost:5001/WeatherForecast failed, reason: unable to verify the first certificate`

any insight :) ?

[2020-10-10 14:00] ardatan commented on #1060
Have you tried to do this request via `curl` or Postman locally?

[2020-10-10 14:22] pascally commented on #1060
Calling https://localhost:5001/weatherforecast with Curl or Postman works, i didnt configured SSL on my machine.
To have more context, it s just a local ASP NET core web api.

[2020-10-10 14:46] ardatan commented on #1060
So you are using `https` in those calls. I am not sure it is related to Mesh. Could you create a minimal reproduction repo by any chance? Thanks!

[2020-10-10 14:58] pascally commented on #1060
i push a local repo there https://github.com/pascally/meshtest

[2020-10-10 16:37] ntziolis commented on #1047
I can confirm that the header is now passed correctly! Thank you for the VERY speedy turnaround on this.

[2020-10-10 17:05] #1047 closed

[2020-10-10 18:36] mateja176 opened #1061 "Cannot get value for auto-generated 'limit'"
The auto generated limit parameter is quite useful when dealing with collections. However, certain endpoint already have a pagination mechanism be it `offset`, `limit`, `pageNumber` or `pageSize` parameters. Hence the auto-generated limit param creates confusion. Moreover although it's of type `int` as can be seen in the schema, the absence of the limit parameter is causing an error response to be

[2020-10-10 21:56] siddharthsharma94 commented on #1054
Wow first of all thanks for quickly implementing this!

So would the path now look like
`path: location/search/?query={args.query.String}` ?

[2020-10-11 21:01] man1989 opened #1062 "Passign pgPool to getPostGraphileBuilder on postgraphile handler breaks the subscription"
Postgraphile handler is throwing below error when using with live query.
[code]
I dig little bit and found out that the passing pgPool might be the issue at below line number
https://github.com/Urigo/graphql-mesh/blob/master/packages/handlers/postgraphile/src/index.ts#L89
I swapped the pgPool with just the connectionString and it worked

[2020-10-12 20:40] ardatan commented on #1054
Latest version of `@graphql-mesh/json-schema` is `0.7.0` :)

[2020-10-12 22:38] siddharthsharma94 commented on #1054
hmmm @ardatan still seems to not work. Any way you can push up a codesandbox example? 😄

[2020-10-13 12:09] haack opened #1069 "Allow schema loading from .graphql file references in graphql handler"
Currently the graphql adaptor config requires a graphql url for schema discovery. It would be really useful to allow a reference a glob of `.graphql` files (basically `GraphQLFileLoader` functionality in [`@graphql-tools`](https://www.graphql-tools.com/docs/schema-loading/)).

The reason this would be useful is we want to generate client side TS types as part of our build without having to run the

[2020-10-13 14:35] ardatan commented on #1069
@haack You can provide additional `.graphql` files using `additionalTypeDefs` like below;
[code]

[2020-10-15 05:35] tatemz opened #1071 "Allow FileDescriptorSets in place of individual .proto files"
Most protocol buffer and gRPC projects that I have seen involve many proto files that typically exist outside of the client codebase. These large sets of proto files can be compiled into a file descriptor set:

[code]

These descriptor sets can then be consumed during the `protoc` code generation process with `--descriptor_set_in`:

[code]

Rather than having to include many `*.proto` files, it wo

[2020-10-15 19:54] tatemz commented on #1071
Adding a possible scenario to this feature request, it could be feasible for a single descriptor set to be passed in and all of the services contained in it automatically added without having to specify the descriptors within it. :thinking:

[2020-10-16 02:17] siddharthsharma94 commented on #1054
Any update on this @ardatan really would love to see this working 🙃

[2020-10-16 13:47] skayred opened #1075 "Way to pass JWT to underlying services"
Hello!

I am using that project to make a dynamic mesh where services can register themselves. That idea worked until I faced the need to pass JWT provided by client to underlying services. Is there any context or other way to tell services who exactly makes the request?

Currently, I have to rebuild schema, and it is definetely counter-optimal solution:

Main file:
[code]

Rebuild schema method:

[2020-10-19 13:03] ilovejs opened #1081 "bugfix: example weather-bit changed api"
## External api changed: weather-bit

- fix demo:
https://codesandbox.io/s/graphmesh-weather-swager-j4sg5?file=/mesh-operations/getDailyForecastByCoordinates.query.graphql:108-143

- location:
[1] /mesh-operations/getDailyForecastByCoordinates.query.graphql:108-143
NewName for query: getForecastDailyLatequalToLatLonLon
[2] sdk.ts line 129: change name to getForecastDailyLatequalToLatLonLon

[2020-10-20 10:02] scorsi opened #1083 "Need information about GraphQL over independent microservices"
Hello,

Imagine I got two independent gRPC microservices, says:
#### ReviewService
[code]
#### ProductService
[code]
____
Now, I want to make a GraphQL request like:
[code]

Both my review and product service don't know each others, I only have ids.

I so need to dynamically add a `reviews` field to `Product` and call the `GetReviews` by passing the `reviewIds` of the `Product` even if the caller

[2020-10-20 13:59] ardatan commented on #1069
Closing this issue for now. If you have any more issues, feel free to create one.

[2020-10-20 13:59] #1069 closed

[2020-10-20 14:00] ardatan commented on #1081
@ilovejs Could you give more details? What was the issue?

[2020-10-20 14:00] ardatan commented on #1052
Closing this issue for now. If you have any problems about deployment, feel free to create a new issue.

[2020-10-20 14:00] #1052 closed

[2020-10-20 14:01] ardatan commented on #1071
Sounds cool! Do you think you can create a PR so we can merge it and release a new version with this feature?

[2020-10-20 14:02] ardatan commented on #1061
Could you create a minimal reproduction?

[2020-10-20 14:04] ardatan commented on #1075
You can pass values from context as headers like below;
[code]

[2020-10-20 14:06] ardatan commented on #1037
You can use additionalTypeDefs and additionalResolvers to add a new field like below;
[code]

in `user-resolvers.js`
[code]

[2020-10-20 14:07] #1037 closed

[2020-10-20 14:07] ardatan commented on #1053
Closing this issue for now. Feel free to create a new issue with a reproduction if it still persists.

[2020-10-20 14:07] #1053 closed

[2020-10-20 14:08] ardatan commented on #643
Closing this issue for now. If the problem persists, feel free to create a new issue with a reproduction.

[2020-10-20 14:08] #643 closed

[2020-10-20 14:29] skayred commented on #1075
@ardatan I have a mix of Runtime package functions and copypasted/edited CLI functions, and my Mesh allows services to register themselves, so I don't have any config there. I would try your approach but I don't completely understand where do I pass context in my case

[2020-10-20 19:27] tatemz commented on #1071
I'll work on it. Been reading up on how to do it and there might be a potential showstopper.

In order to convert a FileDescriptorSet into a `Root` object (used by `graphql-mesh`), we'd need to use the [`descriptor` extension](https://github.com/protobufjs/protobuf.js/tree/master/ext/descriptor).

Then we'd need to set the `packageDefinition` variable using `createPackageDefinition` from `grpc/grp

[2020-10-20 20:28] scorsi opened #1085 "additionalResolvers config with object in args"
Hello,

I want to create an `additionalResolvers` using only the config file but without success. It appears that we can't define object inside args.

Here the config file:
[code]

Here's the equivalent code in JS which is working :
[code]

I also tried to define the args like this:
[code]
But I got the following error : `str.match is not a function`.

I want to use the config file because we can'

[2020-10-20 20:30] scorsi commented on #1083
I succeed to make it works so I have my answer :)

[2020-10-20 20:30] #1083 closed

[2020-10-20 22:57] mateja176 commented on #1061
Of course, here's the [repo](https://github.com/mateja176/graphql-mesh-limit) with the minimal reproduction.

[2020-10-21 01:25] ardatan commented on #1085
Could you create a reproduction for the first issue? And for the second one, you can add `selectionSet` for additionalResolvers like below;
[code]

[2020-10-21 06:46] scorsi commented on #1085
@ardatan awesome it works like that ! I have to say that the documentation about that feature is very poor. :) But for now I have all the necessary informations. GraphQL-Mesh is really a good fit for my project.

You don't know how I can set an object inside the `args` value ?

I will create a repository but it's actually using Bazel as build system, I will try to make it easy to use and test with

[2020-10-21 07:07] scorsi commented on #1085
Here's the repository: https://github.com/scorsi/graphql-gateway-grpc-services.
You have to run `npm install` then `make run_products` and `make run_reviews`, when both are finally built (may be long) you can run `make run_gateway` to run GraphQL.
Here's the GraphQL example:
[code]
Thanks !

[2020-10-21 17:19] tatemz commented on #1071
Okay, I shifted gears and am starting with reflection support. I did fiddle with using statically generated descriptor sets, but was having some trouble with decoding them.

Check out https://github.com/Urigo/graphql-mesh/pull/1086. Once reflection is working. It shouldn't be too hard to also support file descriptor sets.

[2020-10-22 21:10] saerdnaer commented on #643
@ardatan Can you provide to a sample CodeSandbox were the libraries are already set up?

[2020-10-23 01:03] ardatan commented on #643
You can find different types of examples on `TRY OUT LIVE` section of the website;
https://graphql-mesh.com
![image](https://user-images.githubusercontent.com/20847995/96944850-096bfd00-14aa-11eb-9f47-a14add971873.png)

[2020-10-24 09:23] ilovejs commented on #1081
weather bit changed their api. If you fix the infered type name like my codesandbox. It would work.

Why i think it's a bug.
So, goto graph mesh landing page.
Click try live
Go down to try that example.
No data displayed.

[2020-10-26 07:05] ardatan commented on #1075
GraphQL Mesh generates a GraphQLSchema object that can be passed to any kind of GraphQL Server.
[code]
or you can directly use GraphQL Mesh CLI to serve your GraphQL API so in this case context will be upcoming HTTP request.

[2020-10-30 08:20] gaetansnl opened #1113 "Option to choose between query and mutation for OpenApi"
Hello !
I have an api with an openapi schema with all endpoints using POST. But some of the endpoints are in reality queries. Is there an option to choose between query and mutation for each endpoint ?
Thank you

[2020-11-01 15:50] tvvignesh opened #1114 "data, errors not available in generated SDK"
Hi. I was able to generate the SDK and types properly from my GraphQL schema and operations via mesh and import it into the code, but I was not able to find either `data` or `errors` keys as suggested here: https://graphql-mesh.com/docs/recipes/as-sdk

`const { data, errors } = await sdk.myQuery({ someVar: 'foo' });`

<img width="508" alt="1" src="https://user-images.githubusercontent.com/1165845/

[2020-11-01 20:34] anshumanpurohit opened #1115 "Invalid JSON Pointer Syntax ..."
I'm getting the following error when I issue `yarn graphql-mesh serve`

error: Unable to serve mesh:  Invalid JSON Pointer syntax. Non-empty pointer must begin with a solidus `/`. {"stack":"ReferenceError: Invalid JSON Pointer syntax. Non-empty pointer must begin with a solidus `/`.\n

My `.meshrc.yaml `

[code]

Please help!

[2020-11-02 12:23] ardatan commented on #1114
Sorry for that, SDK example in the website seems wrong. I fixed that. You should use a try/check block.

[2020-11-02 12:37] tvvignesh commented on #1114
@ardatan Ah. Thanks for the clarification. Will close this then.

[2020-11-02 12:37] #1114 closed

[2020-11-02 16:37] RoryKelly opened #1120 "When generating SDK add option to export schema."
I use postgraphile, I want to export the schema everytime I generate a new SDK to help with auto complete in my IDE.

[2020-11-04 21:47] glennblock opened #1128 "Error trying to generate SDK using the odata-microsoft example"
I am trying to use mesh to generate a client SDK using the odata-microsoft example.

I modified the `index.html`, added my clientid, and then modified the `.meshrc.yml` to allow passing in the token as an env var.

After setting the var, when I go to generate the SDK using this command `graphql-mesh mesh generate-sdk --output ./sdk.generated.ts`, I get the following error

[code]

Any help is appr

[2020-11-05 17:18] glennblock commented on #1128
@ardatan any thoughts?

[2020-11-06 22:54] jakeblaxon opened #1130 "redis cache issues"
Hello, I've noticed two issues when trying to use the redis-cache plugin:

1. The cache's `get` and `set` commands don't parse and stringify the values correctly. For example, we pass an object instead of a string as the value to redis's `set` command, which causes it to error out.
2. The cache doesn't handle aliases. When using aliases in my queries, the response comes back correctly the first ti

[2020-11-09 09:02] tvvignesh opened #1131 "Generic type 'IsTypeOfResolverFn' requires between 0 and 1 type arguments"
Hi. I had generated the types with GraphQL Mesh using `mesh typescript --output ./<path>/sdk.types.generated.ts`

But I get these errors when transpiling:

<img width="490" alt="2" src="https://user-images.githubusercontent.com/1165845/98520101-9d560b00-2297-11eb-9317-3c37e8fcc834.PNG">

And when I look at the generated types, I see this:

<img width="670" alt="1" src="https://user-images.githubus

[2020-11-09 09:30] tvvignesh opened #1132 "Unable to find ../../types/src when installing graphql-mesh with pnpm"
Hi. I noticed that the location of the types directory is wrong (I use `pnpm` as my package manager) and have a monorepo (pnpm workspaces), but that may not matter much here.

<img width="972" alt="1" src="https://user-images.githubusercontent.com/1165845/98523039-6f72c580-229b-11eb-8fb0-082f8f196434.png">

If you see here, the scoped packages of `@graphql-mesh` are installed but it is not able to

[2020-11-09 09:43] trecloux opened #1133 "weather/location example codegen broken"
I tried to implement play with the weather/location sample, but I'm facing this error

[code]

I investigated a bit and it looks like the issue was introduced by the https://github.com/Urigo/graphql-mesh/commit/093db12ec56b1af7502c5024d84dd9b63e958f73 commit

[2020-11-09 10:04] ardatan commented on #1130
Could you try with this canary version?
https://github.com/Urigo/graphql-mesh/pull/1134#issuecomment-723899688

[2020-11-09 10:15] ardatan commented on #1128
In the example, you used to need to provide `GRAPH_VERSION` env variable to make it work with Mesh CLI. Now you don't need after this commit;
https://github.com/Urigo/graphql-mesh/commit/5af8db4fc9df9d10a25cc22c944b89b5eaee2b15
And when I run `yarn mesh generate-sdk --output ./sdk.generated.ts` under `odata-microsoft` folder, it works properly now. Could you update your local branch and try again?

[2020-11-09 11:07] tvvignesh commented on #1132
I guess it should be `../types` instead of `../../types/src` - that works for me (not sure though)

[2020-11-09 11:19] tvvignesh commented on #1132
Also, since pnpm requires all deps of a package to be defined in package.json I don't see `fetchache` installed automatically since it is not defined in `package.json` deps.

As https://github.com/pnpm/pnpm says `Strict. A package can access only dependencies that are specified in its package.json`

But I don't find a package called fetchcache in npm: https://www.npmjs.com/search?q=fetchcache
Saw

[2020-11-09 17:06] jakeblaxon commented on #1130
That looks to have solved the first issue. I'm still having problems with aliases, though.

[2020-11-09 17:24] jakeblaxon commented on #1130
Looking at the difference, I see that the following fields are in the initial result but not the cached result:

[code]

Since symbols can't be stringified, this makes sense that they're getting left out. I wonder if the alias information is somehow being stored in these fields that are getting discarded. I am using a custom transform that uses @graphql-tools/stitch to transform the schema, so may

[2020-11-10 00:25] ardatan commented on #1061
It is available in the latest version!

[2020-11-10 00:25] #1061 closed

[2020-11-10 01:38] ardatan commented on #1133
Fixed with the latest release!

[2020-11-10 01:38] #1133 closed

[2020-11-10 11:58] hulucc opened #1140 "GraphQL multipart request specification Support with graphql handler?"
https://github.com/jaydenseric/graphql-multipart-request-spec

We are using graphql file upload, it seems not working with graphql-mesh with graphql handler at all

The `Upload` scale became `{"promise":{}}` after graphql-mesh, and Content-type should be `multipart/form-data` but actually `application/json`

[code]

[2020-11-11 13:03] ajzozakiewicz opened #1142 "Service Polling / Live Schema Updates - Possible?"
It is possible to have the mesh gateway poll running services for schema changes? Or trigger it to reload its sources somehow?

Current code snippet I am experimenting with:

[code]

[2020-11-12 12:10] tvvignesh opened #1144 "Ability to select fields with GraphQL handler"
Hi.  I got setup with `graphql-mesh` and wanted to use it for inter-service communication among other things.

So, I had put it on top of GQL endpoints of services. While it is able to generate the types properly, may I know how I can pass in a selectionset while calling the SDK function?

For instance, if I do to get posts:

[code]

It is going to execute a GQL query underneath which is great. Bu

[2020-11-12 13:12] ardatan commented on #1144
You can create your own GraphQL operations to generate an SDK. Only if you don't provide any, it generates those operations for you only for the first depth level.
https://graphql-mesh.com/docs/recipes/as-sdk#generate-advanced-sdk-with-custom-graphql-operations

[2020-11-12 13:24] tvvignesh commented on #1144
@ardatan OOPS. My bad. Missed that part in the docs. Thats what I wanted to do. Thanks. I will dig into that a bit more.

[2020-11-12 13:24] #1144 closed

[2020-11-12 13:36] ardatan commented on #1144
Feel free to ask anything if you have any issues with it!

[2020-11-12 14:07] Kiesen commented on #1081
Hi @ilovejs, @ardatan

Today I ran into the same issue and also discovered something else but I'm not sure if I've done something wrong.

1. What @ilovejs mentioned is true the Weather Bit API changed and the used types in the additional resolvers are not correct any more. Basically `getForecastDailyLatLatLonLon` needs to get changed to `getForecastDailyLatequalToLatLonLon`

2. If I install the pr

[2020-11-12 14:33] ardatan commented on #1081
@Kiesen We'd love to accept a PR :)

[2020-11-12 15:16] Kiesen commented on #1081
@ardatan I opened a PR: https://github.com/Urigo/graphql-mesh/pull/1145

Let me know inside the PR if there is anything else to do.

[2020-11-12 15:23] tvvignesh commented on #1132
<img width="694" alt="1" src="https://user-images.githubusercontent.com/1165845/98959188-0ef8b800-2529-11eb-91dc-cd75d2b3d166.png">

[2020-11-13 17:29] yann-combarnous opened #1146 "[OpenAPI] Feature suggestion: add option to not add header parameters to GraphQL schema"
Open API defines parameters for header in endpoint (https://swagger.io/docs/specification/describing-parameters/).

See example below
[code]

Would it be offer a setup in meshrc to have header parameters not added to GraphQL schema? It looks like adding token for instance as part of query parameter may not make sense in some scenarios.

Ideally headers would be copied from request to underlying Op

[2020-11-16 07:24] #1146 closed

[2020-11-16 10:25] yann-combarnous opened #1147 "[Typescript] Generation output error when a rename global transform is used"
When a rename global transform is added, typescript generation will generate a mix of old name and new names types, invalidating by such the types. This does not happen on source transforms.

**Steps to reproduce:**
In `.meshrc.yaml`, add a transform to rename:
[code]

Using client, generate types, result is:
[code]

Typescript error: `Cannot find name QueryFindAllBuildingsArgs`

[2020-11-16 17:22] yann-combarnous commented on #1131
Same here, too bad as it makes types unusable.

[2020-11-17 08:35] yann-combarnous commented on #1147
Need to re-open with codesandox to reproduce

[2020-11-17 08:35] #1147 closed

[2020-11-17 09:48] hulucc commented on #1140
Solved by write my own resolver to support upload.

[2020-11-17 09:50] hulucc opened #1148 "Support for naming convention transform of root operations?"
The prefix transform support root operations but naming convention don't, which no make sense.

The naming convention simply break after `bms` prefix
![image](https://user-images.githubusercontent.com/4343900/99374397-7fbf1c00-28fd-11eb-9b97-7ea8247f82f9.png)

[2020-11-17 10:03] Yatskov commented on #1140
Hello @hulucc , can you tell us more about your solution? Maybe share a code? Do you use a diffrent endpoint for file uploads or use resolverComposition somehow?

[2020-11-17 12:08] naadev opened #1149 "Security Issues detected by Aqua"
Hello!

We're creating a container to deploy graphql-mesh as part of a Proof of Concept.

We have submitted the working container (works nicely locally) but when submitting into our container image repository, which includes a security analysis, we have found the following critical vulnerability has been found:

CVE-2019-10744

It seems to be related to the use of an old version of lodash.merge pa

[2020-11-17 14:36] ardatan commented on #1148
Could you share a reproduction on CodeSandbox?

[2020-11-17 23:17] #1081 closed

[2020-11-17 23:17] ilovejs commented on #1081
All good ! thanks guys :)

[2020-11-18 18:31] yann-combarnous opened #1156 "Documentation example for stitching schema without JS code generates error"
**Steps to reproduce:**
- Use code provided in https://graphql-mesh.com/docs/getting-started/multiple-apis for no Javascript resolvers
- Run below query:

[code]

**Expected result**
Query should run

**Actual result**
Error:
[code]

** Code Sandbox**

https://codesandbox.io/s/mesh-stitching-nojs-issue-b2evi

[2020-11-19 08:07] angelsvirkov opened #1157 "Feature request: Add support for passing in a mysql pool to the MySQLHandler"
Hello, I would like to request the following feature for the `@graphql-mesh/mysql` handler. I would like to be able to pass in an existing mysql pool to the constructor object instead of `config`, when I am using the graphql mesh and its handlers in a programmatic way. In other words, I would like to invert the control of the pool and leave it to the users of the API. So the API should either work

[2020-11-19 09:22] ardatan commented on #1157
I created a PR for this feature;
https://github.com/Urigo/graphql-mesh/pull/1158
`pool` accepts `modulePath#exportName` or `Pool` instance directly in programmatic configuration. If you want to stick with `.meshrc.yml`, you can use `findAndParseConfig` and `getMesh` in your application so `Pool` will be shared.

[2020-11-19 09:24] angelsvirkov commented on #1157
Ah no. I just created a PR for this, as well. Tried doing my first open-source contribution. Looks like you have done it already 😢 . But anyway, thank you very much

[2020-11-19 11:52] ardatan commented on #1157
I am sorry :(
Available in the latest versions.

[2020-11-19 11:52] #1157 closed

[2020-11-19 12:44] cihati opened #1161 "Better documentation for Resolvers Composition Transform"
When I look at https://graphql-mesh.com/docs/transforms/resolvers-composition , it seems quite incomplete:
1) It doesn't mention that the `composer` field can take a function or a file path
2) What are each of `root`, `args`, `context`, `info`? Are they always populated, what are some example values in each?

Thanks!

[2020-11-19 15:31] angelsvirkov commented on #1157
@ardatan , found a minor bug inside the existing implementation for this feature. I have opened a corresponding PR fix.

[2020-11-23 11:44] hulucc commented on #1148
https://codesandbox.io/s/prefix-and-naming-convention-cuzij

![image](https://user-images.githubusercontent.com/4343900/99958394-4a667280-2dc4-11eb-99d6-473390d5141b.png)

[2020-11-23 12:01] ardatan commented on #1148
The operation starts with `find` and it becomes `bmsfind`(considered as a single word) when we add `bms` there. You should change it to `bms_`.

[2020-11-24 03:00] hulucc commented on #1140
The same endpoint and `resolverComposition` is not enough to implement this because it can not get endpoint infomation, so I implemented my own graphql handler inheriting the existing one.

[2020-11-24 03:15] hulucc commented on #1148
Interesting. After use `bms_` prefix, it works as expect.

![image](https://user-images.githubusercontent.com/4343900/100042404-5430ba00-2e46-11eb-89ca-d7875b79a641.png)

[2020-11-24 03:17] #1148 closed

[2020-11-24 14:35] ardatan commented on #1140
@hulucc Maybe you can create a PR that adds this feature?

[2020-11-24 22:32] bsara opened #1177 "Make `get` prefix of generated Query field names optional"
Currently, if I were to use a handler like `@graphql-mesh/mysql`, all of the generated fields under `Query` would be prefixed with `get`. This is a pattern that is contrary to every example one can find in the official documentation for the GraphQL standard and also, arguably, misrepresents what a `Query` field is _(it is just a field, nothing special about it from other type fields, they are just

[2020-11-26 18:03] #1131 closed

[2020-11-26 22:10] n1ru4l commented on #1161
Additional question: Is it possible to alter the selection set for the execution of the wrapped resolver?

[code]

[code]

[2020-12-01 09:49] skayred commented on #1075
Thanks! I have successfully used context builder to pass JWT and Jaeger token to my underlying services.

[2020-12-01 09:49] #1075 closed

[2020-12-02 07:45] hulucc opened #1190 "`Cannot read property 'name' of undefined` caused by enum naming convention"
https://codesandbox.io/s/prefix-and-naming-convention-cuzij

![image](https://user-images.githubusercontent.com/4343900/100843370-38b45780-34b5-11eb-8c30-8bdb29985d29.png)

When set prefix transform, fieldNames naming convention and enum nameing convention at same time, all query and mutation would get this error.
[code]

I dig a little in the source code, find out the field object tranformer set

[2020-12-02 08:05] hulucc commented on #1142
I need this too.

[2020-12-07 10:46] AnatoliiKolesnyk opened #1255 "Parameters with `explode: true` are not passed correctly"
Hi everyone and thanks for looking into my issue!

I have created simple repo that makes it possible to reproduce the bug without too much of the setup:
[repo link](https://github.com/AnatoliiKolesnyk/graphql-mesh-bug).

The issue in a nutshell:
I have this simple GraphQL Mesh config:
[code]

And simple server that logs every incoming request's URL described with this Open API file:
[code]

When I

[2020-12-07 10:47] AnatoliiKolesnyk commented on #1255
@dotansimha You are the person who responded to my message, so ping you here 😄 . Thank you a lot!

[2020-12-07 10:50] dotansimha commented on #1255
@ardatan can you please take a look?

[2020-12-07 13:08] paales opened #1256 "Regression: TypeError: utils.applySchemaTransforms is not a function"
[code]

Just updated to the latest version and now getting this error.

<img width="505" alt="Schermafbeelding 2020-12-07 om 13 27 28" src="https://user-images.githubusercontent.com/1244416/101350839-f95c8100-388f-11eb-8a82-e38ba95acc9a.png">

If I downgrade everything works as expected

[2020-12-07 13:15] paales opened #1257 "additionalResolvers child field arguments aren't passed through to the backend"
Added the following to my .meshrc.json, this does seem to work:

[code]

To fetch the data I can now do:

[code]

What I'd expect:
I'd expect the `pageSize: 2` to be passed.

What actually happens:
It doesn't pass the argument and returns too many results

<img width="2239" alt="Schermafbeelding 2020-12-07 om 14 14 42" src="https://user-images.githubusercontent.com/1244416/101355237-95898680-3896-

[2020-12-07 18:15] mjbcopland opened #1259 "Schema stitching is broken since graphql-tools v7 upgrade"
Specifically https://github.com/Urigo/graphql-mesh/pull/1184.

One of the changes is that `transformedSchemas` no longer exists on the stitching info object. https://github.com/ardatan/graphql-tools/blob/d55c815/packages/delegate/CHANGELOG.md#schema-stitching-stitchschemas--graphql-toolsstitch

[code]

This wasn't caught by TypeScript even though the interface has changed because the extensions ob

[2020-12-08 00:35] siddharthsharma94 commented on #1054
Works. 👍🏽

[2020-12-08 06:02] #1054 closed

[2020-12-08 08:16] ardatan commented on #1259
@mjbcopland We're working on that right now. A patch release will be available soon 👍

[2020-12-08 09:35] ardatan commented on #1259
It's been fixed in the latest versions. Could you update and try again?

[2020-12-08 09:52] AnatoliiKolesnyk commented on #1255
@dotansimha @ardatan I've tried also combinations of `style: matrix` and `style: simple` with `explode: true` and `explode: false` and it has no effect on the resulting request URL.
It seems like either something is really wrong with my config or that `style` and `explode` parameters change nothing at all.

[2020-12-08 10:23] mjbcopland commented on #1259
Have just updated, looks to be working again. Thanks for the quick turnaround!

[2020-12-08 10:23] #1259 closed

[2020-12-08 10:32] AnatoliiKolesnyk commented on #1255
Can this be the root cause: https://github.com/IBM/openapi-to-graphql/pull/312 ?

[2020-12-08 17:10] alexlag opened #1272 "handlers/graphql: Exported GraphQLSchema support breaks url endpoints"
This new condition

https://github.com/Urigo/graphql-mesh/blob/64ff3df0cb2e59fa83d4775e7bd4da692801e3ac/packages/handlers/graphql/src/index.ts#L31

 matches http endpoints (e.g. `https://graphql-weather-api.herokuapp.com/graphql`) and further attempt to load it fails with `Error: Cannot find module 'https://graphql-weather-api.herokuapp.com/graphql'`.

Also, this line contains two identical checks

[2020-12-08 17:28] willrbc commented on #1272
Concur, have this issue.

Can workaround by adding a query string on the end like this:

[code]

[2020-12-08 17:40] ardatan commented on #1272
Fix will be available in a few minutes
`@graphql-mesh/graphql@0.9.2`

[2020-12-08 17:46] ardatan commented on #1140
Multipart support is available with defining `multipart: true` in graphql handler configuration in the latest version.

[2020-12-08 17:46] #1140 closed

[2020-12-08 21:15] #1272 closed

[2020-12-08 21:15] ardatan commented on #1256
Is this still relevant after updating all dependencies?

[2020-12-09 11:14] paales commented on #1256
After upgrading again everything seems to be working! Not sure if it was fixed in a later release, but seems to be working now.. Thanks for the feedback!

[2020-12-09 11:14] #1256 closed

[2020-12-11 10:25] IvBre opened #1288 "Remove specific prefix from the generated types"
Hello,
We are trying out your product to generate the GraphQL schema based on our gRPC microservices.

Since all of our Protobuf messages contain prefix Proto to be able to distinguish the generated classes from regular classes, we ended up having GQL schema with Proto prefix as well. This, of course, doesn't look nice for the clients, so I was wondering is it possible to have another type of "tra

[2020-12-11 11:49] germankrause opened #1289 "@graphql-mesh/config: Cannot find module"
Hi there! I'm facing an issue with generated `.d.ts` files in the `@graphql-mesh/config` package. I've installed the next packages:
[code]
And I'm trying to `import { processConfig } from '@graphql-mesh/config';`. The TypeScript's compiler shows me the next error log:
[code]
Then I've tried to add `import { MergerFn, MeshPubSub, MeshTransform, YamlConfig } from '@graphql-mesh/types';` and remove a

[2020-12-11 12:32] ardatan commented on #1289
Will be available in the latest version in a few minutes!
Thanks!

[2020-12-11 12:32] #1289 closed

[2020-12-11 12:33] ardatan commented on #1288
Will be available in the latest version in a few minutes!
You can change your type names using regular expression with rename transform like below;
[code]

[2020-12-11 12:33] #1288 closed

[2020-12-11 13:19] IvBre commented on #1288
Wow, that is awesome! Thanks a lot!

[2020-12-12 13:30] paales commented on #1257
Also, it seems that is requesting every field on the planet from the backend instead of only selecting the fields that are requested. I was wondering if this could be cleaned up in some way, as this chokes the backend?

I was already trying to figure out why it was choking when I set the depth to a relatively high value, but that explains it.

<img width="1617" alt="Schermafbeelding 2020-12-12 om

[2020-12-14 08:35] asherccohen opened #1304 "Api source yaml file cannot be read if set with env variables"
Versions:
[code]

Context:
.meshrc.yaml file can be written with interpolation of environment variables so that one can keep IPs and other tokens in an .env file. This is particularly useful for CI/CD and other staging automation.
Dotenv package needs to be installed and imported in server index file like in this codesandbox:
[https://codesandbox.io/s/musing-tree-8voqb?file=/src/index.ts:0-23](url

[2020-12-14 08:49] ardatan commented on #1304
I don't think the problem is caused by using env variables. Does it work well when you write IP addresses manually? `fetchache` is our internal library that handles HTTP requests by respecting cache headers like browsers but on the server side. :)

https://unpkg.com/@graphql-mesh/openapi@0.10.13/index.cjs.js
I can see the correct code in here. Maybe you're using an old version.

[2020-12-14 09:34] asherccohen commented on #1304
Ok true, I did update packages but some weird cache might have got into the way, a nice wipeout of the node_modules did the trick and now optional chaining is compiled correctly and I passed over the "Cannot read property 'title' of undefined" error even with env variables.
Surely and issue that was already fixed.

Great, thanks for that.

[2020-12-14 11:17] asherccohen commented on #1304
I need to reopen this to clarify a point.

I have this command to generate the types.
    "mesh:ts": "graphql-mesh typescript --output ./src/mesh/__generated__/types.ts"

Once again, if I run this with an env variable set I get:

[code]

Path is again missing the endpoint from env vars.

[2020-12-14 13:53] ardatan commented on #1304
You need to load dotenv with require parameter;
`graphql-mesh typescript --require dotenv/config --output ./src/mesh/generated/types.ts`

[2020-12-14 15:25] clarkekawakami opened #1306 "JWT with gRPC handler feature request"
The gRPC handler does not support setting and passing a JWT back to gRPC microservices. I have this requirement and believe that it would increase the value of graphql-mesh.

My specific requirements are:

1. Authentication is handled by a gRPC microservice which provides a JWT and is used by a suite of other grpc microservices.
2. I need to grab the JWT provided in the login response and send it

[2020-12-15 07:53] asherccohen commented on #1304
Brilliant, tx!

[2020-12-15 07:53] #1304 closed

[2020-12-17 13:07] paales commented on #1257
@ardatan Maybe I can help with implementing the feature, but I hit a roadblock, maybe you can help a little bit

I can't find any existing tests that test the current additionalResolvers functionality. Maybe you can help me and set up a test?

Maybe a small thing: The additionalResolvers are handled in the config package, doesn't seem the right place for such a functionality?

[2020-12-18 03:16] hulucc opened #1320 "new rename breaks federation"
As the title.

[2020-12-18 08:19] ardatan commented on #1320
Could you give more details and a minimal reproduction? How does it break?

[2020-12-20 02:52] donedgardo commented on #1113
I've tried the rename transform but didn't work:

[code]

[2020-12-20 14:06] ardatan commented on #1113
@donedgardo I think your config is not correct. Did you check the docs?
https://graphql-mesh.com/docs/transforms/rename

[2020-12-21 17:40] santino commented on #1113
Hey @ardatan,
I'm also having the same issue and I believe my config is correct; here it is:
[code]

My understanding is that rename transform only allows to actually rename fields or types but not moving fields under different types.
If I try to just rename `myField` into `myRenameField` on the same type (in this case `Mutation`) this works correctly; but when trying to "move" from `Mutation` to

[2020-12-21 17:56] coradinibr opened #1325 "OpenAPI handler: Passing API Key via query parameters + generate sdk issues"
Is there a way to pass API Key via query parameters without having to create a resolver myself?
Here is a sandbox as example: https://codesandbox.io/s/angry-goldwasser-qsen0
If you run the example graphql query from above, you'll get a 401 (unauthorized) because `qs` parameters are not being added to the REST request.

In the same sandbox, if you try to generate the sdk by running `yarn generate-s

[2020-12-21 18:12] jhuggart opened #1327 "Federation transform "should have required property 'encapsulate'""
I'm attempting to wire up federation and I am seeing the following error on each run of `yarn graphql-mesh serve`.

[code]

Looking at the [config-schema.json](https://github.com/Urigo/graphql-mesh/blob/master/packages/types/src/config-schema.json), I do not see any references to "encapsulate" under the "federation" transform. Any idea what I'm missing?

Here is my .meshrc.yaml:

[code]

[2020-12-21 18:26] jhuggart commented on #1327
I do see that `encapsulate` is required at the `transforms` root. But when I update the file to look like below, the error simply changes to `data.sources[0].transforms[1] should have required property 'encapsulate'`

[code]

[2020-12-21 23:36] ardatan commented on #1327
Patch release with the bugfix will be available in a few minutes! Could you try and let us know if it works?

[2020-12-22 09:45] tvvignesh commented on #1327
@dotansimha This was the error which I had discussed with you.

[2020-12-22 09:59] tvvignesh opened #1329 "Adding encapsulate possibly breaks the SDK execution"
Hi. I have recently added `encapsulate` in `.meshrc` adding specifying something like this:

[code]

After doing this, I rewrote all my queries and mutations adding encapsulation like this:

[code]

And also regenerated the SDK and types after this, adjusted my code to convert something like

[code]

to something like:

[code]

Now, the SDK does not return any result after adding encapsulation whi

[2020-12-22 10:04] tvvignesh commented on #1329
Got the update from @dotansimha that you guys are already investigating this. Will wait. Thanks.

[2020-12-22 10:44] dotansimha commented on #1329
@ardatan

[2020-12-22 10:58] ardatan commented on #1329
@tvvignesh @dotansimha  I don't have the issue with queries. In my scenerio, queries work as expected while mutations get executed as expected but there is no value returned.
And I have the same results with both SDK and playground. But @tvvignesh you also have issues with queries.

[2020-12-22 11:16] tvvignesh commented on #1329
@ardatan Yup. I do have issues with queries after using encapsulation. Anything you would want me to check on my end?

[2020-12-22 11:35] ardatan commented on #1327
@tvvignesh Does it remain after updating the dependencies?

[2020-12-22 11:40] tvvignesh commented on #1327
@ardatan This is not a big deal for me now, since I managed to work around it.

This does not throw error:

[code]

This does:

[code]

[2020-12-22 12:13] tvvignesh commented on #1327
@ardatan Checked the same with the updated version and I can confirm that the errors are no longer thrown in both case 👍

[2020-12-22 12:19] tvvignesh commented on #1329
Also was wondering. If I am right you need both encapsulate and prefix to avoid conflicts in the mesh types right?

For instance, if you had a input type say `createAccountsInput` coming from multiple GQL Schemas, I am not sure how encapsulation will actually separate the input types in the dumped schema. since there are essentially 2 input types of the same name without prefix.

Am I right in my

[2020-12-22 12:28] #1327 closed

[2020-12-22 13:23] cihati commented on #1306
@clarkekawakami FWIW, we achieved JWT authentication by adding the following under the `grpc` key in sources

[code]

Basically, we pass a JWT from the frontend inside `Authorization` header, and put it into `authorization` gRPC metadata, and do the JWT verification in the backend.

[2020-12-22 14:21] tvvignesh commented on #1329
At this point, this seems rather strange. I have to use encapsulate to encapsulate root queries and mutations and prefix to avoid conflicts in the rest of the types. Why not just 1 to do both? I may be wrong. Adding both encapsulate and prefix creates redundancies like this:

<img width="209" alt="1" src="https://user-images.githubusercontent.com/1165845/102898123-13e94980-448f-11eb-9987-72cc9d2dc

[2020-12-22 15:10] clarkekawakami commented on #1306
I have added the metaData key to my grpc source in .meshrc.yaml
sources:
- name: MService
handler:
grpc:
endpoint: 10.0.0.14:50051
protoFilePath:
file: MServiceAccount.proto
load:
includeDirs:
- ./protos
serviceName: MServiceAccount
packageName: org.gaterace.mservice.account
metaData:
authorization: ["headers", "authorization"]

I then set the HTTP header in the playground:

{
  "Authorization": "

[2020-12-22 15:26] jhuggart commented on #1327
Thanks for the reply and the fix @ardatan

[2020-12-22 16:21] cihati commented on #1306
I don't know where you get the "not authorized". First, make sure that the `authorization` metadata is passed to `MService` AND you do whatever validation of the token there. Maybe it is actually an invalid token?

[2020-12-22 16:29] clarkekawakami commented on #1306
that is the error message returned from the grpc microservice.

the token is valid as it is the one that is returned from the login
mutation.

how can i validate what, if anything, is being sent back to the grpc
microservice from graphql-mesh?

thanks.

..clarke

On Tue, Dec 22, 2020, 11:21 AM Cihat Imamoglu <notifications@github.com>
wrote:

[2020-12-22 17:11] dotansimha commented on #1329
@tvvignesh actually, I think we can do both, maybe `encapsulate` can allow you to prefix all the types from that handler, it will make it's usage simpler. @ardatan what do you think?

[2020-12-22 17:49] tvvignesh commented on #1329
Btw, on a different context, I guess the `yaml-schema` is not updated and throws error (not important or of concern to me, just thought of letting you know)

<img width="236" alt="Screenshot 2020-12-22 231035" src="https://user-images.githubusercontent.com/1165845/102917310-017d0900-44ab-11eb-8592-b232576ca463.png">

[2020-12-22 19:14] clarkekawakami commented on #1306
After looking at the code I figured out what I need to do and I have this
working.

Thank you.

--clarke

On Tue, Dec 22, 2020 at 11:28 AM Clarke K <clarke.kawakami@gmail.com> wrote:

[2020-12-22 19:34] ardatan commented on #1306
@clarkekawakami Did you solve the problem? So can we close this?

[2020-12-22 19:44] clarkekawakami commented on #1306
Yes, thank you for your help.

--clarke

On Tue, Dec 22, 2020 at 2:34 PM Arda Tanrıkulu <notifications@github.com>
wrote:

[2020-12-22 19:55] #1306 closed

[2020-12-22 22:35] glennblock commented on #1128
Just tested, that worked. Thanks!

[2020-12-22 22:36] #1128 closed

[2020-12-23 08:46] tvvignesh commented on #1329
@ardatan Upgraded all packages to latest. The issue with duplication as pointed out here: https://github.com/Urigo/graphql-mesh/issues/1329#issuecomment-749563128 is fixed but the issue with queries still does exist giving me null results.

I hope I am not doing anything wrong here.

For context, these are the versions I am using now with everything upgraded to latest:

[code]

In the same context

[2020-12-23 09:11] tvvignesh commented on #1329
@ardatan @dotansimha Upgraded everything to latest. I can now confirm that both the issues (https://github.com/Urigo/graphql-mesh/issues/1329#issuecomment-749563128 and the issue with queries and mutations) are fixed and it works properly now.

Thanks a lot 👍

[2020-12-23 09:12] #1329 closed

[2020-12-24 09:21] ardatan commented on #1320
Feel free to create a new issue with a minimal reproduction on CodeSandbox

[2020-12-24 09:21] #1320 closed

[2020-12-24 16:00] tvvignesh opened #1339 "Mesh SDK execution fails"
I just got a huge scary error today when I called an SDK function. This error occurs at runtime when the call is made and there are no syntactical errors.

1) I tried running the raw query directly in the database (Dgraph) and it is valid and works.
2) I also tried hardcoding the inputs strings in the query but still get the same error.

Not sure how to debug this. Any clues? Thanks,

[code]

[cod

[2020-12-24 17:24] tvvignesh commented on #1339
**UPDATE:** Unlike last time, the queries work well with encapsulation now but all mutations fail with latest packages. Moved away again from encapsulation to using only prefix and rewriting it all again and the errors are now gone.

I will stay away from encapsulation for some time. Don't want to rewrite everything again 😅

[2020-12-24 17:55] ardatan commented on #1339
Is this `updatedAuthMethod` coming from additionalTypeDefs and additionalResolvers? It seems it is coming from stitching packages of graphql-tools?

[2020-12-24 17:57] ardatan commented on #1325
@coradinibr Generating SDK without operations is still experimental so does the error remain when you provide your own operations for SDK(this would be more consistent for production usages)?

[2020-12-24 19:29] tvvignesh commented on #1339
@ardatan `updatedAuthMethod` is the custom mutation I wrote - nothing special. Just calling a mutation to the backend via the mesh.

Not doing anything else from my end in this case. The error occurs when the SDK call happens (when the mutation is encapsulated). Now that I have removed the encapsulation, errors went away.

Not sure what you mean here by `additionalTypeDefs` and `additionalResolver

[2020-12-24 19:37] tvvignesh commented on #1339
For context, this is the PNPM Lockfile with all the deps: https://gist.github.com/tvvignesh/b882379b25db4629fb29f3330ba0957c

[2020-12-24 21:28] yaacovCR commented on #1339
Are you able to log the query hitting dgraph prior to it failing? It looks like aliases used for batching are not working right, or not working right with __typename, prefixing, etc. What actually gets sent?